/*! user.css 2021.10.22. ArticleJS $
 +++++++++++++++++++++++++++++++++++++
 *  用户页样式
 *
 *  @author 风林 zhliner@gmail.com
 *
 ******************************************************************************
 */

main {
    display: flex;
    flex-direction: column;
    width: min-content;
}
main h1 {
    margin: auto;
    padding-bottom: 1.7em;
}
main h1::before {
    content: '';
    display: inline-block;
    width: 72px;
    height: 72px;
    background-image: url('docs/images/cooljed.png');
    background-size: 72px;
    margin-bottom: -5px;
    filter: grayscale(1);
}
main nav {
    display: flex;
    gap: 1em;
    padding: 0 15px;
}
nav > b {
    font-style: italic;
    cursor: pointer;
    color: #3494f4;
}
nav label {
    color: #01839d;
}
nav > span:nth-of-type(1) {
    margin-left: auto;
}
nav > span > a {
    display: inline-block;
    width: 1.5em;
    text-align: center;
    color: orange;
    font-size: 0.7em;
    border: 1px orange dotted;
    border-radius: 10px;
    font-family: monospace;
    text-decoration: none;
}
#editorBox {
    display: inline-block;
    flex: 1 1 auto;
    width: 1050px;
    height: 800px;
    resize: both;
    overflow: hidden;
    padding: 8px;
}
/* 编辑器最大化 */
#editorBox._full > iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}