/*! user.css 2021.10.22. ArticleJS $
 +++++++++++++++++++++++++++++++++++++
 *  用户页样式
 *
 *  @author 风林 zhliner@gmail.com
 *
 ******************************************************************************
 */

body {
    margin: 0;
}
body a {
    text-decoration: none;
}

nav._top {
    display: flex;
    font-size: 10pt;
    background-color: #171717;
    padding: 4px;
}
nav._top > b {
    font-weight: normal;
}
nav._top > b:last-child {
    margin-left: auto;
    margin-right: 1.2em;
}
nav._top svg {
    margin-bottom: -2px;
    margin-right: 4px;
}
nav._top a {
    color: gray;
}
h1 {
    color: #606060;
    background-color: #171717;
    padding-left: 1.5em;
    padding-bottom: 0.55em;
    margin-top: -0.6em;
    margin-bottom: 0;
}
h1::before {
    content: '';
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url('icons/cooljed.png');
    background-size: 80px;
    margin-bottom: -8px;
    filter: grayscale(1);
}
main nav {
    display: flex;
    gap: 1em;
    background-color: #ab470d;
    padding: 5px 1em 7px;
    color: #dadada;
    font-size: 11pt;
}
main nav > b {
    cursor: pointer;
    font-weight: normal;
    font-style: italic;
}
main nav > b:hover {
    text-decoration: underline;
}
main nav label {
    font-size: 14px;
}
main nav > span:nth-of-type(1) {
    margin-left: auto;
}
main nav select {
    background-color: #893301;
    border: 1px #f08241 solid;
    color: #ffc353;
    outline: none;
}
main nav > span > a {
    display: inline-block;
    width: 1.5em;
    text-align: center;
    font-size: 0.7em;
    border: 1px orange dotted;
    border-radius: 10px;
    font-family: monospace;
    color: currentColor;
}
#editorBox {
    flex: 1 1 auto;
    height: 880px;
    resize: vertical;
    overflow: hidden;
    padding: 4px 12px;
}
/* 编辑器最大化 */
#editorBox._full > iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: white;
}