/*! default.css 2019.11.16. Tpb.CSS $
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 *
 *  基础PB样式定义
 *  实现一些基础性的效果，比如元素折叠、隐藏、子菜单等。
 *
 *  元素的 data-pb 属性值例如：<span data-pb="args-one-two opt1 opt2"></span>
 *  根据 CSS 的选择器能力被描述为两个部分。
 *
 *  1. 参数：可采用 |= 定位的部分。如 args-one-two，可逐段选取，但有顺序限制。
 *  2. 选项：可采用 ~= 定位的部分，为参数之后空格分隔的单词。如 opt1 或 opt2。
 *
 *  对于两者的逻辑，可以这样理解以便于设计你自己的标识。
 *  - 参数：是什么，可以分层。
 *  - 选项：做什么，独立的行为。
 *
 *
 *  @author 风林 zhliner@gmail.com
 *
 *****************************************************************************/


*[data-pb] {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.24s;
}


/* 基本效果
 ***********************************************/

/* 隐藏 */
*[data-pb~='hide'] {
    visibility: hidden !important;
    opacity: 0;
}

/* 消失 */
*[data-pb~='lose'] {
    display: none !important;
}

/* 冻结 */
*[data-pb~='disabled'] {
    color: #999 !important;
    filter: grayscale(1) !important;
}

/* 折叠：
 * 隐藏除首个子元素之外的子元素。
 */
*[data-pb~='fold'] > :first-child ~ * {
    display: none !important;
}

/* 终点：
 * 隐藏后续兄弟元素。
 */
*[data-pb~='end'] ~ * {
    display: none !important;
}