/*! example.css 2019.11.16 Articlejs.Style $
 +++++++++++++++++++++++++++++++++++++++++++++
 *
 *  基本样式的格式示例，
 *  其它样式可据此结构修改创建。
 *
 *  @name   经典中灰
 *  @author 风林 zhliner@gmail.com
 *
 *****************************************************************************/


main, header, section, footer, article, figure, figcaption, hgroup, aside, details {
    display: block;
}

/* 兼容性 */
.content * {
    line-height: 180%;
}
.content img,
.content video {
    display: inline-block;
    margin: 0;
}


/* [ 全局 ]
 ****************************************************************************/

.content {
    padding: 0 20px;
    font-size: 11pt;
}

.content table {
    width: 99%;
    margin: 1em 0;
    color: #2d2d2d;
}
.content dt {
    margin: 8px 0 2px;
}
.content dd {
    margin-left: 2em;
}

/* 级联表 */
.content li > h4 {
    margin: 2px 0;
}
.content li > ul,
.content li > ol {
    padding-left: 22px;
}

.content aside {
    font-size: 10.5pt;
}

/* 主标题 */
.content h1 {
    color: #555;
    text-shadow: 0 1px 1px #eee;
    text-align: center;
    font-size: 2.2em;
}
/* 副标题 */
.content hgroup > h3 {
    font-style: italic;
    font-weight: normal;
    margin-top: -10px;
    padding: 0 20px;
    color: #888;
    text-align: right;
}

.content section > h2 {
    font-size: 1.6em;
}

.content h3 {
    font-size: 1.1em;
}
.content h4 {
    font-size: 1.0em;
}

/* 地址 */
.content address {
    padding: 2px;
}


.content blockquote > *,
.content details > * {
    margin: 0.5em auto;
}
.content aside > * {
    margin: 0.1em auto;
}

/* 内联单元显示友好 */
.content p > *,
.content li > *,
.content dd > *,
.content address > * {
    padding: 0 2px;
}


/* 提要
 * header:abstract/h3, p+
 *----------------------------------------------------------------------------
 */
.content header[role=abstract] {
    border: 1px #eee solid;
    border-radius: 10px;
    margin: 2em 0;
    padding: 10px 30px;
    background-color: #f7f7f7;
    color: #58859c;
    text-shadow: 0.3px 0.3px 5px #cfe5ed;
}
.content header[role=abstract] > h3 {
    font-size: 1.17em;
    margin: 10px;
    text-align: center;
}
.content header[role=abstract] > blockquote {
    margin: 0 1.4em;
}


/* 多级编号表
 * ol:cascade/li/h4, ol/...
 *----------------------------------------------------------------------------
 */
.content ol[role=cascade],
.content ol[role=cascade] ol {
    counter-reset: numer;
    padding: 0;
    list-style-type: none;
}

.content ol[role=cascade] h4 {
    margin: 0;
    font-weight: normal;
}

.content ol[role=cascade] li::before {
    position: absolute;
    top: 0;
    left: 0;
    content: counters(numer, '.');
    counter-increment: numer;
    white-space: nowrap;
}

.content ol[role=cascade] li {
    position: relative;
}

/* 1. */
.content ol[role=cascade] > li {
    /* 缩进，与序号宽度适配 */
    margin-left: 2.2em;
}
.content ol[role=cascade] > li::before {
    width: 1.2em;
    margin-left: -1.2em;
}

/* 1.2 */
.content ol[role=cascade] > li>ol > li {
    margin-left: 2.0em;
}
.content ol[role=cascade] > li>ol > li::before {
    width: 2.0em;
    margin-left: -2.0em;
}

/* 1.2.3 */
.content ol[role=cascade] > li>ol > li>ol > li {
    margin-left: 3.0em;
}

.content ol[role=cascade] > li>ol > li>ol > li::before {
    width: 3.0em;
    margin-left: -3.0em;
}

/* 1.2.3.4 */
.content ol[role=cascade] > li>ol > li>ol > li>ol li {
    margin-left: 4.0em;
}

.content ol[role=cascade] > li>ol > li>ol > li>ol li::before {
    width: 4.0em;
    margin-left: -4.0em;
}


/* 目录
 * nav:toc/ol:cascade/li/a
 *----------------------------------------------------------------------------
 */
.content nav[role=toc] {
    padding: 6px 0;
    border: 1px #e3e3e0 solid;
    background-color: rgba(245, 245, 245, 0.7);
    display: inline-block;
    border-radius: 4px;
    font-size: 10pt;
    box-shadow: 1px 1px 4px #bbb;
    min-width: 18em;
}

/* 页面固定 */
.content nav[role=toc] {
    position: fixed;
    top: 5px;
    left: 24px;
    box-sizing: border-box;
    height: 98%;
    cursor: default;
}

/* 目录级联编号 */
.content nav[role=toc] > ol[role=cascade] {
    height: calc(100% - 70px);
    overflow-y: auto;
}

.content nav[role=toc] h3 {
    font-size: 1.17em;
    margin: 7px 4px 0;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px #ccc dashed;
}

.content nav[role=toc] > ol {
    margin: 0;
    padding: 15px 5px;
}
.content nav[role=toc] li {
    margin-top: 1px;
    padding-left: 4px;
    color: #333;
}
.content nav[role=toc] li,
.content nav[role=toc] h4,
.content nav[role=toc] a {
    line-height: 150%;
}

.content nav[role=toc] a {
    color: #36b;
    text-decoration: none;
}
.content nav[role=toc] a:visited {
    color: #398;
}

.content nav[role=toc] a:hover {
    text-decoration: underline;
}

/* 子表折叠 */
.content nav[role=toc] li[data-pbo=folded] {
    background-color: #e8f2f2;
    border-radius: 4px 2em 0 0;
}
.content nav[role=toc] li > h4::after {
    content: '－';
    float: right;
    margin-right: 1em;
    color: green;
}
.content nav[role=toc] li[data-pbo=folded] > h4::after {
    content: '＋';
    color: #e9a279;
}


/* 另参见 */
.content ul[role=seealso] {}

/* 文献参考 */
.content ol[role=references] {}



/* 文章区
 * 用逐层递进定位可能的正文区。
 *----------------------------------------------------------------------------
 */

.content article {
}
.content article > header {
    margin: 2em 0;
    border: 1px transparent solid;
}


/* 章：
 * section:s1/[h2,header,section:s2,footer]
 * ----------------------------------------------
 */
.content section[role=s1] {
}
.content section[role=s1] > h2 {
    font-size: 1.5em;
    padding: 4px 14px;
    background-color: #9c0;
    border-bottom: 1px #8b0 solid;
}


/* 节：
 * section:s2/[h2,header,section:s3,footer]
 * ----------------------------------------------
 */
.content section[role=s2] {
}
.content section[role=s2] > h2 {
    font-size: 1.3em;
    padding: 6px 2px;
    border-bottom: 1px #eee solid;
    margin-block-end: 0;
}


/* 区：
 * section:s3/[h2,header,section:s4,footer]
 * ----------------------------------------------
 */
.content section[role=s3] {
}
.content section[role=s3] > h2 {
    font-size: 1.2em;
    margin-block-end: 0;
}
.content section[role=s3] > h2 + * {
    margin-block-start: 0.4em;
}


/* 段：
 * section:s4/[h2,header,section:s5,footer]
 * ----------------------------------------------
 */
.content section[role=s4] {
}
.content section[role=s4] > h2 {
    font-size: 1.1em;
    color: #093;
    padding-left: 0.2em;
    border-bottom: 1px #3c6 dotted;
    margin-block-end: 0;
}
.content section[role=s4] > h2 + * {
    margin-block-start: 0.3em;
}


/* 末：
 * section:s5/[h2,header, ... ,footer]
 * ----------------------------------------------
 */
.content section[role=s5] {
}
.content section[role=s5] > h2 {
    font-size: 1.0em;
    color: #036;
    margin-block-end: 0
}
.content section[role=s5] > h2 + * {
    margin-block-start: 0.2em;
}


/* 深片区：
 * [s5]/section/[h2,header, ... ,footer]
 * 注：在末片区（s5）之下。
 * ----------------------------------------------
 */
.content section[role=s5] section > h2 {
    font-size: 1.0em;
    margin-block-end: 0
}



/* 描述列表
 *----------------------------------------------------------------------------
 */

/* 描述列表 */
.content dl {}
.content dl > dt {
    font-weight: bold;
    border-bottom: 1px #ccc dashed;
}
.content dl > dd {
}


/* 插画
 * figure/figcaption, span/img, svg, video, i:explain
 *----------------------------------------------------------------------------
 */
.content figure > figcaption {
    font-weight: bold;
    margin: 4px;
}
/* 底部标题居中 */
.content figure > figcaption:last-child {
    text-align: center;
}
.content figure > span {
    position: relative;
    display: inline-block;
}
.content figure img {
    border: 1px #ccc solid;
    padding: 1px;
    margin: 0;
}
.content figure i[role=explain] {
    display: inline-block;
}

.content figure i[data-pba|=fix] {
    max-width: 180px;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    background-color: rgba(102, 102, 102, 0.3);
    /* 配合图片边框 */
    margin: 2px;
}


/* 引用块
 * blockquote/h3, p+
 *----------------------------------------------------------------------------
 */
.content blockquote {
    padding-left: 1.8em;
    border-left: 8px #e7e7f0 solid;
}
.content blockquote > ul {
    padding: 0 1em;
}


/* 批注块
 * aside/h3, p+
 *----------------------------------------------------------------------------
 */
.content aside {
    padding: 6px 1.8em 10px;
    background-color: #f5faf8;
    border: 1px #d8ebee dotted;
    border-radius: 24px;
}


/* 详细内容
 * [details/summary, p+]
 *----------------------------------------------------------------------------
 */
.content details {}

.content details > summary {
    font-style: italic;
    cursor: pointer;
    outline: none;
}

.content details > p {}


/* 导言
 * header/h3, p+
 *----------------------------------------------------------------------------
 */
.content header {
}


/* 尾注
 * footer/h3, p+
 *----------------------------------------------------------------------------
 */
.content footer {
}


/* 注解
 *----------------------------------------------------------------------------
 */
.content p[role=note] {
}


/* 提示
 *----------------------------------------------------------------------------
 */
.content p[role=tips] {
}


/* 预排版
 *----------------------------------------------------------------------------
 */
.content pre {
    border: 1px #999 solid;
    background-color: #f9f9f9;
    border-radius: 4px;
    padding: 5px 8px;
}


/* 表格
 *----------------------------------------------------------------------------
 */

.content tbody tr>:first-child {
    text-align: start;
    padding-inline-start: 0.5em;
}
.content thead {
    background-color: #f8f8f8;
}
.content thead th {
    padding: 5px;
}
.content table td:last-child {
    color: #aaa;
}

.content caption,
.content th,
.content td {
    padding: 1px 3px;
}
.content caption {
    font-weight: bold;
    margin: 4px;
}


/* 分隔
 * (Horizontal Rule)
 *----------------------------------------------------------------------------
 */
.content hr {
    margin: 14px 0;
    /* border-color: #666; */
}

/* 实线 */
.content hr[role=solid] {
    border-style: solid;
}
/* 虚线 */
.content hr[role=dotted] {
    border-style: dotted;
}
/* 双划线 */
.content hr[role=double] {
    border-style: double;
}
/* 点划线 */
.content hr[role=dashed] {
    border-style: dashed;
}
/* 内槽线 */
.content hr[role=groove] {
    border-style: groove;
}
/* 外槽线 */
.content hr[role=ridge] {
    border-style: ridge;
}
/* 内嵌线 */
.content hr[role=inset] {
    border-style: inset;
}
/* 外嵌线 */
.content hr[role=outset] {
    border-style: outset;
}

/* 章间隔 */
.content > article > hr {
    margin: 50px auto 40px;
    border: 1px #e0e0e0 solid;
    box-shadow: #888 0px -10px 12px;
}


/* 白板
 * -------------------------------------------------------------------------
 */
div[role=blank] {
    display: flex;
    border: 1px #d9d9d9 solid;
    border-radius: 5px;
}
div[role=blank] > * {
    margin: auto;
}


/* [ 内联 ]
 ****************************************************************************/

.content img {
    margin: 4px 6px;
    vertical-align: top;
    border-radius: 5px;
}
.content img:hover {
    box-shadow: 1px 1px 4px #bbb;
}


/* 音频/视频/图画 */
.content audio {
    vertical-align: text-bottom;
}
.content video {
    vertical-align: text-bottom;
}
.content picture {}


/* 表情 */
.content code[role=orz] {
    display: inline-block;
    padding: 0 4px;
    /* font-family: monospace; */
    white-space: pre;
    vertical-align: middle;
    line-height: 100%;
}


/* 空白 */
span[role=space] {
    width: 1em;
    display: inline-block;
}


/* 代码（总）
 ****************************************************************************/

.content code {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 0 2px;
    background-color: #f3f3f3;
    border-radius: 2px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.content code[data-lang] {
    border: 1px #e8e8e8 solid;
}

.content table code {
    background-color: transparent;
}

/* 代码块
 * pre:codeblock/code/b
 * ------------------------------------
 */
.content pre[role=codeblock] * {
    line-height: 170%;
}
.content pre[role=codeblock] > code {
    display: block;
    padding: 5px 10px;
    font-size: 10pt;
    background-color: #f8f8f8;
    border-radius: 5px;
    overflow: auto;
    box-shadow: 1px 1px 4px #eee;
}

/* 代码表
 * ol:codelist/li/code/b
 * ------------------------------------
 */
.content ol[role=codelist] {
    font-size: 10pt;
    padding: 1px;
    background-color: #39898e;
    padding-left: 60px;
    color: #9fd0d0;
    border-radius: 5px;
    overflow-x: auto;
    font-family: monospace;
}
.content ol[role=codelist] li {
    padding: 1px 6px;
    background-color: #fffbeb;
    border-bottom: 1px #eee dashed;
    border-top-right-radius: inherit;
}
.content ol[role=codelist] li:first-child {
    border-top-right-radius: inherit;
}
.content ol[role=codelist] li:last-child {
    border-bottom-right-radius: inherit;
}
.content ol[role=codelist] code {
    color: #000;
    background-color: transparent;
    border-width: 0;
}

/* 高亮着色：通用
 * ------------------------------------
 */
code > b {
    font-weight: normal;
}
/* comments */
code > i {
    color: #909090;
    font-style: normal;
}

/* keywords */
code > b[role=kw] {
    color: #9c1d1d;
    font-weight: bold;
}

/* string */
code > b[role=str] {
    color: #03c;
}

/* function-name */
code > b[role=fn] {
    color: #33beff;
}

/* operator */
code > b[role=op] {
    color: #f12828;
}

/* data-type */
code > b[role=dt] {
    color: #23ad00;
}

/* tag-name */
code > b[role=tag] {
    color: #d03;
    font-weight: bold;
}

/* attribute-name */
code > b[role=an] {
    color: #090;
}

/* selector */
code > b[role=slr] {
    color: #d65600;
}

/* css: !important
 * cpp: #include...
 * shell: #!/bin/bash
 * js: $
 */
code > b[role=imp] {
    color: #bf5200;
    font-weight: bold;
}

/* <!DOCTYPE ...> */
code > b[role=doc] {
    color: #bb5;
}

/* <![CDATA[..]]> */
code > b[role=cd] {
    color: #960;
}

/* RegExp */
code > b[role=re] {
    color: #e60;
}

/* error|warn */
code > b[role=err] {
    color: #c00;
}


/* 高亮覆盖
 * ------------------------------------
 */
code[data-lang="css"] b[role=tag] {
    color: #f0b;
    font-weight: normal;
}



/* 表格边框
 * 6种预定义格式：0|1|i|r|h|v
 ****************************************************************************/

/* 边框 */
.content table[border] {
    border-collapse: collapse;
}

/* 默认普通（1） */
.content table[border],
.content table[border] tr > * {
    border: 1px #aaa solid;
}

/* 无边框 */
.content table[border='0'],
.content table[border='0'] tr > * {
    border-width: 0;
}

/* 内边框（纵/横）: inside
 * 技巧：外框原宽度 +1px，框色透明
 */
.content table[border='i'] {
    border-width: 2px;
    border-color: transparent;
}

/* 外边框（四边）：round */
.content table[border='r'] tr > * {
    border-width: 0;
}

/* 横边框（行） */
.content table[border='h'] tr > * {
    border-width: 0 0 1px 0;
}

/* 竖边框（列） */
.content table[border='v'] tr > * {
    border-width: 0 1px 0 0;
}

/* 表头区隔 */
.content thead > tr:last-child {
    border-bottom: 3px gray double;
}
