<div tpl-name="its:colorp" data-id="colist" class="_sbox _colorp"
    mvc-on="parse"
    mvc-by="Art.colist('color:list')"
    mvc-to="#___Color|fill">
    <b class="_clean" title="{清除套色}"
        mvc-on="click|work"
        mvc-by="Ed.delstyle('color','background-color','border-color','border-top-color','border-right-color','border-bottom-color','border-left-color')"></b>
    <div id="___Color" class="_xbox"
        mvc-on="click('li >img')|xkey('ctrl',0),work;
        click('li >span')|xkey('ctrl',0),work"
        mvc-by="Ed.bdcolor;
        Ed.tbcolor">
        <ul tpl-name="color:list" tpl-for>
            <li>
                <img src="../pub/pic.png" tpl-out="class=@value" />
                <span tpl-out="class=@value">{这是预置套色应用于文本和背景的效果，左侧为套色应用于边框的效果。}</span>
            </li>
        </ul>
    </div>
</div>

<div tpl-name="its:colorc" class="_args _colorc">
    <ul class="_list">
        <li class="_clean">
            <b mvc-on="click|work" mvc-by="Ed.delstyle('color','background-color','border-color')" title="{清除颜色}">{无颜色}</b>
        </li>
        <li class="_cells _g16"
            mvc-on="mouseover('b')|cssto('2@colorview','background-color');
            click('b')|cssto('2@colorv','background-color','value','prop');
            mouseout|fire('2@colorv','change')">
            <b style="background-color:#000" title="#000"></b>
            <b style="background-color:#111" title="#111"></b>
            <b style="background-color:#222" title="#222"></b>
            <b style="background-color:#333" title="#333"></b>
            <b style="background-color:#444" title="#444"></b>
            <b style="background-color:#555" title="#555"></b>
            <b style="background-color:#666" title="#666"></b>
            <b style="background-color:#777" title="#777"></b>
            <b style="background-color:#888" title="#888"></b>
            <b style="background-color:#999" title="#999"></b>
            <b style="background-color:#aaa" title="#aaa"></b>
            <b style="background-color:#bbb" title="#bbb"></b>
            <b style="background-color:#ccc" title="#ccc"></b>
            <b style="background-color:#ddd" title="#ddd"></b>
            <b style="background-color:#eee" title="#eee"></b>
            <b style="background-color:#fff" title="#fff"></b>
        </li>
        <li data-id="c216" class="_cells _c216"
            mvc-on="_make|c216('div'),fill;
            mouseover('b')|cssto('2@colorview','background-color');
            click('b')|cssto('2@colorv','background-color','value','prop');
            mouseout|fire('2@colorv','change')">
            <!-- 计算构造216安全色 -->
        </li>
    </ul>
    <ul class="_value">
        <li mvc-on="click('input')|val('@ctype'),fcse(['colorv'], 'ctype')" class="_types">
            <label title="{文本色（color）}">
                <input type="radio" name="colorto" value="color" checked /><i id="l-ttcolor"></i>
            </label>
            <label title="{背景色（background-color）}">
                <input type="radio" name="colorto" value="background-color" /><i id="l-bgcolor"></i>
            </label>
            <label title="{边框色（border-color）}">
                <input type="radio" name="colorto" value="border-color" /><i id="l-brcolor"></i>
            </label>
            <input data-id="ctype" type="hidden" name="ctype" value="color" />
        </li>
        <li title="#RGB, rgb(), rgba(), HSL(), HSLA()">
            <label>{颜色}</label>
            <input data-id="colorv" type="text" name="colorv" maxlength="40" value="" class="_phrase"
                mvc-on="input change|get('value'),fire('2@colorview','fill',null)" />
        </li>
        <li mvc-on="mouseenter('span')|cssto('@colorview','background-color','title','attr')" class="_view">
            <span mvc-on="fill|put('background-color','@','css')" data-id="colorview"></span>
        </li>
        <li class="_apply">
            <input name="apply" type="submit" class="_button" value="{应用}"
                mvc-on="click" mvc-by="Ed.cstyle('ctype', 'colorv', true)" />
        </li>
    </ul>
</div>

<div tpl-name="its:colorx" data-id="colorx" class="_sbox _colorx"
    mvc-on="load;
    click('li')|xkey('ctrl',0),fire('#b-colorp','parse','-val')"
    mvc-by="Sys.colors('color:sets')"
    mvc-to="@|fill">
    <ul tpl-name="color:sets" tpl-for>
        <li tpl-var="_conf=$name + '|' + $amount" tpl-out="data-val=_conf">
            <span tpl-out="style=$thumb; $amount"></span>
            <aside>
                <h6 tpl-out="title=$info; $label">蔚蓝海风</h6>
                <p>{主色：}<b tpl-out="$major">天蓝</b></p>
                <p>{辅色：}<b tpl-out="$minor">黄绿、橙红、深蓝</b></p>
            </aside>
        </li>
    </ul>
</div>
