<!-- 模态页：插件... -->
<form class="_page" tpl-name="modal:page">
    <h5>[标题]</h5>
    <div id="modal-xbox" class="_xbox">
        <!-- [node] -->
    </div>
    <div class="_btn2" tpl-name="modal:btn2">
        <button type="submit">确定</button>
        <button type="reset">重置</button>
    </div>
    <!-- 条目标记 -->
    <input type="hidden" name="item" value="" />
</form>


<!-- 模态框：属性 -->
<form class="_list" tpl-name="modal:list">
    <h5>[标题]</h5>
    <header id="modal-note" class="_node" data-pb="none">
        [提示/说明]
    </header>
    <table>
        <tbody></tbody>
    </table>
    <hr tpl-node="modal:btn2" />
    <!-- 条目标记 -->
    <input type="hidden" name="item" value="" />
</form>


<!-- 模态框：单行 -->
<form class="_small" tpl-name="modal:small">
    <h5>[标题]</h5>
    <div class="_xbox">
        <input type="text" name="txtline" />
    </div>
    <hr tpl-node="modal:btn2" />
    <!-- 条目标记 -->
    <input type="hidden" name="item" value="" />
</form>


<!-- 模态框：消息 -->
<form class="_massage">
    <h5>[标题]</h5>
    <div id="modal-msg" class="_msg">
        [消息内容]
    </div>
    <hr tpl-node="submit" />
    <!-- 条目标记 -->
    <input type="hidden" name="item" value="" />
</form>


<!-- 模态页：脚本历史 -->
<form class="_shlist" tpl-name="modal:shlist">
    <div class="_search">
        <!-- change|blur,select：避免历史遮挡 -->
        <input type="text" name="word" class="_text" placeholder="标记词"
            on="change|blur,select"
            by="[Art.shfltr]"
            to="2/ol|render">
        <button type="submit">过滤</button>
    </div>
    <ol reversed tpb-for><li><code _="$"></code></li></ol>
</form>


<!-- 模态页：脚本测试 -->
<ul class="_info" tpl-name="page:shtest">
    <li tpb-if="$.error">
        错误：<i class="_error" _text="$.error"></i>
    </li>
    <li tpb-if="$.warn">
        警告：<i class="_warn" _text="$.warn"></i>
    </li>
    <li title="RESULT.type">
        操作类型：<b _text="$.type"></b>
    </li>
    <li title="RESULT.to">
        目标元素：<b _text="$.to"></b>
    </li>
    <li title="RESULT.selector">
        选择器：<b _text="$.selector"></b>
    </li>
    <li title="RESULT.method">
        插入方式：<b _text="$.method"></b>
    </li>
    <li>结果数据：</li>
    <li title="RESULT.data" class="_data">
        <div _html="$.data"></div>
    </li>
</ul>


<!-- 通用：确定 -->
<div class="_submit" tpl-name="submit">
    <button type="submit">确定</button>
</div>


<!-- 面板：特性 -->
<form class="Attrs" tpl-name="slave:attrs">
    <aside>
        <div>
            <input type="text" name="attr" class="_attr" />
            <!-- 添加/移除：+/- -->
            <button id="g-attrop">+</button>
        </div>
        <select name="attrs" tpb-for>
            <option _value="$" _="$"></option>
        </select>
    </aside>
    <div>
        <div class="_main">
            <textarea name="content" rows="6"></textarea>
        </div>
        <aside>
            <div class="_option">
                <input type="text" name="nlchar" class="_char" />
                <label><input type="checkbox" name="nlnice" />换行友好</label>
            </div>
            <hr tpl-node="submit" />
        </aside>
    </div>
</form>


<!-- 面板：源码 -->
<form class="Source" tpl-name="slave:source">
    <div class="_main">
        <textarea name="content" rows="6"></textarea>
    </div>
    <aside>
        <div class="_option">
            <button>结构检查</button>
            <label><input type="checkbox" name="repair" />修复</label>
            <div class="_info"></div>
        </div>
        <hr tpl-node="submit" />
    </aside>
</form>


<!-- 面板：脚本 -->
<form class="Script" tpl-name="slave:script">
    <aside>
        <label><input type="radio" name="runbox" />沙盒内</label>
        <label><input type="radio" name="runbox" />编辑器内</label>
    </aside>
    <div>
        <div class="_main">
            <label>记忆前缀<input type="text" name="prefix" placeholder="script-" /></label>
            <textarea name="content" rows="6"></textarea>
        </div>
        <aside>
            <div class="_option"><i id="b-history"></i></div>
            <div class="_submit"><input type="submit" class="_ok" value="运行" /></div>
        </aside>
    </div>
</form>
