<!--模态框：屏蔽层 -->
<div tpl-name="app:modal" class="___Panel Modal" data-pb="lose"
    on="open|rise,prop('value',1,'#g-modal'); close|lose,prop('value',0,'#g-modal')">
</div>

<!-- 模态框-页 -->
<div tpl-name="dlg:page" class="_dialog _page">
    <i id="x-dclose" class="_close" title="{关闭}" mvc-on="click|tedoff('1@ textarea._code'),mdoff,end('meding'),work"></i>
    <!--注：无提交按钮组时，页框不会自动关闭 -->
    <form mvc-on="submit|void; reset|reseton,tedoff('textarea._code')">
        <h5><b tpl-out="title">[标题]</b></h5>
        <div class="_xbox" tpl-out="pages">
            <!-- [some-tplnode] -->
        </div>
        <!-- 默认提交按钮组 -->
        <div class="_btns" tpl-if="$submit">
            <span>
                <input type="submit" class="_button" value="{确定}"
                    mvc-on="click|tedoff('form@ textarea._code'),mdok('form@'),end('meding'),work" />
                <input type="reset" class="_button" value="{重置}" />
            </span>
        </div>
        <!-- 单元名 -->
        <input type="hidden" name="cname" value="" />
    </form>
</div>

<!-- 模态框-清单 -->
<div tpl-name="dlg:list" class="_dialog _list">
    <i id="x-dclose" class="_close" title="{关闭}" mvc-on="click|mdoff,end('meding'),work"></i>
    <form mvc-on="submit|void,tedoff('textarea._code'),mdok,end('meding'),work;
        reset|reseton,tedoff('textarea._code')">
        <h5>
            <b tpl-out="title">[标题]</b><span tpl-if="prop">{属性}</span>
        </h5>
        <div class="_prop">
            <div class="_note" tpl-if="tips">
                <span class="_name">{注意：}</span>
                <span class="_text" tpl-out="tips">[提示信息]</span>
            </div>
            <table border="0">
                <tbody tpl-out="items"><!-- [表格行集] --></tbody>
            </table>
        </div>
        <div class="_btns">
            <span>
                <input type="submit" class="_button" value="{确定}" />
                <input type="reset" class="_button" value="{重置}" />
            </span>
        </div>
        <!-- 单元名 -->
        <input type="hidden" name="cname" value="" />
    </form>
</div>

<!-- 模态框-单行 -->
<div tpl-name="dlg:small" class="_dialog _small">
    <i id="x-dclose" class="_close" title="{关闭}" mvc-on="click|mdoff,end('meding'),work"></i>
    <form mvc-on="submit|void,mdok,end('meding'),work">
        <h5>
            <b tpl-out="title">[标题]</b><span tpl-if="prop">{属性}</span>
        </h5>
        <div class="_xbox">
            <input type="text" name="txtline" tpl-out="value=text" />
        </div>
        <div class="_btns">
            <span>
                <input type="submit" class="_button" value="{确定}" />
                <input type="reset" class="_button" value="{重置}" />
            </span>
        </div>
        <!-- 单元名 -->
        <input type="hidden" name="cname" value="" />
    </form>
</div>

<!-- 模态框-消息 -->
<div tpl-name="dlg:msg" class="_dialog _msg">
    <i id="x-dclose" class="_close" title="{关闭}" mvc-on="click|mdoff,end('meding'),work"></i>
    <h5><b tpl-out="title">[标题]</b></h5>
    <div class="_note"><b tpl-out="content">[消息内容]</b></div>
    <form mvc-on="submit|void,mdok,end('meding'),work">
        <div class="_btns">
            <span><input type="submit" class="_button" value="{确定}" /></span>
        </div>
        <!-- 单元名 -->
        <input type="hidden" name="cname" value="" />
    </form>
</div>


<!-- 脚本历史页框 -->
<div tpl-name="page:shlist" class="_sh">
    <div class="_search">
        <!-- blur,select：避免输入历史框遮挡 -->
        <input type="text" name="word" class="_text" placeholder="{输入过滤词汇}"
            mvc-on="change|blur,select"
            mvc-by="Art.shfltr"
            mvc-to="2@shlist|fill">
        <input type="button" class="_icon" data-id="runbtn" title="{过滤}"
            mvc-on="click|go('1@runbtn','change')">
    </div>
    <!-- 脚本历史清单 -->
    <ol data-id="shlist" reversed tpl-out
        mvc-on="click('code')|val('#val-script','text'),mdok('form@'),fire('#val-script','edoff')">
        <!-- <li><code></code></li> -->
    </ol>
</div>

<!--DATA:children
    脚本历史清单构造 -->
<ol tpl-name="data:shlist" tpl-for>
    <li><code tpl-out="@value"></code></li>
</ol>

<!-- 脚本测试页框 -->
<ul tpl-name="page:shtest" class="_info">
    <li tpl-if="error">{错误：}<i class="_error" tpl-out="error"></i></li>
    <li tpl-if="warn">{警告：}<i class="_warn" tpl-out="warn"></i></li>
    <li title="RESULT.type">{操作类型：}<b tpl-out="type"></b></li>
    <li title="RESULT.to">{目标元素：}<b tpl-out="to"></b></li>
    <li title="RESULT.selector">{选择器：}<b tpl-out="selector"></b></li>
    <li title="RESULT.method">{插入方式：}<b tpl-out="method"></b></li>
    <li>{结果数据：}</li>
    <li title="RESULT.data" class="_data"><div tpl-out="data"></div></li>
</ul>
