<!-- 录入版：框架 -->
<form class="Inputs" tpl-name="slave:inputs">
    <aside>
        <label>
            <input type="radio" name="where" />
            <i id="b-sibling"></i>
        </label>
        <label>
            <input type="radio" name="where">
            <i id="b-child"></i>
        </label>
        <div>
            <!-- 4: min-height -->
            <select name="items" size="4"></select>
        </div>
    </aside>
    <!-- 通用：替换 -->
    <div class="_empty" tpl-name="inputs:empty"></div>
</form>


<!-- 选项：1 -->
<div class="_option" tpl-name="inputs:option">
    <label><input type="checkbox" name="clean" checked>空白清理</label>
</div>

<!-- 选项：2 -->
<div class="_option" tpl-name="inputs:option2">
    <label><input type="checkbox" name="split" title="会保留紧邻换行">空行分隔</label>
    <label><input type="checkbox" name="clean" checked>空白清理</label>
</div>


<!-- 插入：1 -->
<div class="_submit" tpl-name="inputs:submit1">
    <input type="submit" class="_ok" value="插入" />
</div>

<!-- 插入：2 -->
<div class="_submit" tpl-name="inputs:submit2">
    <label><input type="checkbox" name="before">向前</label>
    <input type="submit" class="_ok" value="插入" />
</div>


<!-- 行块单元 ------------------------------------------------------------------->


<!-- 文章标题 -->
<div class="_heading" tpl-name="inputs:heading">
    <div class="_main">
        <input type="text" name="h1" placeholder="主标题" class="_scale" />
        <textarea name="h2" placeholder="副标题（可选）"></textarea>
    </div>
    <aside class="_submit">
        <input type="submit" class="_ok" value="插入">
    </aside>
</div>


<!-- 提要 -->
<div class="_abstract" tpl-name="inputs:abstract">
    <div class="_main">
        <textarea name="header" placeholder="文章提要（换行分段，空行忽略）"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:option2, inputs:submit1">
            [选项2]
            [插入1]
        </pre>
    </aside>
</div>


<!-- 文献参考 -->
<div class="_reference" tpl-name="inputs:reference">
    <div class="_main">
        <textarea name="reference" placeholder="换行分隔，每行一项（空行忽略）"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:option2, inputs:submit1">
            [选项2]
            [插入1]
        </pre>
    </aside>
</div>


<!-- 另参见 -->
<div class="_seealso" tpl-name="inputs:seealso">
    <div class="_main">
        <textarea name="seealso" placeholder="换行分隔，每行一项（空行忽略）"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:option2, inputs:submit1">
            [选项2]
            [插入1]
        </pre>
    </aside>
</div>


<!-- 导言 -->
<div class="_header" tpl-name="inputs:header">
    <div class="_main">
        <input name="h4" type="text" placeholder="导言" class="_scale" />
        <textarea name="header" placeholder="内容（换行分段，空行忽略）"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:option2, inputs:submit1">
            [选项2]
            [插入1]
        </pre>
    </aside>
</div>


<!-- 结语 -->
<div class="_footer" tpl-name="inputs:footer">
    <div class="_main">
        <input name="h4" type="text" value="小结" class="_scale" />
        <textarea name="footer" placeholder="内容（换行分段，空行忽略）"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:option2, inputs:submit1">
            [选项2]
            [插入1]
        </pre>
    </aside>
</div>


<!-- 片区：s1-s5 -->
<div class="_section" tpl-name="inputs:section">
    <div class="_main">
        <input name="hx" type="text" placeholder="标题" class="_scale" />
        <textarea name="header" placeholder="导言（换行分段，空行忽略）"></textarea>
        <textarea name="footer" placeholder="结语（换行分段，空行忽略）"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:option2, inputs:submit2">
            [选项2]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 有序列表 -->
<div class="_ol" tpl-name="inputs:ol">
    <div class="_main">
        <textarea name="ol" placeholder="换行分隔，每行一项（空行忽略）"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:option2, inputs:submit2">
            [选项2]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 无序列表 -->
<div class="_ul" tpl-name="inputs:ul">
    <div class="_main">
        <textarea name="ul" placeholder="换行分隔，每行一项（空行忽略）"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:option2, inputs:submit2">
            [选项2]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 多级编号列表 -->
<div class="_cascade" tpl-name="inputs:cascade">
    <div class="_main">
        <textarea name="cascade" placeholder="换行分隔，每行一项（空行忽略）"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:option2, inputs:submit2">
            [选项2]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 代码表 -->
<div class="_codelist" tpl-name="inputs:codelist">
    <div class="_main">
        <!-- paste: 空缩进自动清除（参考首个有效缩进） -->
        <textarea name="codelist" class="_codes"></textarea>
    </div>
    <aside>
        <div class="_option" tpl-name="inputs:codeopts">
            <label>制表符<input type="text" name="tabs" placeholder="4" value="" class="_chars">空格</label>
            <label>语言
                <select id="g-languages" name="languages">
                    <option value="golang">Golang</option>
                    <option value="cplus">C/C++</option>
                    <option value="javascript">JavaScript</option>
                    <option value="css">CSS</option>
                    <option value="html">HTML</option>
                </select>
            </label>
        </div>
        <div tpl-node="inputs:submit2"> [插入2] </div>
    </aside>
</div>


<!-- 定义列表 -->
<div class="_dl" tpl-name="inputs:dl">
    <div class="_main">
        <textarea name="dl" placeholder="&gt;条目
内容（可多行）"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:option1, inputs:submit2">
            [选项1]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 表格 -->
<div class="_table" tpl-name="inputs:table">
    <div class="_main">
        <header>
            <input name="caption" type="text" placeholder="标题" class="_scale" />
            <aside>
                <input name="rows" type="text" placeholder="行数" class="_chars" />
                <span>×</span>
                <input name="columns" type="text" placeholder="列数" class="_chars" />
            </aside>
        </header>
        <textarea name="table" placeholder="每行一个单元格
空行分隔表格行（可选）"></textarea>
    </div>
    <aside>
        <div class="_option">
            <label>宽度
                <input type="text" name="width" placeholder="100%" class="_length" />
            </label>
            <label>边框
                <select tpl-node="table:border"></select>
            </label>
            <label>对齐
                <select tpl-node="item:align"></select>
            </label>
        </div>
        <div tpl-node="inputs:submit2"> [插入2] </div>
    </aside>
</div>


<!-- 插图 -->
<div class="_figure" tpl-name="inputs:figure">
    <div class="_main">
        <input name="figcaption" type="text" placeholder="标题" class="_scale" />
        <textarea name="figure" data-id="figure"
            data-imgurl="/xyz.com/pic.jpg; [800,600]; [alt=text]"
            data-dataurl="data:image/png;base64,..."
            data-svgxml="&lt;svg&gt;...&lt;/svg&gt;"></textarea>
    </div>
    <aside>
        <div class="_option">
            <label><input name="below" type="checkbox" />标题在下</label>
            <hr />
            <label>类型
                <select name="type" on="change|val" to="4/?figure|trigger">
                    <option value="imgurl">图片URL</option>
                    <option value="dataurl">DataURL</option>
                    <option value="svgxml">SVG源码</option>
                </select>
            </label>
        </div>
        <div tpl-node="inputs:submit2"> [插入2] </div>
    </aside>
</div>


<!-- 引用块 -->
<div class="_blockquote" tpl-name="inputs:blockquote">
    <div class="_main">
        <input name="h4" type="text" placeholder="小标题" class="_scale" />
        <textarea name="blockquote" placeholder="内容（换行分段，空行忽略）"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:option2, inputs:submit2">
            [选项2]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 批注块 -->
<div class="_aside" tpl-name="inputs:aside">
    <div class="_main">
        <input name="h4" type="text" placeholder="小标题" class="_scale" />
        <textarea name="aside" placeholder="内容（换行分段，空行忽略）"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:option2, inputs:submit2">
            [选项2]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 详细内容 -->
<div class="_details" tpl-name="inputs:details">
    <div class="_main">
        <input name="summary" type="text" placeholder="小标题" class="_scale" />
        <textarea name="details" placeholder="内容（换行分段，空行忽略）"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:option2, inputs:submit2">
            [选项2]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 代码块 -->
<div class="_codeblock" tpl-name="inputs:codeblock">
    <div class="_main">
        <textarea name="codeblock" class="_codes"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:codeopts, inputs:submit2">
            [代码]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 段落 -->
<div class="_paragraph" tpl-name="inputs:paragraph">
    <div class="_main">
        <textarea name="paragraph" placeholder="内容（换行分段，空行忽略）"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:option2, inputs:submit2">
            [选项2]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 注解 -->
<div class="_note" tpl-name="inputs:note">
    <div class="_main">
        <textarea name="note" placeholder="内容"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:option1, inputs:submit2">
            [选项1]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 地址 -->
<div class="_address" tpl-name="inputs:address">
    <div class="_main">
        <textarea name="address" placeholder="内容"></textarea>
    </div>
    <aside>
        <pre tpl-node="inputs:option1, inputs:submit2">
            [选项1]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 预排版 -->
<div class="_pre" tpl-name="inputs:pre">
    <div class="_main">
        <textarea name="pre" class="_codes"></textarea>
    </div>
    <aside>
        <div class="_option">
            <label>制表符<input type="text" name="tabs" placeholder="4" value="" class="_chars">空格</label>
        </div>
        <pre tpl-node="inputs:submit2"> [插入2] </pre>
    </aside>
</div>


<!-- 线条 -->
<div class="_line" tpl-name="inputs:line">
    <div class="_main">
        <hr tpl-node="line:types">
    </div>
    <aside>
        <div class="_option">
            <label>厚度<input type="text" name="thick" placeholder="1px" class="_length"></label>
            <label>长度<input type="text" name="length" placeholder="94%" class="_length"></label>
        </div>
        <pre tpl-node="inputs:submit2"> [插入2] </pre>
    </aside>
</div>


<!-- 空白块 -->
<div class="_space" tpl-name="inputs:space">
    <div class="_main">
        <div role="space"><span class="_empty">（空白）</span></div>
    </div>
    <aside>
        <pre tpl-node="inputs:submit2"> [插入2] </pre>
    </aside>
</div>


<!-- 微编辑下 -->
<ul class="_meds" tpl-name="inputs:meds">
    <li>特殊符号</li>
    <li>图片（&lt;img&gt;）</li>
    <li>音频（&lt;audio&gt;）</li>
    <li>视频（&lt;video&gt;）</li>
    <li>兼容图片（&lt;picture&gt;）</li>
    <li>链接（&lt;a&gt;）</li>
    <li>代码（&lt;code&gt;）</li>
    <li>重点（&lt;strong&gt;）</li>
    <li>强调（&lt;em&gt;）</li>
    <li>下标（&lt;sub&gt;）</li>
    <li>上标（&lt;sup&gt;）</li>
    <li>短引用（&lt;q&gt;）</li>
    <li>日期/时间（&lt;time&gt;）</li>
    <li>插入性条目（&lt;ins&gt;）</li>
    <li>已删除条目（&lt;del&gt;）</li>
    <li>缩写（&lt;abbr&gt;）</li>
    <li>注脚（&lt;small&gt;）</li>
    <li>来源（&lt;cite&gt;）</li>
    <li>标记（&lt;mark&gt;）</li>
    <li>注音单元（&lt;ruby/rb,rp,rt&gt;）</li>
    <li>表情（&lt;code role="orz"&gt;）</li>
    <li>定义条目（&lt;dfn&gt;）</li>
    <li>样本（&lt;samp&gt;）</li>
    <li>键盘字（&lt;kbd&gt;）</li>
    <li>度量标示（&lt;meter&gt;）</li>
    <li>失效（&lt;s&gt;）</li>
    <li>注记（&lt;u&gt;）</li>
    <li>变量（&lt;var&gt;）</li>
    <li>有向文本（&lt;bdo&gt;）</li>
    <li>换行（&lt;br&gt;）</li>
    <li>软换行（&lt;wbr&gt;）</li>
    <li>空白段（&lt;blank&gt;）</li>
</ul>

<!-- 内联单元 --------------------------------------------------------------->

<div class="_chars" tpl-name="inputs:chars">
    <select name="xlist" size="6">
        <option value="normal">常用</option>
        <option value="number">数字序号</option>
        <option value="maths">数学</option>
        <option value="units">单位</option>
        <option value="phonetic">注音</option>
        <option value="katakana">日文片假名</option>
        <option value="hiragana">日文平假名</option>
        <option value="greekalph">希腊字母</option>
        <option value="russian">俄文字符</option>
        <option value="radicalcn">偏旁部首-简</option>
        <option value="radicaltw">偏旁部首-繁</option>
        <option value="tabline">表格线</option>
    </select>
    <span> [替换占位] </span>
</div>

<!-- 特殊字符集
    初始解析构造为：<b>...</b>序列
    字符集清单存储在data中备用。 -->
<div tpl-name="item:chars"
    on="init('span')|evo('current'), text, call('split', ''), $$;
        obted|$$('span'), dup"
    by="wrap('<b>');
        trigger('init'), pop, data('normal number maths units phonetic katakana hiragana greekalph russian radicalcn radicaltw tabline')"
    to="|fill">
    <span>〔〕〈〉「」『』〖〗【】《》（）［］｛｝■◆▲●★§□◇△○☆αβγ※◎№＃〓＆＠＼＾→←↑↓·ˇ々‖。，、；：？！‘’“”～©</span>
    <span>ⅠⅡⅢⅣⅤⅥⅦⅧⅨⅩⅪⅫ①②③④⑤⑥⑦⑧⑨⑩⒈⒉⒊⒋⒌⒍⒎⒏⒐⒑⒒⒓⒔⒕⒖⒗⒘⒙⒚⒛⑴⑵⑶⑷⑸⑹⑺⑻⑼⑽⑾⑿⒀⒁⒂⒃⒄⒅⒆</span>
    <span>≈≡≠＝≤≥＜＞≮≯∷±＋－×÷／∫∮∝∞∧∨∑∏∪∩∈∵∴⊥∥∠⌒⊙≌∽√</span>
    <span>°′″＄￡￥‰％℃¤￠〇一二三四五六七八九十零壹贰叁肆伍陆柒捌玖拾百佰千仟万亿兆吉太拍艾分厘毫</span>
    <span>āáǎàōóǒòêēéěèīíǐìūúǔùǖǘǚǜüㄉㄓㄚㄞㄢㄦㄆㄊㄍㄐㄔㄗㄧㄛㄟㄣㄇㄋㄎㄑㄕㄘㄨㄜㄠㄤㄈㄏㄒㄖㄙㄩㄝㄡ</span>
    <span>ァアィイゥウヴェエォオカガヵキギクグケゲヶコゴサザシジスズセゼソゾタダチヂツヅッテデトドヰンナパニピヌプネペノポハバヒビフブヘベホボヱマラミリムルメレモロャヤュユョヨヮワ</span>
    <span>ぁあぃいぅうぇえぉおかがきぎくぐけげこごんさざしじすずせぜそぞただちぢつづってでとどゐなぱにぴぬぷねぺのぽはばひびふぶへべほぼゑまらみりむるめれもろゃやゅゆょよゎわ</span>
    <span>αΑβΒγΓδΔεΕζΖηΗθΘιΙκΚλΛμΜνΝξΞοΟπΠρΡσΣτΤυΥφΦχΧψΨω</span>
    <span>аАбБвВгГдДеЕёЁжЖзЗиИйЙкКлЛмМнНоОпПрРсСтТуУфФхХцЦчЧшШщЩъЪыЫьЬэЭюЮя</span>
    <span>丨亅丿乛丶勹冫刂匚丷卩冂冖凵亻厶亠讠廴艹屮彳巛辶阝廾彐宀犭彡饣扌氵纟囗忄幺弋尢夂灬厄卝旡耂牜爿攴攵礻殳爻爫癶彑钅皿疒矢罒疋衤缶艮虍臼耒糸糹覀聿辵卤豕豸阜黾隹釒飠髟鬲龠</span>
    <span>丨丶丿乚亅亠亻冂冖冫凵刂勹匚匸卩厶囗夂夊宀尢屮巛幺廴廾彐彑彡彳忄戶扌攴攵旡歺殳氵氺灬爫爿犭疋疒癶皿礻禸糸糹缶罒罓耂耒聿臼舛艮艸艹虍衤襾覀訁豕豸辵辶阝釒镸門阝隹韋飠髟鬥鬯鬲鹵黹黽龠</span>
    <span>┌└┍┕┎┖┏┗┐┘┑┙┒┚┓┛─━┄┅┈┉├┤┝┥┞┦┟┧┠┨┡┩┢┪┣┫│┃┆┇┊┋┬┴┭┵┮┶┯┷┰┸┱┹┲┺┳┻┼╄┽╅┾┶┿╇╀╈╁╉╂╊╃</span>
</div>

<!-- 表清单方式 -->

<table tpl-name="inputs:img">
    <tr tpl-node="prop:srcbase, prop:sources, prop:alts"></tr>
    <tr tpl-node="prop:upload, prop:preview"></tr>
</table>

<table tpl-name="inputs:audio">
    <tr tpl-node="prop:srcbase, prop:sources"></tr>
    <tr tpl-node="prop:upload, prop:preview"></tr>
    <tr tpl-node="prop:loop, prop:autoplay"></tr>
</table>

<table tpl-name="inputs:video">
    <tr tpl-node="prop:srcbase, prop:sources"></tr>
    <tr tpl-node="prop:upload, prop:preview"></tr>
    <tr tpl-node="prop:loop, prop:autoplay, prop:poster"></tr>
</table>

<table tpl-name="inputs:picture">
    <tr tpl-node="prop:srcbase, prop:sources, prop:alts"></tr>
    <tr tpl-node="prop:upload, prop:preview"></tr>
</table>

<table tpl-name="inputs:a">
    <tr tpl-node="prop:textrow"></tr>
    <tr tpl-node="prop:href"></tr>
    <tr tpl-name="prop:target"></tr>
</table>

<table tpl-name="inputs:code">
    <tr tpl-node="prop:code"></tr>
</table>

<table tpl-name="inputs:strong">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:em">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:sub">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:sup">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:q">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:times">
    <tr tpl-source="prop:date, prop:time"></tr>
</table>

<table tpl-name="inputs:ins">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:del">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:abbr">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:small">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:cite">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:mark">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:ruby">
    <tr tpl-node="prop:textrow"></tr>
    <tr tpl-node="prop:rt"></tr>
    <tr tpl-node="prop:leftrp, prop:rightrp"></tr>
</table>

<table tpl-name="inputs:orz">
    <tr tpl-node="prop:codes"></tr>
</table>

<table tpl-name="inputs:dfn">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:samp">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:kbd">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:meter">
    <tr tpl-node="prop:max, prop:min"></tr>
    <tr tpl-node="prop:high, prop:low"></tr>
    <tr tpl-node="prop:optimum"></tr>
</table>

<table tpl-name="inputs:s">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:u">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:var">
    <tr tpl-node="prop:textrow"></tr>
</table>

<table tpl-name="inputs:bdo">
    <tr tpl-node="prop:textrow"></tr>
    <tr tpl-node="prop:dir"></tr>
</table>
