<!-- 选项：1 -->
<div class="_option" tpl-name="input:option1">
    <label title="连续空白合并"><input type="checkbox" name="clean" checked>空白清理</label>
</div>

<!-- 选项：2 -->
<div class="_option" tpl-name="input:option2">
    <label title="连续空白合并"><input type="checkbox" name="clean" checked>空白清理</label>
    <label title="紧邻换行保留"><input type="checkbox" name="hasps">空行分段</label>
</div>


<!-- 插入：1 -->
<div class="_submit" tpl-name="input:insert1">
    <button type="submit">插入</button>
</div>

<!-- 插入：2 -->
<div class="_submit" tpl-name="input:insert2">
    <label><input type="checkbox" name="before">向前</label>
    <button type="submit">插入</button>
</div>


<!-- 行块单元 ------------------------------------------------------------------->


<!-- 文章标题 -->
<div class="_body _heading" tpl-name="input:heading">
    <div class="_main">
        <header>
            <input type="text" name="h1" placeholder="主标题" class="_scale" />
        </header>
        <textarea name="h2" placeholder="副标题（可选）"></textarea>
    </div>
    <aside>
        <pre tpl-node="input:option1, input:insert1">
            [选项1]
            [插入1]
        </pre>
    </aside>
</div>


<!-- 提要 -->
<div class="_body _abstract" tpl-name="input:abstract">
    <div class="_main">
        <textarea name="header" placeholder="文章提要"></textarea>
    </div>
    <aside>
        <pre tpl-node="input:option2, input:insert1">
            [选项2]
            [插入1]
        </pre>
    </aside>
</div>


<!-- 文献参考 -->
<div class="_body _reference" tpl-name="input:reference">
    <div class="_main">
        <textarea name="reference" placeholder="每行一项"></textarea>
    </div>
    <aside>
        <pre tpl-node="input:option1, input:insert1">
            [选项1]
            [插入1]
        </pre>
    </aside>
</div>


<!-- 另参见 -->
<div class="_body _reference" tpl-name="input:seealso">
    <div class="_main">
        <textarea name="seealso" placeholder="每行一项"></textarea>
    </div>
    <aside>
        <pre tpl-node="input:option1, input:insert1">
            [选项1]
            [插入1]
        </pre>
    </aside>
</div>


<!-- 导言 -->
<div class="_body _header" tpl-name="input:header">
    <div class="_main">
        <header>
            <input name="h4" type="text" class="_scale" value="导言" />
        </header>
        <textarea name="header" placeholder="内容"></textarea>
    </div>
    <aside>
        <pre tpl-node="input:option2, input:insert1">
            [选项2]
            [插入1]
        </pre>
    </aside>
</div>


<!-- 结语 -->
<div class="_body _footer" tpl-name="input:footer">
    <div class="_main">
        <header>
            <input name="h4" type="text" class="_scale" value="小结" />
        </header>
        <textarea name="footer" placeholder="内容"></textarea>
    </div>
    <aside>
        <pre tpl-node="input:option2, input:insert1">
            [选项2]
            [插入1]
        </pre>
    </aside>
</div>


<!-- 片区：s1-s5 -->
<div class="_body _section" tpl-name="input:section">
    <div class="_main">
        <header>
            <input name="hx" type="text" placeholder="标题" class="_scale" />
        </header>
        <textarea name="header" placeholder="导言（可选）"></textarea>
        <textarea name="footer" placeholder="结语（可选）" class="_inert"></textarea>
    </div>
    <aside>
        <pre tpl-node="input:option2, input:insert2">
            [选项2]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 无序列表 -->
<div class="_body _ul" tpl-name="input:ul">
    <div class="_main">
        <textarea name="ul" placeholder="每行一项"></textarea>
    </div>
    <aside>
        <pre tpl-node="input:option1, input:insert2">
            [选项1]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 有序列表 -->
<div class="_body _ol" tpl-name="input:ol">
    <div class="_main">
        <textarea name="ol" placeholder="每行一项"></textarea>
    </div>
    <aside>
        <pre tpl-node="input:option1, input:insert2">
            [选项1]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 级联表 -->
<div class="_body _cascade" tpl-name="input:cascade">
    <div class="_main">
        <textarea name="cascade" placeholder="每行一项"></textarea>
    </div>
    <aside>
        <div class="_option">
            <label title="连续空白合并"><input type="checkbox" name="clean" checked>空白清理</label>
            <label title="结构：ol:cascade/li/h5,ol/..."><input type="checkbox" name="numlist">转为多级编号</label>
        </div>
        <div tpl-node="input:insert1"> [插入1] </div>
    </aside>
</div>


<!-- 定义列表 -->
<div class="_body _dl" tpl-name="input:dl">
    <div class="_main">
        <header>
            <input name="dt" type="text" class="_scale" placeholder="条目（<dt>）" />
        </header>
        <textarea name="dd" placeholder="每行一项（<dd>）"></textarea>
    </div>
    <aside>
        <pre tpl-node="input:option1, input:insert2">
            [选项1]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 引用块 -->
<div class="_body _blockquote" tpl-name="input:blockquote">
    <div class="_main">
        <header>
            <input name="h4" type="text" placeholder="小标题" class="_scale" />
        </header>
        <textarea name="blockquote" placeholder="内容"></textarea>
    </div>
    <aside>
        <pre tpl-node="input:option2, input:insert2">
            [选项2]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 批注块 -->
<div class="_body _aside" tpl-name="input:aside">
    <div class="_main">
        <header>
            <input name="h4" type="text" placeholder="小标题" class="_scale" />
        </header>
        <textarea name="aside" placeholder="内容"></textarea>
    </div>
    <aside>
        <pre tpl-node="input:option2, input:insert2">
            [选项2]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 详细内容 -->
<div class="_body _details" tpl-name="input:details">
    <div class="_main">
        <header>
            <input name="summary" type="text" placeholder="摘要" class="_scale" />
        </header>
        <textarea name="details" placeholder="内容"></textarea>
    </div>
    <aside>
        <pre tpl-node="input:option2, input:insert2">
            [选项2]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 代码表 -->
<div class="_body _codelist" tpl-name="input:codelist">
    <div class="_main">
        <textarea name="codes" spellcheck="false" placeholder="Shift + 粘贴：自动清除多余缩进" class="_code"></textarea>
    </div>
    <aside>
        <div class="_option">
            <label>制表符
                <input type="text" name="tabs" class="_char" value="4" title="空格数">
            </label>
            <label>语言
                <select id="g-languages" name="languages" tpl-name="item:languages">
                    <option value="golang">Golang</option>
                    <option value="cplus">C/C++</option>
                    <option value="javascript">JavaScript</option>
                    <option value="css">CSS</option>
                    <option value="html">HTML</option>
                </select>
            </label>
            <label title="起始行号">首行
                <input type="text" name="start" placeholder="1" class="_chars">
            </label>
        </div>
        <div tpl-node="input:insert2"> [插入2] </div>
    </aside>
</div>


<!-- 代码块 -->
<div class="_body _codeblock" tpl-name="input:codeblock">
    <div class="_main">
        <textarea name="codes" spellcheck="false" placeholder="Shift + 粘贴：自动清除多余缩进" class="_code"></textarea>
    </div>
    <aside>
        <div class="_option">
            <label>制表符
                <input type="text" name="tabs" class="_char" value="4" title="空格数">
            </label>
            <label>语言
                <select tpl-node="item:languages"></select>
            </label>
        </div>
        <div tpl-node="input:insert2"> [插入2] </div>
    </aside>
</div>


<!-- 表格 -->
<div class="_body _table" tpl-name="input:table">
    <div class="_main">
        <header class="_affix">
            <input name="caption" type="text" placeholder="标题" class="_scale" />
            <label><input name="below" type="checkbox" />标题在下</label>
        </header>
        <textarea name="table" placeholder="每行一个单元格
空行分隔表格行（可选）"></textarea>
    </div>
    <aside>
        <div class="_option">
            <label>行数
                <input name="rows" type="text" class="_nums" />
            </label>
            <label>列数
                <input name="columns" type="text" class="_nums" />
            </label>
            <label>边框
                <select name="border" tpl-name="item:tborder">
                    <option value="0">------</option>
                    <option value="1">普通</option>
                    <option value="4">外围</option>
                    <option value="2">内部</option>
                    <option value="h">横向</option>
                    <option value="v">纵向</option>
                    <option value="3">上接式</option>
                </select>
            </label>
        </div>
        <div tpl-node="input:insert2"> [插入2] </div>
    </aside>
</div>


<!-- 插图 -->
<div class="_body _figure" tpl-name="input:figure">
    <div class="_main">
        <header class="_affix">
            <input name="figcaption" type="text" placeholder="标题" class="_scale" />
            <label><input name="below" type="checkbox" />标题在下</label>
        </header>
        <textarea name="figure" id="url"
            on="tips|evo(1) ev('detail') attr(_);
                ^obted|$('2/select') val"
            to="|@placeholder;
                |trigger('tips')"
            data-iurl="/xyz.com/pic.jpg; [800,600]; [alt_text]"
            data-durl="data:image/png;base64,..."
            data-svgx="<svg>...</svg>"></textarea>
    </div>
    <aside>
        <div class="_option">
            <label>类型
                <select name="type" on="change|$ val" to="4/#url|trigger('tips')">
                    <option value="-iurl">图片URL</option>
                    <option value="-durl">DataURL</option>
                    <option value="-svgx">SVG源码</option>
                </select>
            </label>
        </div>
        <div tpl-node="input:insert2"> [插入2] </div>
    </aside>
</div>


<!-- 段落 -->
<div class="_body _p" tpl-name="input:p">
    <div class="_main">
        <textarea name="p" placeholder="内容"></textarea>
    </div>
    <aside>
        <pre tpl-node="input:option2, input:insert2">
            [选项2]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 注解 -->
<div class="_body _note" tpl-name="input:note">
    <div class="_main">
        <textarea name="note" placeholder="内容"></textarea>
    </div>
    <aside>
        <pre tpl-node="input:option1, input:insert2">
            [选项1]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 地址 -->
<div class="_body _address" tpl-name="input:address">
    <div class="_main">
        <textarea name="address" placeholder="内容"></textarea>
    </div>
    <aside>
        <pre tpl-node="input:option1, input:insert2">
            [选项1]
            [插入2]
        </pre>
    </aside>
</div>


<!-- 预排版 -->
<div class="_body _pre" tpl-name="input:pre">
    <div class="_main">
        <textarea name="pre" placeholder="Shift + 粘贴：自动清除多余缩进" class="_code"></textarea>
    </div>
    <aside>
        <div class="_option">
            <label>制表符
                <input type="text" name="tabs" class="_char" value="4" title="空格数">
            </label>
        </div>
        <pre tpl-node="input:insert2">[插入2]</pre>
    </aside>
</div>


<!-- 分割 -->
<div class="_body _hr" tpl-name="input:hr">
    <div class="_main _list">
        <span class="_border content" tabindex="0" tpl-name="hr:border">
            <b title="默认"><hr></b>
            <b title="实线（solid）"><hr role="solid"></b>
            <b title="虚线（dashed）"><hr role="dashed"></b>
            <b title="点线（dotted）"><hr role="dotted"></b>
            <b title="双划线（double）" class="_press"><hr role="double"></b>
            <b title="内槽线（groove）"><hr role="groove"></b>
            <b title="外槽线（ridge）"><hr role="ridge"></b>
            <b title="内嵌线（inset）"><hr role="inset"></b>
            <b title="外嵌线（outset）"><hr role="outset"></b>
            <input type="hidden" name="hr" value="">
        </span>
    </div>
    <aside>
        <div class="_option">
            <label title="CSS: border-width">厚度
                <input type="text" name="thick" placeholder="10px" class="_chars">
            </label>
            <label title="CSS: width">长度
                <input type="text" name="length" placeholder="92%" class="_chars">
            </label>
            <label title="CSS: height">空白
                <input type="text" name="height" placeholder="0" class="_chars">
            </label>
        </div>
        <pre tpl-node="input:insert2"> [插入2] </pre>
    </aside>
</div>


<!-- 空白块 -->
<div class="_body _space" tpl-name="input:space">
    <div class="_main">
        <div role="space"><span>（ 空 白 ）</span></div>
    </div>
    <aside>
        <pre tpl-node="input:insert2"> [插入2] </pre>
    </aside>
</div>


<!-- 微编辑：内联单元 ------------------------------------------------------->


<!-- 子版：字符种类
    input.inline:
    与内联元素共享快捷键指向，需检查$(_)结果（dup pass） -->
<select name="ctype" size="5" class="_list _inlines" tpl-name="item:ctypes"
    on="change|evo(3) val tpl('data:chars') pop data(_);
        input.inline|ev('detail') slr('/','-k', _) $(_) dup pass prop('value')"
    to="2/._main|fill;
        |val|goto('change')">
    <option data-k="c" title="[c]" value="custom" selected>常用</option>
    <option data-k="u" title="[u]" value="unit">单位</option>
    <option data-k="p" title="[p]" value="punctuation">标点</option>
    <option data-k="n" title="[n]" value="number">序号</option>
    <option data-k="m" title="[m]" value="math">数学</option>
    <option data-k="s" title="[s]" value="special">特殊</option>
    <option data-k="a" title="[a]" value="alphabet">字母</option>
    <option data-k="g" title="[g]" value="geometric">几何</option>
    <option data-k="e" title="[e]" value="emotion">表情</option>
    <option data-k="i" title="[i]" value="ipa87">音标</option>
    <option data-k="z" title="[z]" value="phonetic">拼音</option>
    <option data-k="r" title="[r]" value="radical">偏旁部首</option>
</select>


<!-- 主栏：单元属性 -->
<div class="_body _inline" tpl-name="minied:inlines">
    <div class="_main _list">
        <ul class="_prop" tpl-source="inlines:img">[图片]</ul>
    </div>
    <aside>
        <div class="_submit">
            <!-- ev.clipboardData.setData('text/html', [html]) -->
            <button type="submit">复制</button>
        </div>
    </aside>
</div>

<!-- 主栏：字符表 -->
<div class="_body _inline" tpl-name="minied:chars">
    <div class="_main _list"
        on="mouseenter(b)|evo(2) text;
            mousedown(b)|evo(2) text pop docExecmd('insertText')"
        to="#g-zoomin|text">
        <!-- span/b -->
    </div>
    <aside>
        <b id="g-zoomin" class="_zoomin">©</b>
    </aside>
</div>


<!-- 数据：字符集
    - 解析构造为：<b>...</b>序列。
    - 各字符集清单（<span>）存储在data中备用。 -->
<div tpl-name="data:chars"
    on="init|evo(1) text split $$(_1) wrap('<b>');
        save|ev('detail') dup xattr('-n');
        ^obted;
        ^done"
    to="~|fill|target(0) goto('save', _);
        |data(_)|fire('', 'done');
        (/span)|trigger('init', true);
        |off('init save')">
    <!-- <span><b>...</span> -->
    <span data-n="custom">〔〕〈〉「」『』〖〗【】《》（）［］｛｝※©℃￥ΩαβγΦπ</span>
    <span data-n="unit">$¢£¤¥°‰′″₠₡₢₣₤₥₦₧₨₩₪₫€₭₮₯₰₱℃℉○㎎㎏㎜㎝㎞㎡㏄㏎㏕＄％￠￠￡￡￥￥〇</span>
    <span data-n="punctuation">【】〖〗《》〈〉（）〔〕｛｝「」『』﹙﹚﹛﹜﹝﹞‹›«»…／｜＼‖｜¦–︱—︳︴‥﹒，、。．；：？！︰′‵‘～ˆˇˉ﹐﹑•﹔﹕﹖﹗﹏﹌﹋´ˋ―＿¯￣﹍﹉﹎﹊︵︶︷︸︹︺︻︼︽︾︿﹀﹁﹂﹃﹄¸¡¿〓〒</span>
    <span data-n="number">ⅠⅡⅢⅣⅤⅥⅦⅧⅨⅩⅪⅫⅰⅱⅲⅳⅴⅵⅶⅷⅸⅹ①②③④⑤⑥⑦⑧⑨⑩㈠㈡㈢㈣㈤㈥㈦㈧㈨㈩⒈⒉⒊⒋⒌⒍⒎⒏⒐⒑⒒⒓⒔⒕⒖⒗⒘⒙⒚⒛⑴⑵⑶⑷⑸⑹⑺⑻⑼⑽⑾⑿⒀⒁⒂⒃⒄⒅⒆⒇零壹贰叁肆伍陆柒捌玖拾佰仟万亿兆吉太拍艾分厘毫</span>
    <span data-n="math">#%&*/[]^±×÷•‰‱⁰¹²³⁴⁵⁶⁷⁸⁹₀₁₂₃₄₅₆₇₈₉⅓⅔½¼¾⅛⅜⅝⅞∈∏∑√∝∞∟∠∥∧∨∩∪∫∬∭∮∯∰∴∵∶∷∽≈≌≒≠≡≤≥≦≧≮≯⊕⊙⊥⊰⊱⊿⋘⋙⋚⋛⌒㏑㏒﹙﹚﹛﹜﹟﹠﹡﹢﹣﹤﹥﹦％＋－／＜＝＞～</span>
    <span data-n="special">№℡©™®＠@※★☆✦✧⏱⏲☏☚☛☜☝☞☟☢☣☪☭☮☯❀❁❂☸☻☠☼☽☾☿♀♁♂♃♄♅♆♇♔♕♖♗♘♙♚♛♜♝♞♟♡♢♤♧⚀⚁⚂⚃⚄⚅⚐⚑⚒⚓⚔⚕⚖⚘⚙⚛⚜⚝⚢⚣⚤⚥⚦⚧⚨⚩⚭⚮⚯⛆⛇❄⛈⛟⛴⛵✈⛽✂✄✓✔✗✘§♭♮♯¶♩♪♫♬℅㊣</span>
    <span data-n="alphabet">ァアィイゥウヴェエォオカガヵキギクグケゲヶコゴサザシジスズセゼソゾタダチヂツヅッテデトドヰンナパニピヌプネペノポハバヒビフブヘベホボヱマラミリムルメレモロャヤュユョヨヮワぁあぃいぅうぇえぉおかがきぎくぐけげこごんさざしじすずせぜそぞただちぢつづってでとどゐなぱにぴぬぷねぺのぽはばひびふぶへべほぼゑまらみりむるめれもろゃやゅゆょよゎわαΑβΒγΓδΔεΕζΖηΗθΘιΙκΚλΛμΜνΝξΞοΟπΠρΡσΣτΤυΥφΦχΧψΨωаАбБвВгГдДеЕёЁжЖзЗиИйЙкКлЛмМнНоОпПрРсСтТуУфФхХцЦчЧшШщЩъЪыЫьЬэЭюЮя</span>
    <span data-n="geometric">←↑→↓↔↕↖↗↘↙⇠⇡⇢⇣⇤⇥⇦⇧⇨⇩⇱⇲⇳⇵⇿■□▢▣▤▥▦▧▨▩▪▫▬▭▮▯▰▱▲△▶▷▼▽◀◁◆◇◈◉◊○◌◍◎●◐◑◒◓◔◕◖◗◘◙◚◛◜◝◞◟◠◡◢◣◤◥◦◧◨◩◪◫◬◭◮◯◰◱◲◳◴◵◶◷◸◹◺◻◼◽◾◿▁▂▃▄▅▆▇█▉▊▋▌▍▎▏▐░▒▓▔▕▖▗▘▙▚▛▜▝▞▟─━│┃┄┅┆┇┈┉┊┋┌┍┎┏┐┑┒┓└┕┖┗┘┙┚┛├┝┞┟┠┡┢┣┤┥┦┧┨┩┪┫┬┭┮┯┰┱┲┳┴┵┶┷┸┹┺┻┼┽┾┿╀╁╂╃╄╅╆╇╈╉╊╋═║╒╓╔╕╖╗╘╙╚╛╜╝╞╟╠╡╢╣╤╥╦╧╨╩╪╫╬╭╮╯╰╱╲╳</span>
    <span data-n="emotion">😀😁😂🤣😃😄😅😆😉😊😋😎😍😘😗😙😚🙂🤗🤩🤔🤨😐😑😶🙄😏😣😥😮🤐😯😪😫😴😌😛😜😝🤤😒😓😔😕🙃🤑😲🙁😖😞😟😤😢😭😦😧😨😩🤯😬😰😱😳🤪😵😠😡🤬😷🤒🤕🤢🤮🤧😇🤠🤡🤥🤫🤭🧐🤓😈👿👹👺☺☹💀☠👁👀💪🤞🖖👌👍👎🙏🎈🎄💎💐🌸🌷🥀🌻🌱☘🚗🚌🚐🚑🚅🚩❄⚡❤💔💖💘💬💝☢🔞📵</span>
    <span data-n="ipa87">ɑɐɒæɓʙβɔɕCɗɖðʤəɘɚɛɜɝɞɟʄɡɠɢʛɦɧHɥʜɨɪʝɭɬɫɮʟɱɯɰŋɳɲɴøɵɸθœɶʘɹɺɾɻʀʁɽʂʃʈʧʉʊʋⱱʌɣɤʍχʎʏʑʐʒʔʡʕʢǀǁǂ！</span>
    <span data-n="phonetic">āáǎàōóǒòêēéěèīíǐìūúǔùǖǘǚǜüㄉㄓㄚㄞㄢㄦㄆㄊㄍㄐㄔㄗㄧㄛㄟㄣㄇㄋㄎㄑㄕㄘㄨㄜㄠㄤㄈㄏㄒㄖㄙㄩㄝㄡ</span>
    <span data-n="radical">丨丶丷丿乚乛亅亠亻冂冖冫凵刂勹匚匸卝卤卩厄厶囗夂夊宀尢尣屮巛幺廴廾弋彐彑彡彳忄戶扌攴攵旡歺殳氵氺灬爫爻爿牜犭疋疒癶皿矢礻禸糸糹纟缶罒罓耂耒聿肀臼舛艮艸艹虍衤襾覀訁讠豕豸辵辶釒钅镸門阜阝隹韋飠饣髟鬥鬯鬲鹵黹黽黾龠</span>
</div>


<!-- 内联元素：属性清单 -->

<!-- 图片 -->
<ul class="_prop" tpl-name="inlines:img">
    <li tpl-node="prop:srcbase, prop:sources, prop:alts"></li>
    <li tpl-node="prop:upload, prop:preview"></li>
</ul>

<!-- 音频 -->
<ul class="_prop" tpl-name="inlines:audio">
    <li tpl-node="prop:srcbase, prop:source"></li>
    <li tpl-node="prop:upload, prop:preview"></li>
    <li tpl-node="prop:mediaopts"></li>
</ul>

<!-- 视频 -->
<ul class="_prop" tpl-name="inlines:video">
    <li tpl-node="prop:srcbase, prop:source, prop:poster"></li>
    <li tpl-node="prop:upload, prop:preview"></li>
    <li tpl-node="prop:mediaopts"></li>
</ul>

<!-- 兼容图片 -->
<ul class="_prop" tpl-name="inlines:picture">
    <li tpl-node="prop:srcbase, prop:sourcex, prop:altx"></li>
    <li tpl-node="prop:upload, prop:preview"></li>
</ul>

<!-- 链接 -->
<ul class="_prop" tpl-name="inlines:a">
    <li tpl-node="prop:textrow"></li>
    <li tpl-node="prop:href"></li>
    <li tpl-node="prop:target"></li>
</ul>

<!-- 代码 -->
<div class="_prop" tpl-name="inlines:code">
    <li tpl-node="prop:codes"></li>
</div>

<!-- 重点 -->
<div class="_prop" tpl-name="inlines:strong">
    <hr tpl-node="prop:content" />
</div>

<!-- 强调 -->
<div class="_prop" tpl-name="inlines:em">
    <hr tpl-node="prop:content" />
</div>

<!-- 下标 -->
<div class="_prop" tpl-name="inlines:sub">
    <hr tpl-node="prop:content" />
</div>

<!-- 上标 -->
<div class="_prop" tpl-name="inlines:sup">
    <hr tpl-node="prop:content" />
</div>

<!-- 短引用 -->
<div class="_prop" tpl-name="inlines:q">
    <hr tpl-node="prop:content" />
</div>

<!-- 日期/时间 -->
<ul class="_prop" tpl-name="inlines:times">
    <li tpl-source="prop:date, prop:time"></li>
</ul>

<!-- 插入性 -->
<div class="_prop" tpl-name="inlines:ins">
    <hr tpl-node="prop:content" />
</div>

<!-- 已删除 -->
<div class="_prop" tpl-name="inlines:del">
    <hr tpl-node="prop:content" />
</div>

<!-- 缩写 -->
<div class="_prop" tpl-name="inlines:abbr">
    <hr tpl-node="prop:content" />
</div>

<!-- 注脚 -->
<div class="_prop" tpl-name="inlines:small">
    <hr tpl-node="prop:content" />
</div>

<!-- 来源 -->
<div class="_prop" tpl-name="inlines:cite">
    <hr tpl-node="prop:content" />
</div>

<!-- 标记 -->
<div class="_prop" tpl-name="inlines:mark">
    <hr tpl-node="prop:content" />
</div>

<!-- 注音单元 -->
<ul class="_prop" tpl-name="inlines:ruby">
    <li tpl-node="prop:rb"></li>
    <li tpl-node="prop:rt"></li>
    <li tpl-node="prop:rp"></li>
</ul>

<!-- 表情 -->
<div class="_prop" tpl-name="inlines:orz">
    <hr tpl-node="prop:codes" />
</div>

<!-- 定义条目 -->
<div class="_prop" tpl-name="inlines:dfn">
    <hr tpl-node="prop:content" />
</div>

<!-- 样本 -->
<div class="_prop" tpl-name="inlines:samp">
    <hr tpl-node="prop:content" />
</div>

<!-- 键盘字 -->
<div class="_prop" tpl-name="inlines:kbd">
    <hr tpl-node="prop:content" />
</div>

<!-- 度量标示 -->
<ul class="_prop" tpl-name="inlines:meter">
    <li tpl-node="prop:max, prop:min"></li>
    <li tpl-node="prop:high, prop:low"></li>
    <li tpl-node="prop:optimum"></li>
</ul>

<!-- 失效 -->
<div class="_prop" tpl-name="inlines:s">
    <hr tpl-node="prop:content" />
</div>

<!-- 注记 -->
<div class="_prop" tpl-name="inlines:u">
    <hr tpl-node="prop:content" />
</div>

<!-- 变量 -->
<div class="_prop" tpl-name="inlines:var">
    <hr tpl-node="prop:content" />
</div>

<!-- 有向文本 -->
<ul class="_prop" tpl-name="inlines:bdo">
    <li tpl-node="prop:textrow"></li>
    <li tpl-node="prop:dir"></li>
</ul>

<!-- 换行 -->
<ul class="_prop" tpl-name="inlines:br">
    <li tpl-node="prop:amount"></li>
</ul>

<!-- 软换行 -->
<ul class="_prop" tpl-name="inlines:wbr">
    <li tpl-node="prop:amount"></li>
</ul>

<!-- 空白段 -->
<ul class="_prop" tpl-name="inlines:blank">
    <li tpl-node="prop:amount"></li>
</ul>
