<!-- 工具栏: grid|flex -->
<div tpl-name="main:tools" id="panel-tools" class="___Panel Tools">
    <!-- 前端区按钮 -->
    <span class="_start">
        <i id="b-outline"></i>
        <i id="b-slave"></i>
    </span>
    <!-- 逻辑区隔 -->
    <hr class="_1">

    <!-- [关联工具区] -->
    <span id="tools-active" class="_xbox"></span>

    <hr class="_2">
    <!-- 末端区按钮 -->
    <span class="_end">
        <i id="b-plugins"></i>
        <i id="b-maximize"></i>
    </span>
</div>

<!-- 内容区 -->
<div tpl-name="main:content" class="___Content">
    <!-- 临时态：视觉提示 -->
    <span id="content-temp" class="_tmps" data-pb="lose"></span>
    <!--滚动盒子
        注记：tabindex若设置在可滚动容器上，获取焦点时内容可能移位（浏览器行为） -->
    <div id="scrollbox" class="___Scroll" tabindex="0">
        <!-- 正文区 -->
        <div id="contents">
        </div>
    </div>
    <!-- 元素路径提示 -->
    <div id="content-path" class="_path" data-pb="lose">
        <!-- span/b...
            css: flex-wrap: wrap-reverse -->
    </div>
</div>

<!-- 主面板区 -->
<div tpl-name="main:slave" id="panel-slave" class="___Panel Slave" data-pb="rise">
    <!-- 标题栏: flex -->
    <div id="slave-head" class="_head">
        <b>内容</b>
        <b>样式</b>
        <b>特性</b>
        <b>源码</b>
        <!-- 可选 -->
        <b>脚本</b>
        <!-- 末端位:margin-inline-start:auto; -->
        <i id="b-close"></i>
    </div>
    <!-- 面板容器 -->
    <div id="slave-body" class="_xbox" tpl-load="slave:content"">
        <!-- 初始为内容面板 -->
    </div>
</div>

<!-- 状态栏 -->
<div id="panel-status" class="___Panel Status" tpl-name="main:status">
    <!-- 提示区 -->
    <div class="_tips"></div>
    <!-- 指令符 -->
    <div class="_cmdx">
        <!-- 提示集 -->
        <span id="cmd-chars" data-pb="hide">
            <b>:</b> <!-- 普通指令 -->
            <b>=</b> <!-- 计算（Worker） -->
            <b>/</b> <!-- 选择器选取 -->
            <b>?</b> <!-- 查找选取 -->
            <b>|</b> <!-- 选取集过滤 -->
        </span>
        <code id="cmd-char">:</code>
    </div>
    <!-- 命令行 -->
    <div class="_cmdline">
        <!-- 历史清单：
            - 上下箭头移动当前条目，Tab/Enter或单击选取。
            - 按ESC键取消弹出框，停止冒泡避免上层esc事件。 -->
        <div id="cmd-list" tabindex="0" class="_list" data-pb="hide">
            <ul>
                <!-- <li>: 动态增加/溢出 -->
            </ul>
        </div>
        <!-- 交互：
            1. 回车执行命令行，自动选取结果。
            2. Tab键展开当前键入内容匹配清单。
            3. 上下箭头和翻页键匹配当前键入词导航。
            4. Ctrl+U 清空命令行内容。
            5. 手动键入内容为搜索历史匹配。
            6. Tab和箭头翻页导航支持+Shift模糊匹配。
        -->
        <input id="cmd-input" type="text" class="_code" />
    </div>
    <!-- 出错信息 -->
    <div class="_err"></div>
    <!-- 帮助入口 -->
    <div class="_help">?</div>
</div>

<!-- [菜单集] -->
<div id="panel-annex" tpl-name="main:menus">
    <!-- 内联创建|转换 -->
    <menu id="menu-cells" class="_cells" data-pb="hide">
        <li data-val="a" title="{链接}"><a href="javascript:return false;">&lt;a&gt;</a></li>
        <li data-val="code" title="{代码}"><code>&lt;code&gt;</code></li>
        <li data-val="strong" title="{重点}"><strong>&lt;strong&gt;</strong></li>
        <li data-val="b" title="{粗体}"><strong>&lt;b&gt;</strong></li>
        <li data-val="em" title="{强调}"><em>&lt;em&gt;</em></li>
        <li data-val="i" title="{斜体}"><em>&lt;i&gt;</em></li>
        <li data-val="sub" title="{下标}">X<sub>&lt;sub&gt;</sub></li>
        <li data-val="sup" title="{上标}">X<sup>&lt;sup&gt;</sup></li>
        <li data-val="q" title="{引用}"><q>&lt;q&gt;</q></li>
        <li data-val="time" title="{时间}"><time>&lt;time&gt;</time></li>
        <li data-val="ins" title="{插入}"><ins>&lt;ins&gt;</ins></li>
        <li data-val="del" title="{删除}"><del>&lt;del&gt;</del></li>
        <li data-val="abbr" title="{缩写}"><abbr>&lt;abbr&gt;</abbr></li>
        <li data-val="small" title="{注脚}"><small>&lt;small&gt;</small></li>
        <li data-val="cite" title="{来源}"><cite>&lt;cite&gt;</cite></li>
        <li data-val="mark" title="{标记}"><mark>&lt;mark&gt;</mark></li>
        <li data-val="ruby" title="{注音}"><ruby>&lt;ruby&gt;</ruby></li>
    </menu>

    <!-- 基本上下文 -->
    <menu id="menu-edits" class="_edits" data-pb="hide">
        <li data-val="edit">
            <span><b>&lt;F2&gt;,&lt;I&gt;</b><i id="l-edit"></i>{微编辑}</span>
        </li>
        <li data-val="copy">
            <span><b>&lt;c&gt;</b><i id="l-copy"></i>{复制}</span>
        </li>
        <li data-val="move">
            <span><b>&lt;x&gt;</b><i id="l-move"></i>{移动}</span>
        </li>
        <li data-val="delete">
            <span><b>&lt;Del&gt;</b><i id="l-delete"></i>{删除}</span>
        </li>
        <li id="menu-prop" data-val="prop" data-pb="disabled">
            <span><b>&lt;p&gt;</b><i id="l-prop"></i>{属性}</span>
        </li>
    </menu>
</div>


<!-- 帮助栏 -->
<div tpl-name="help:docs" class="_docs">
    <span class="_walk">
        <i id="b-back-help" title="{后退}"></i>
        <i id="b-frwd-help" title="{前进}"></i>
    </span>
    <nav class="_nav" id="help-nav">
        <!-- span/b... 路径导航 -->
    </nav>
    <hr>
    <div id="help-xbox" class="_xbox"><!-- dl/dt,dd --></div>
</div>
