<!-- 工具栏 -->
<div class="___Panel Tools" tpl-name="main:tools"
    on="click|$('#g-scroll') focus">
    <div class="_start _icons">
        <!--click|stop:
            保持现有焦点不转移。-->
        <b id="x-outline" title="大纲〔F2〕" class="_press"
            on="toggle|$$('#outline,#lineLeft') lose(2) ('_press');
                click|stop"
            to="|toggleClass;
                |trigger('toggle')|fire('body', 'pcheck')">
            <i id="b-outline"></i>
        </b>
        <b id="x-slave" title="功能区〔F3〕" class="_press"
            on="toggle|$('#main-slave') lose(2) ('_press');
                click|stop"
            to="|toggleClass;
                |trigger('toggle')|fire('body', 'pcheck')">
            <i id="b-slave"></i>
        </b>
    </div>
    <hr>
    <div class="_middle _icons">
        <!-- 动态：微编辑下隐藏 -->
        <span id="tools-usual" class="_usual _icons" data-pbo=""
            on="hide|evo(3) lose;
                show|evo(3) lose(false)">
            <b title="文本化"
                on="click"
                by="Ed.toText"><i id="b-totext"></i></b>
            <b title="内容提升"
                on="click"
                by="Ed.unWrap"><i id="b-conup"></i></b>
            <hr>
        </span>
        <!--撤销：
            state 执行状态设置：true不可继续，false可继续。同时会激活Redo。
            注记：出于简化，用apply指令直接调用（而非by）。-->
        <b id="tools-undo" title="撤消〔u〕" data-pbo="disabled"
            on="state|evo(1) ev('detail') disable(_1);
                click|evo(3) disabled end (Kit) call('undo');
                enable|evo(1) disable(0)"
            to="#tools-redo|trigger('enable')"><i id="b-undo"></i></b>
        <!--重做：
            state 同上。同时会激活Undo。-->
        <b id="tools-redo" title="重做〔r〕" data-pbo="disabled"
            on="state|evo(1) ev('detail') disable(_1);
                click|evo(3) disabled end (Kit) call('redo');
                enable|evo(1) disable(0)"
            to="#tools-undo|trigger('enable')"><i id="b-redo"></i></b>
    </div>
    <div class="_end _icons">
        <b id="x-plugins" title="插件〔F7〕"
            on="click|tpl('modal:plugins')"
            to="#g-modal|trigger('open')">
            <i id="b-plugins"></i>
        </b>
        <b title="最大化"><i id="b-maximize"></i></b>
    </div>
</div>


<!--内容区
    cancel  取消微编辑（按ESE）
    medok   确认微编辑（Sys.medOk）
    medin   进入微编辑（Sys.medIn）
    medin|delay 跳过绑定keydown后紧跟触发退出（Tab既为进入也为退出）。
                注：快捷键进入时已延迟触发状态栏信息重置（#g-scroll:CHK）。
    info|focus  确认后聚焦根容器，便于键盘控。
    esced       向ESC栈添加一条记录。
    escpop      从ESC栈移除一条记录。
    @paste      微编辑粘贴纯文本，清理多余空白（空格替换）。
    @keydown    微编辑确认（退出即解绑）。stop 避免上层快捷键操作（放过Shift和Fn+ESC系列）。
    @keydown:x  屏蔽浏览器内置的3个编辑快捷键。兼容性：windows, MacOS。
-->
<div class="___Content" tpl-name="main:content"
    on="@keydown|iskey(2) scam('shift') either end stop ev('key') pass('Enter', 'Tab') avoid ev('key') SCAM;
        cancel|env('minied') pass stop;
        medok|env('minied') pass stop;
        medin|env('minied') end stop delay;
        info|$('#g-scroll') focus;
        esced|evo(3) (ESC) pop;
        escpop|('med', ESC) pop;
        @paste|avoid clipboard trims(' ') html exeCmd('insertHTML', _1);
        @keydown:x|SCAM('ctrl', 'meta') pass iskey(6) pass avoid"
    by="Kit.medpass(_1);
        Kit.medcancel"
    to="-;
        |off('keydown paste')|goto('escpop');
        |off('keydown paste')|goto('escpop');
        |bind('keydown paste keydown:x')|goto('esced');
        #g-count|trigger('reset');
        -|add('med')|env('minied', true);
        -|apply('delete')|env('minied', false) goto('info')">
    <!--滚动封装：
        注：不设计在<main>上，避免聚焦影响。
        keydown 普通模式快捷键操作（key, count），会重置状态栏提示。
        keyup   状态栏数字设置（非数字无效）。
        focus   设置选取范围到内部以捕获copy|cut事件。若范围已在内部则忽略，不影响用户划选。
        copy    Range忽略用户已选取不规则选区的情况（交由浏览器复制逻辑），clean清理内容中的换行，规范换行符用途。
        paste   普通模式下的粘贴。
        keydown|ev('shiftKey') 设置末尾追加式粘贴标记。
        keyup|env('paste:append', null) 清除追加粘贴标记（重置）。
        _focus  内容区聚焦（微编辑除外，否则影响光标）。使得上下文菜单显示时，操作非菜单快捷键可取消菜单。
    -->
    <div id="g-scroll" class="_scroll" tabindex="0"
        on="keydown|env('minied') end (CHK) acmsk $('#g-count') val int hotKey(_2) pass stop;
            keyup|env('minied') end (/^[\d.-]$/) ev('key') test(_1) pass $('#g-count') val ev('key') add(_1);
            cut|env('minied') end avoid v.sels text trims(' ') trim join('\n');
            paste|env('minied') end avoid clipboard trim dup pass split('\n') env('paste:append');
            focus|env('minied') end sRange(true) hasRange('/main') end $('/main') nodeRange(true) addRange;
            copy|env('minied') end sRange str end avoid v.sels text trims(' ') trim join('\n') pop clipboard;
            keydown|env('minied') end ev('shiftKey') pass env('paste:append', true);
            keyup|env('minied') end env('paste:append', null);
            _focus|env('minied') end evo(3) focus"
        by="-;-;
            Ed.deletes pass pop clipboard;
            Ed.paste(_1)"
        to="#g-count|trigger('reset')|fire(3, '_focus');
            #g-count|trigger('setv');
            -;-;
            #g-count|trigger('reset')">
        <!--上下文菜单
            cmenudo 菜单条目处理，发送_focus不影响微编辑焦点（minied进入时）。
                    即时失焦（blur）以取消菜单，保证ESC栈顺序正常。
            keydown 快捷处理直达，ESC按下或子菜单隐藏时忽略（自然由普通模式处理）。
            click(li[data-op])  主菜单条目操作（禁用时忽略）。
            click(li[data-val]) 子菜单条目操作。
            show    菜单显示位置计算/设置。
            submenu 转换子菜单类型判断并导入。
            status  设置菜单条目可用性（注：先disable）。
            blur    失焦即隐藏菜单，也由按ESC键触发。
        -->
        <menu id="g-cmenu" class="_cmenu" tabindex="0" data-pbo="hidden"
            on="cmenudo|evo(3) blur ev('detail');
                convert|ev('detail');
                show|evo(3) dup hide(false) $('1/') env('pointerXY') v.menupos(_2);
                submenu|v.convtype $case('inlines', 'blocks', null) $switch('menu:inlines', 'menu:blocks', 'menu:empty') node;
                click(li[data-op])|evo(2) dup disabled end attr('-op');
                keydown|ev('key') eq('Escape') $('/#m-conv') folded either end stop ev('key') slr('/#m-conv li', '-k', _1) $(_1) dup pass attr('-val');
                click(#m-conv li[data-val])|evo(2) attr('-val');
                blur|evo(3) hide(true) ('cmenu', ESC) pop;
                esced|evo(3) (ESC) pop;
                status|$$('/>li') dup disable v.cmenable disable(false);
                cancel|evo(3) blur"
            by="Kit.cmenudo;
                Kit.convert"
            to="#g-scroll|trigger('_focus');
                #g-scroll|trigger('focus');
                |cssSets('left top')|goto('status') goto('submenu') goto('esced');
                /menu|replace;
                |trigger('cmenudo');
                |trigger('convert');
                |trigger('convert');
                -|apply('delete')|fire('#g-scroll', '_focus');
                -|add('cmenu')|fire(3, 'focus')">
            <li data-op="minied"><b id="l-minied">修改</b><kbd>m/M/Tab</kbd></li>
            <hr>
            <!-- 300:延迟显示，400:延迟隐藏
                注：sm-1/sm-0 只是一个存储键，非用于事件绑定。 -->
            <li id="m-conv" role="menubar" data-pbo="folded"
                on="@sm-1|evo(3) dup(2) disabled end fold(0) v.submenu;
                    @sm-0|evo(3) fold(1);
                    mouseenter|data('tk-0') timeOut(null) evo(3) chain('sm-1') timeOut(300);
                    mouseleave|data('tk-1') timeOut(null) evo(3) chain('sm-0') timeOut(400)"
                to="/menu|cssSets(_1);
                    -;
                    |data('tk-1');
                    |data('tk-0')">
                <h4><b id="l-convert">转换</b></h4>
                <menu tpl-source="menu:inlines"></menu>
            </li>
            <hr>
            <li data-op="toup"><b id="l-toup">升级</b><kbd>Alt_←</kbd></li>
            <li data-op="todown"><b id="l-todown">降级</b><kbd>Alt_→</kbd></li>
            <hr>
            <li data-op="delete"><b id="l-delete">删除</b><kbd>Delete</kbd></li>
            <hr>
            <li data-op="property"><b id="l-property">属性</b><kbd>p</kbd></li>
        </menu>
        <!-- 内联创建
            store 检查范围对象（在内容元素但非代码内）并存储。
            show  显示菜单并压入ESC取消栈，提取单击位置相关存储值计算菜单显示位置。
                  to|focus 聚焦菜单，延时避免滚动框跳动。
            keydown 快捷键直达（data-k），stop避免上层快捷键触发。
            click   单击条目创建。[data-val] 排除占位<li>。
            blur    菜单失焦即隐藏，保证快捷键的当前场景合适。注记：不聚焦内容区避免取消划选文本。
            cancel  简单失焦调用。注记：与blur分开定义，否则会两次触发相同流程。
            esced/escpop  向ESC栈添加/移除一条记录。
        -->
        <menu id="g-cells" class="_cells" tabindex="0" data-pbo="hidden"
            on="create|data('range') ev('detail');
                store|ev('detail') dup v.rngok pass;
                show|evo(3) dup hide(false) $('1/') env('pointerXY') v.menupos(_2);
                blur|evo(3) hide(true) (null);
                keydown|ev('key') dup end('Escape') stop slr('/li', '-k', _1) $(_1) dup pass attr('-val');
                click(li[data-val])|evo(2) attr('-val');
                esced|evo(3) (ESC) pop;
                escpop|('cells', ESC) pop;
                cancel|evo(3) blur"
            by="Kit.rngelem(_1)"
            to="#g-scroll|trigger('focus');
                |data('range')|goto('show');
                |cssSets('left top')|goto('esced');
                |data('range')|goto('escpop');
                |trigger('create');
                |trigger('create');
                -|add('cells')|fire(3, 'focus');
                -|apply('delete')">
            <!--注记:
                包含href特性的<a>元素有聚焦能力，单击后会让菜单失焦。-->
            <li data-k="a" data-val="a" title="<a>"><b><a>链接</a></b><kbd>a</kbd></li>
            <li data-k="c" data-val="code" title="<code>"><b><code>代码</code></b><kbd>c</kbd></li>
            <li data-k="s" data-val="strong" title="<strong>"><b><strong>重点</strong></b><kbd>s</kbd></li>
            <li data-k="e" data-val="em" title="<em>"><b><em>强调</em></b><kbd>e</kbd></li>
            <li data-val="sup" title="上标<sup>"><b>O<sup>2</sup></b><kbd></kbd></li>
            <li data-val="sub" title="下标<sub>"><b>O<sub>2</sub></b><kbd></kbd></li>
            <li data-k="q" data-val="q" title="<q>"><b><q>引用</q></b><kbd>q</kbd></li>
            <li data-k="t" data-val="time" title="<time>"><b><time>时间</time></b><kbd>t</kbd></li>
            <li data-k="i" data-val="ins" title="<ins>"><b><ins>插入的</ins></b><kbd>i</kbd></li>
            <li data-k="d" data-val="del" title="<del>"><b><del>删除的</del></b><kbd>d</kbd></li>
            <li data-val="abbr" title="<abbr>"><b><abbr>缩写</abbr></b><kbd></kbd></li>
            <li data-val="small" title="<small>"><b><small>注脚</small></b><kbd></kbd></li>
            <li data-val="cite" title="<cite>"><b><cite>来源</cite></b><kbd></kbd></li>
            <li data-k="m" data-val="mark" title="<mark>"><b><mark>标记</mark></b><kbd>m</kbd></li>
            <li data-k="r" data-val="ruby" title="<ruby>">
                <b><ruby>注音
                    <rp>(</rp><rt>zhù yīn</rt><rp>)</rp>
                    </ruby></b>
                <kbd>r</kbd>
            </li>
            <li data-k="o" data-val="orz" title="表情<code:orz>"><b><code role="orz">(^_^)</code></b><kbd>o</kbd></li>
            <li data-val="dfn" title="<dfn>"><b><dfn>定义条目</dfn></b><kbd></kbd></li>
            <li data-val="samp" title="<samp>"><b><samp>样本</samp></b><kbd></kbd></li>
            <li data-k="k" data-val="kbd" title="<kbd>"><b><kbd>键盘字</kbd></b><kbd>k</kbd></li>
            <li data-val="s" title="<s>"><b><s>失效</s></b><kbd></kbd></li>
            <li data-k="u" data-val="u" title="<u>"><b><u>注记</u></b><kbd>u</kbd></li>
            <li data-k="v" data-val="var" title="<var>"><b><var>变量</var></b><kbd>v</kbd></li>
            <li data-k="b" data-val="bdo" title="<bdo dir=rtl>"><b><bdo dir="rtl">有向文本</bdo></b><kbd>b</kbd></li>
            <li data-pbo="disabled">&nbsp;</li>
            <li data-val="b" title="<b>"><b>特用&lt;b&gt;</b><kbd></kbd></li>
            <li data-val="i" title="<i>"><b>特用&lt;i&gt;</b><kbd></kbd></li>
        </menu>
        <!--内容区：
            click(*)|avoid 取消链接单击跳转。
            focus(audio,video) 单击选取在音/视频元素上无效，故借助聚焦（但无键盘按键信息）。
            cancel 选取集取消（ESC）。
            mouseup 弹出内联单元创建表。划选完整嵌套，非空，发送Range。同时存储鼠标指针和滚动条位置。
            mouseover(*),mouseout(*)|...('_hover') 提供样式定位依据。
            mouseleave|end 重置状态栏，除非已有计数指定。
            mousedown|...avoid 避免 Shift+单击 变成划选（已经有划选除外）。
            mouseup([contenteditable])... 微编辑光标记忆，用于特殊字符插入。注：keyup-全选，focus-无点击进入。
        -->
        <main id="content" class="content"
            on="click(*) focus(~audio,video)|avoid env('minied') end sRange str end evo(1) SCAM;
                cancel|stop env('minied') end;
                mouseover(*)|env('minied') end ('_hover');
                mouseout(*)|env('minied') end ('_hover');
                mouseover(*)|env('minied') end $('#g-count') val end evo(1) dup einfo(true) v.roleinfo(_1) str('<', '>');
                mouseleave|env('minied') end $('#g-count') val end;
                mouseup|stop env('minied') end ev('pageX pageY') env('pointerXY', _1) sRange dup pass dup str pass;
                contextmenu|env('minied') end avoid ev('pageX pageY') env('pointerXY', _1);
                mousedown|env('minied') end sRange str vnot ev('shiftKey') both pop avoid;
                mouseup([contenteditable]) keyup([contenteditable]) input focus([contenteditable])|env('minied') pass sRange pop xRange stop"
            by="Ed.click(_1);
                Kit.ecancel"
            to="#g-count|trigger('reset');
                #g-count|trigger('reset');
                =|addClass;
                =|removeClass;
                #status-info|trigger('info');
                #g-count|trigger('reset');
                #g-cells|trigger('store');
                #g-cmenu|trigger('show')">
            <hgroup>
                <h1>文章内容的规范化结构</h1>
                <h3>—— 简单干净的源码，清爽愉悦的阅读</h3>
            </hgroup>
            <header role="abstract">
                <h3>【提 要】</h3>
                <p>一篇文章的内容最多支持五个层级：<strong>章</strong>/<strong>节</strong>/<strong>区</strong>/<strong>段</strong>/<strong>末</strong>，每一个层级对应一个片区（<code>section</code>）。片区的标题为 <code>&lt;h2&gt;</code>。<code>&lt;h1&gt;</code> 标题用于页面作为文章的主标题。</p>
                <p><code>&lt;article&gt;</code> 是内容结构的根元素，包含了除顶层 <strong>提要</strong>、<strong>目录</strong>、<strong>文献参考</strong> 和 <strong>另参见</strong> 单元以外的全部内容。</p>
                <blockquote>
                    <p><strong>注：</strong>
                        一篇结构良好的文章除了主标题外，通常只会包含最多3-4个层级，即：<strong>章/节/区/段</strong>，再多的层级阅读友好性会较差。</p>
                </blockquote>
            </header>
            <article>
                <header>
                    <p>文章结构良好有着十分重要的意义，它不但让大纲清晰，易于理解，而且也可以让样式共享成为可能。共享样式意义非凡，它使得样式可以由专业的人员来制作，设计精美，而文章的作者也可以只专注于内容本身。</p>
                    <p>依通常的情形和需求，这里提供最多5个层级的支持，分别命名为：<strong>章</strong>、<strong>节</strong>、<strong>区</strong>、<strong>段</strong>、<strong>末</strong>。它们逐层嵌套，每一层都由一个 <code>&lt;section&gt;</code> 封装，为便于识别和定位，<code>&lt;section&gt;</code> 元素上分别定义 <code>role</code> 属性值为：<code>s1 ~ s5</code>。</p>
                </header>
                <section role="s1">
                    <h2 id="层次">层次</h2>
                    <section role="s2">
                        <h2 id="标题规划">标题规划</h2>
                        <p>逐层嵌套的 <code>&lt;section&gt;</code> 封装会隔离标题的层次逻辑，但标题自身的层级依然是可以被规划和利用的，这能带来一些好处：内容的层次逻辑更清晰，CSS定位也更简单。</p>
                        <ul>
                            <li><strong>h1</strong>: 仅用于文章的主标题，通常也就是页面的主标题。</li>
                            <li><strong>h2</strong>: 各区段（<code>&lt;section&gt;</code>）的标题，作为首个子元素存在。</li>
                            <li><strong>h3</strong>: 各行块单元的小标题，如：文章提要（<code>&lt;header:abstract&gt;/&lt;h3&gt;, &lt;p&gt;...</code>）、引用块（<code>&lt;blockquote&gt;/&lt;h3&gt;, &lt;p&gt;...</code>）等。另外也作为文章的副标题，和主标题一起存在于一个 <code>&lt;hgroup&gt;</code> 之内（如果需要副标题的话）。</li>
                            <li><strong>h4</strong>: 级联表里子列表的标题条目项（<code>&lt;li&gt;/&lt;h4&gt;, &lt;ol&gt;</code>）。</li>
                            <li><strong>h5, h6</strong>: 未使用。</li>
                        </ul>
                    </section>
                    <section role="s2">
                        <h2 id="层次示意">层次示意</h2>
                        <pre role="codeblock">
<code data-lang="html" data-tab="4">&lt;<b role="tag">h1</b>&gt;&lt;/<b role="tag">h1</b>&gt;                                   <i>&lt;!-- 页/主标题 --&gt;</i>
&lt;<b role="tag">header</b> role=<s>"abstract"</s>&gt;&lt;/<b role="tag">header</b>&gt;           <i>&lt;!-- 提要 --&gt;</i>
&lt;<b role="tag">nav</b> role=<s>"toc"</s>&gt;&lt;/<b role="tag">nav</b>&gt;                      <i>&lt;!-- 目录 --&gt;</i>
&lt;<b role="tag">article</b>&gt;                                   <i>&lt;!-- 文章区 --&gt;</i>
    &lt;<b role="tag">header</b>&gt;&lt;/<b role="tag">header</b>&gt;                       <i>&lt;!-- 导言 --&gt;</i>
    &lt;<b role="tag">section</b> role=<s>"s1"</s>&gt;                     <i>&lt;!-- 章片区。第一层 section --&gt;</i>
        &lt;<b role="tag">h2</b>&gt;&lt;/<b role="tag">h2</b>&gt;                           <i>&lt;!-- 章标题 --&gt;</i>
        &lt;<b role="tag">header</b>&gt;&lt;/<b role="tag">header</b>&gt;                   <i>&lt;!-- 章导言 --&gt;</i>
        &lt;<b role="tag">section</b> role=<s>"s2"</s>&gt;                 <i>&lt;!-- 节片区。第二层 section --&gt;</i>
            &lt;<b role="tag">h2</b>&gt;&lt;/<b role="tag">h2</b>&gt;                       <i>&lt;!-- 节标题 --&gt;</i>
            &lt;<b role="tag">header</b>&gt;&lt;/<b role="tag">header</b>&gt;               <i>&lt;!-- 节导言 --&gt;</i>
            &lt;<b role="tag">section</b> role=<s>"s3"</s>&gt;             <i>&lt;!-- 区片区。第三层 section --&gt;</i>
                &lt;<b role="tag">h2</b>&gt;&lt;/<b role="tag">h2</b>&gt;                   <i>&lt;!-- 区标题 --&gt;</i>
                &lt;<b role="tag">header</b>&gt;&lt;/<b role="tag">header</b>&gt;           <i>&lt;!-- 区导言 --&gt;</i>
                &lt;<b role="tag">section</b> role=<s>"s4"</s>&gt;         <i>&lt;!-- 段片区。第四层 section --&gt;</i>
                    &lt;<b role="tag">h2</b>&gt;&lt;/<b role="tag">h2</b>&gt;               <i>&lt;!-- 段标题 --&gt;</i>
                    &lt;<b role="tag">header</b>&gt;&lt;/<b role="tag">header</b>&gt;       <i>&lt;!-- 段导言 --&gt;</i>
                    &lt;<b role="tag">section</b> role=<s>"s5"</s>&gt;     <i>&lt;!-- 末片区。第五层 section --&gt;</i>
                        &lt;<b role="tag">h2</b>&gt;&lt;/<b role="tag">h2</b>&gt;           <i>&lt;!-- 末标题 --&gt;</i>
                        &lt;<b role="tag">header</b>&gt;&lt;/<b role="tag">header</b>&gt;   <i>&lt;!-- 末导言 --&gt;</i>
                        {content} ...       <i>&lt;!-- 正文内容（各种行块内容件，如：&lt;p&gt;, &lt;ol&gt;） --&gt;</i>
                        &lt;<b role="tag">footer</b>&gt;&lt;/<b role="tag">footer</b>&gt;   <i>&lt;!-- 末小结 --&gt;</i>
                    &lt;/<b role="tag">section</b>&gt;
                    ...                     <i>&lt;!-- 平级 section:s5 --&gt;</i>
                    &lt;<b role="tag">footer</b>&gt;&lt;/<b role="tag">footer</b>&gt;       <i>&lt;!-- 段小结 --&gt;</i>
                &lt;/<b role="tag">section</b>&gt;
                ...                         <i>&lt;!-- 平级 section:s4 --&gt;</i>
                &lt;<b role="tag">footer</b>&gt;&lt;/<b role="tag">footer</b>&gt;           <i>&lt;!-- 区小结 --&gt;</i>
            &lt;/<b role="tag">section</b>&gt;
            ...                             <i>&lt;!-- 平级 section:s3 --&gt;</i>
            &lt;<b role="tag">footer</b>&gt;&lt;/<b role="tag">footer</b>&gt;               <i>&lt;!-- 节小结 --&gt;</i>
        &lt;/<b role="tag">section</b>&gt;
        ...                                 <i>&lt;!-- 平级 section:s2 --&gt;</i>
        &lt;<b role="tag">footer</b>&gt;&lt;/<b role="tag">footer</b>&gt;                   <i>&lt;!-- 章小结 --&gt;</i>
    &lt;/<b role="tag">section</b>&gt;
    &lt;<b role="tag">hr</b> /&gt;                                  <i>&lt;!-- 章分隔 --&gt;</i>
    ...                                     <i>&lt;!-- 平级 section:s1 --&gt;</i>
    &lt;<b role="tag">footer</b>&gt;&lt;/<b role="tag">footer</b>&gt;                       <i>&lt;!-- 结语 --&gt;</i>
&lt;/<b role="tag">article</b>&gt;
&lt;<b role="tag">ul</b> role=<s>"seealso"</s>&gt;&lt;/<b role="tag">ul</b>&gt;                    <i>&lt;!-- 另参见 --&gt;</i>
&lt;<b role="tag">ol</b> role=<s>"reference"</s>&gt;&lt;/<b role="tag">ol</b>&gt;                  <i>&lt;!-- 文献参考 --&gt;</i>
</code></pre>
                        <aside>
                            <h3>附：Markdown解析</h3>
                            <ul>
                                <li>每一级标题之后的内容即为该标题相关的 <code>&lt;section&gt;</code>。</li>
                                <li>如果在内容之中包含层级更低的子标题，首个子标题之前的内容被视为 <code>&lt;header&gt;</code>。</li>
                                <li>如果内容中已经没有下级标题，则视为正文内容。</li>
                                <li>如果子标题不是顺次递减而是跨级，也视为正文内容，但内部子标题继续解析。但这通常是内容组织不太合理的表现。</li>
                            </ul>
                        </aside>
                    </section>
                </section>
                <hr />
                <section role="s1">
                    <h2 id="组成">组成</h2>
                    <section role="s2">
                        <h2 id="内容块">内容块</h2>
                        <header>
                            <p>独立的行块内容单元，占据单独的一行（<code>display:block</code>）。如 <code>&lt;hgroup&gt;</code>、<code>&lt;ol&gt;</code>、<code>&lt;p&gt;</code>，前两者为拥有固定结构的单元，后者可以直接包含文本内容或内联元素（<code>display:inline|inline-block</code>）。</p>
                        </header>
                        <section role="s3">
                            <h2 id="结构类">结构类</h2>
                            <p>内部不能直接包含文本或内联元素，有固定的子级结构。</p>
                            <ol role="codelist" data-lang="html">
                                <li><code>&lt;<b role="tag">hgroup</b>&gt;&lt;/<b role="tag">hgroup</b>&gt;                   <i>&lt;!-- 主/副标题组：HGROUP /h1, h3 --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">header</b> role=<s>"abstract"</s>&gt;&lt;/<b role="tag">header</b>&gt;   <i>&lt;!-- 提要：ABSTRACT /h3, p... --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">nav</b> role=<s>"toc"</s>&gt;&lt;/<b role="tag">nav</b>&gt;              <i>&lt;!-- 目录：TOC /h3, ol:cascade/li/a（可多级） --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">ul</b> role=<s>"seealso"</s>&gt;&lt;/<b role="tag">ul</b>&gt;            <i>&lt;!-- 另参见：SEEALSO /li... --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">ol</b> role=<s>"reference"</s>&gt;&lt;/<b role="tag">ol</b>&gt;          <i>&lt;!-- 文献参考：REFERENCE /li... --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">header</b>&gt;&lt;/<b role="tag">header</b>&gt;                   <i>&lt;!-- 导言：HEADER /h3, p... --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">footer</b>&gt;&lt;/<b role="tag">footer</b>&gt;                   <i>&lt;!-- 结语/小结：FOOTER /h3, p... --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">article</b>&gt;&lt;/<b role="tag">article</b>&gt;                 <i>&lt;!-- 文章区：ARTICLE /header, s1, footer, hr --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">section</b> role=<s>"s1"</s>&gt;&lt;/<b role="tag">section</b>&gt;       <i>&lt;!-- 片区：S1 /h2, header, s2, footer --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">section</b> role=<s>"s2"</s>&gt;&lt;/<b role="tag">section</b>&gt;       <i>&lt;!-- 片区：S2 /h2, header, s3, footer --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">section</b> role=<s>"s3"</s>&gt;&lt;/<b role="tag">section</b>&gt;       <i>&lt;!-- 片区：S3 /h2, header, s4, footer --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">section</b> role=<s>"s4"</s>&gt;&lt;/<b role="tag">section</b>&gt;       <i>&lt;!-- 片区：S4 /h2, header, s5, footer --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">section</b> role=<s>"s5"</s>&gt;&lt;/<b role="tag">section</b>&gt;       <i>&lt;!-- 片区：S5 /h2, header, [content], footer --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">ul</b>&gt;&lt;/<b role="tag">ul</b>&gt;                           <i>&lt;!-- 无序列表：UL /li... --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">ol</b>&gt;&lt;/<b role="tag">ol</b>&gt;                           <i>&lt;!-- 有序列表：OL /li... --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">ol</b> role=<s>"codelist"</s>&gt;&lt;/<b role="tag">ol</b>&gt;           <i>&lt;!-- 代码表：CODELIST /li/code/b, i, #text --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">ul</b> role=<s>"ulx"</s>&gt;&lt;/<b role="tag">ul</b>&gt;                <i>&lt;!-- 无序级联表：ULX /li/h4, ol|ul/... --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">ol</b> role=<s>"olx"</s>&gt;&lt;/<b role="tag">ol</b>&gt;                <i>&lt;!-- 有序级联表：OLX /li/h4, ul|ol/... --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">ol</b> role=<s>"cascade"</s>&gt;&lt;/<b role="tag">ol</b>&gt;            <i>&lt;!-- 级联编号表：CASCADE /li/h4, ol/... --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">dl</b>&gt;&lt;/<b role="tag">dl</b>&gt;                           <i>&lt;!-- 描述列表：DL /dt, dd... --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">table</b>&gt;&lt;/<b role="tag">table</b>&gt;                     <i>&lt;!-- 表格：TABLE /caption, thead, tbody, tfoot/tr/td... --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">figure</b>&gt;&lt;/<b role="tag">figure</b>&gt;                   <i>&lt;!-- 插图：FIGURE /figcaption, [span/img, i:explain?]... --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">blockquote</b>&gt;&lt;/<b role="tag">blockquote</b>&gt;           <i>&lt;!-- 引用块：BLOCKQUOTE /h3, p... --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">aside</b>&gt;&lt;/<b role="tag">aside</b>&gt;                     <i>&lt;!-- 批注块：ASIDE /h3, p... --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">details</b>&gt;&lt;/<b role="tag">details</b>&gt;                 <i>&lt;!-- 详细内容：DETAILS /sumary, p... --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">pre</b> role=<s>"codeblock"</s>&gt;&lt;/<b role="tag">pre</b>&gt;        <i>&lt;!-- 代码块：CODEBLOCK /code/b, i, #text --&gt;</i></code></li>
                            </ol>
                        </section>
                        <section role="s3">
                            <h2 id="文本类">文本类</h2>
                            <p>可直接包含文本内容和内联单元，没有固定的DOM结构可单独占据一行的块级元素。</p>
                            <ol role="codelist" data-lang="html" start="27">
                                <li><code>&lt;<b role="tag">p</b>&gt;&lt;/<b role="tag">p</b>&gt;                 <i>&lt;!-- 段落：P 通用内容容器 --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">p</b> role=<s>"note"</s>&gt;&lt;/<b role="tag">p</b>&gt;     <i>&lt;!-- 注解：NOTE --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">p</b> role=<s>"tips"</s>&gt;&lt;/<b role="tag">p</b>&gt;     <i>&lt;!-- 提示：TIPS --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">address</b>&gt;&lt;/<b role="tag">address</b>&gt;     <i>&lt;!-- 地址信息：ADDRESS --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">pre</b>&gt;&lt;/<b role="tag">pre</b>&gt;             <i>&lt;!-- 预排版：PRE 非代码块 --&gt;</i></code></li>
                            </ol>
                        </section>
                        <section role="s3">
                            <h2 id="单体类">单体类</h2>
                            <p>不包含任何内容，是一个独立存在的单元。</p>
                            <ol role="codelist" data-lang="html" start="32">
                                <li><code>&lt;<b role="tag">hr</b> /&gt;                      <i>&lt;!-- 分隔：HR --&gt;</i></code></li>
                                <li><code>&lt;<b role="tag">div</b> role=<s>"blank"</s>&gt;&lt;/<b role="tag">div</b>&gt;    <i>&lt;!-- 白板：BLANK 用于交互展示 --&gt;</i></code></li>
                            </ol>
                        <aside>
                            <p><strong>注：</strong>
                                白板可插入内容，但仅适用在运行时下且应当是临时的。</p>
                        </aside>
                        </section>
                    </section>
                    <section role="s2">
                        <h2 id="内容件">内容件</h2>
                        <p>可直接作为文章正文内容的内容块被称为 <strong>内容件</strong>，上面的文本类内容块和除了顶层 <em>提要</em>、<em>目录</em> 等少数几个单元的结构类内容块都可以作为正文内容，它们都是内容件。如后面 <strong>附录</strong> 中的 <em>插图</em>、<em>描述列表</em> 等。</p>
                    </section>
                    <section role="s2">
                        <h2 id="内容行和内容元素">内容行和内容元素</h2>
                        <p>可直接包含文本和内联元素的行级元素，上面的文本类内容件就是 <strong>内容行</strong>。但内容行还包括不能单独作为内容的行元素，如 <code>&lt;li&gt;</code>、<code>&lt;caption&gt;</code>、<code>&lt;dt&gt;</code>、<code>&lt;dd&gt;</code> 等。</p>
                        <p><strong>内容元素</strong> 是所有可以直接包含文本和其它内联元素的元素。上面的内容行是内容元素，但还有其它非行级的元素也可以直接包含文本，如 <code>&lt;td&gt;</code>、<code>&lt;strong&gt;</code>、<code>&lt;small&gt;</code> 等，前者是表格的内容单元，而后两者则是内联元素。</p>
                    </section>
                    <section role="s2">
                        <h2 id="内联单元">内联单元</h2>
                        <header>
                            <p>只能被包含在内容元素里的元素，没有行块的逻辑，有时也称为行内元素。其中既有可以包含文本的内容元素，也有结构性元素，如文本类的<ruby>注音<rp>(</rp><rt>zhùyīn</rt><rp>)</rp></ruby>（<code>&lt;ruby&gt;/&lt;rp&gt;,&lt;rt&gt;</code>）、或媒体类的图片（<code>&lt;img&gt;</code>）、音频（<code>&lt;audio&gt;</code>）等。</p>
                            <p>内联单元不是 <strong>内容件</strong>，它们不能作为片区（<code>&lt;section&gt;</code>）的直接子元素出现，而必须被行块级的内容行元素（如 <code>&lt;p&gt;</code>、<code>&lt;li&gt;</code>、<code>&lt;address&gt;</code> 等）封装才行。</p>
                        </header>
                        <section role="s3">
                            <h2>示例</h2>
                            <p>以下的内联单元包含或多或少的可修改的属性。单击选取后键入<kbd>P</kbd>即可调出属性编辑框。</p>
                            <ol>
                                <li>音频：<audio src="../docs/media/horse.ogg" controls="controls">Sorry, your browser doesn't support embedded audios.</audio></li>
                                <li>视频：<video src="../docs/media/movie.ogg" controls="controls">Sorry, your browser doesn't support embedded videos.
                                    <source src="../docs/media/temp/flower.webm" type="video/webm">
                                    <source src="../docs/media/temp/flower.mp4" type="video/mp4">
                                    <track kind="captions" src="../docs/media/friday.vtt" srclang="en"></video>
                                </li>
                                <li>自适应图片：<picture>
                                    <source srcset="../docs/images/pic-800.jpg" media="(min-width: 1400px)">
                                    <img src="../docs/images/pic-420.jpg" alt="小夜灯"></picture>
                                </li>
                                <li>图片：<img width="480" src="../docs/images/pic01.jpg" alt="寻爱巅峰"></li>
                                <li>SVG：<svg height="69px" version="1.1" viewBox="0 0 139 139" width="59px" xml:space="preserve"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path
                                        d="M127.558,111.961L100.249,84.65c4.64-7.387,7.333-16.118,7.333-25.488c0-26.509-21.49-47.996-47.998-47.996  c-26.508,0-47.996,21.487-47.996,47.996c0,26.51,21.487,47.995,47.996,47.995c10.197,0,19.642-3.188,27.414-8.605l26.984,26.986  c1.875,1.873,4.333,2.806,6.788,2.806c2.458,0,4.913-0.933,6.791-2.806C131.308,121.787,131.308,115.711,127.558,111.961z   M59.584,91.607c-17.917,0-32.443-14.525-32.443-32.443S41.667,26.72,59.584,26.72c17.918,0,32.443,14.526,32.443,32.444  S77.502,91.607,59.584,91.607z">
                                    </path></svg>
                                </li>
                                <li>注音：<ruby>
                                    这是一段注音
                                    <rp>(</rp><rt>zhè shì yī duàn zhù yīn</rt><rp>)</rp></ruby>
                                </li>
                                <li>时间：<time datetime="2021-04-26 04:30">昨天清晨</time></li>
                                <li>量度：<meter low="69" high="80" max="100" value="84"></meter></li>
                                <li>空白：<span role="space"></span></li>
                                <li>链接：<a href="https://www.bing.com">https://www.bing.com</a></li>
                                <li>短引用：<q>这是一段行内引用</q></li>
                                <li>缩写：<abbr title="World Wide Web">WWW</abbr></li>
                                <li>删除：<del>需要删除的文字</del></li>
                                <li>插入：<ins>新插入的补充说明</ins></li>
                                <li>代码：<code>print('Hello the world.')</code></li>
                                <li>定义词：<dfn>Internet</dfn></li>
                                <li>方向：<bdo dir="rtl">回头看^o^</bdo></li>
                            </ol>
                            <p dir="ltr">This arabic word <bdi>ARABIC_PLACEHOLDER</bdi> is automatically displayed right-to-left.</p>
                        </section>
                        <section role="s3">
                            <h2>清单</h2>
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th>名称</th>
                                        <th>标签</th>
                                        <th>类型/结构</th>
                                        <th>No.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>音频</th>
                                        <td><code>&lt;<b role="tag">audio</b>&gt;&lt;/<b role="tag">audio</b>&gt;</code></td>
                                        <td><code><i>AUDIO /track,source, #text</i></code></td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <th>视频</th>
                                        <td><code>&lt;<b role="tag">video</b>&gt;&lt;/<b role="tag">video</b>&gt;</code></td>
                                        <td><code><i>VIDEO /track,source, #text</i></code></td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th>图片</th>
                                        <td><code>&lt;<b role="tag">picture</b>&gt;&lt;/<b role="tag">picture</b>&gt;</code></td>
                                        <td><code><i>PICTURE /source,img</i></code></td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <th>链接</th>
                                        <td><code>&lt;<b role="tag">a</b>&gt;&lt;/<b role="tag">a</b>&gt;</code></td>
                                        <td><code><i>A</i></code></td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <th>重点</th>
                                        <td><code>&lt;<b role="tag">strong</b>&gt;&lt;/<b role="tag">strong</b>&gt;</code></td>
                                        <td><code><i>STRONG</i></code></td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <th>强调</th>
                                        <td><code>&lt;<b role="tag">em</b>&gt;&lt;/<b role="tag">em</b>&gt;</code></td>
                                        <td><code><i>EM</i></code></td>
                                        <td>6</td>
                                    </tr>
                                    <tr>
                                        <th>短引用</th>
                                        <td><code>&lt;<b role="tag">q</b>&gt;&lt;/<b role="tag">q</b>&gt;</code></td>
                                        <td><code><i>Q</i></code></td>
                                        <td>7</td>
                                    </tr>
                                    <tr>
                                        <th>缩写</th>
                                        <td><code>&lt;<b role="tag">abbr</b>&gt;&lt;/<b role="tag">abbr</b>&gt;</code></td>
                                        <td><code><i>ABBR</i></code></td>
                                        <td>8</td>
                                    </tr>
                                    <tr>
                                        <th>来源</th>
                                        <td><code>&lt;<b role="tag">cite</b>&gt;&lt;/<b role="tag">cite</b>&gt;</code></td>
                                        <td><code><i>CITE</i></code></td>
                                        <td>9</td>
                                    </tr>
                                    <tr>
                                        <th>注脚</th>
                                        <td><code>&lt;<b role="tag">small</b>&gt;&lt;/<b role="tag">small</b>&gt;</code></td>
                                        <td><code><i>SMALL</i></code></td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <th>时间</th>
                                        <td><code>&lt;<b role="tag">time</b>&gt;&lt;/<b role="tag">time</b>&gt;</code></td>
                                        <td><code><i>TIME</i></code></td>
                                        <td>11</td>
                                    </tr>
                                    <tr>
                                        <th>删除</th>
                                        <td><code>&lt;<b role="tag">del</b>&gt;&lt;/<b role="tag">del</b>&gt;</code></td>
                                        <td><code><i>DEL</i></code></td>
                                        <td>12</td>
                                    </tr>
                                    <tr>
                                        <th>插入</th>
                                        <td><code>&lt;<b role="tag">ins</b>&gt;&lt;/<b role="tag">ins</b>&gt;</code></td>
                                        <td><code><i>INS</i></code></td>
                                        <td>13</td>
                                    </tr>
                                    <tr>
                                        <th>下标</th>
                                        <td><code>&lt;<b role="tag">sub</b>&gt;&lt;/<b role="tag">sub</b>&gt;</code></td>
                                        <td><code><i>SUB</i></code></td>
                                        <td>14</td>
                                    </tr>
                                    <tr>
                                        <th>上标</th>
                                        <td><code>&lt;<b role="tag">sup</b>&gt;&lt;/<b role="tag">sup</b>&gt;</code></td>
                                        <td><code><i>SUP</i></code></td>
                                        <td>15</td>
                                    </tr>
                                    <tr>
                                        <th>标记</th>
                                        <td><code>&lt;<b role="tag">mark</b>&gt;&lt;/<b role="tag">mark</b>&gt;</code></td>
                                        <td><code><i>MARK</i></code></td>
                                        <td>16</td>
                                    </tr>
                                    <tr>
                                        <th>代码</th>
                                        <td><code>&lt;<b role="tag">code</b> data-lang=<s>"go"</s>&gt;&lt;/<b role="tag">code</b>&gt;</code></td>
                                        <td><code><i>CODE，可定义语言</i></code></td>
                                        <td>17</td>
                                    </tr>
                                    <tr>
                                        <th>表情</th>
                                        <td><code>&lt;<b role="tag">code</b> role=<s>"orz"</s>&gt;&lt;/<b role="tag">code</b>&gt;</code></td>
                                        <td><code><i>ORZ</i></code></td>
                                        <td>18</td>
                                    </tr>
                                    <tr>
                                        <th>注音</th>
                                        <td><code>&lt;<b role="tag">ruby</b>&gt;&lt;/<b role="tag">ruby</b>&gt;</code></td>
                                        <td><code><i>RUBY /rp,rt</i></code></td>
                                        <td>19</td>
                                    </tr>
                                    <tr>
                                        <th>定义</th>
                                        <td><code>&lt;<b role="tag">dfn</b>&gt;&lt;/<b role="tag">dfn</b>&gt;</code></td>
                                        <td><code><i>DFN</i></code></td>
                                        <td>20</td>
                                    </tr>
                                    <tr>
                                        <th>样本</th>
                                        <td><code>&lt;<b role="tag">samp</b>&gt;&lt;/<b role="tag">samp</b>&gt;</code></td>
                                        <td><code><i>SAMP</i></code></td>
                                        <td>21</td>
                                    </tr>
                                    <tr>
                                        <th>键盘字</th>
                                        <td><code>&lt;<b role="tag">kbd</b>&gt;&lt;/<b role="tag">kbd</b>&gt;</code></td>
                                        <td><code><i>KBD</i></code></td>
                                        <td>22</td>
                                    </tr>
                                    <tr>
                                        <th>失效</th>
                                        <td><code>&lt;<b role="tag">s</b>&gt;&lt;/<b role="tag">s</b>&gt;</code></td>
                                        <td><code><i>S</i></code></td>
                                        <td>23</td>
                                    </tr>
                                    <tr>
                                        <th>注记</th>
                                        <td><code>&lt;<b role="tag">u</b>&gt;&lt;/<b role="tag">u</b>&gt;</code></td>
                                        <td><code><i>U</i></code></td>
                                        <td>24</td>
                                    </tr>
                                    <tr>
                                        <th>变量</th>
                                        <td><code>&lt;<b role="tag">var</b>&gt;&lt;/<b role="tag">var</b>&gt;</code></td>
                                        <td><code><i>VAR</i></code></td>
                                        <td>25</td>
                                    </tr>
                                    <tr>
                                        <th>有向文本</th>
                                        <td><code>&lt;<b role="tag">bdo</b>&gt;&lt;/<b role="tag">bdo</b>&gt;</code></td>
                                        <td><code><i>BDO</i></code></td>
                                        <td>26</td>
                                    </tr>
                                    <tr>
                                        <th>度量</th>
                                        <td><code>&lt;<b role="tag">meter</b>&gt;&lt;/<b role="tag">meter</b>&gt;</code></td>
                                        <td><code><i>METER</i></code></td>
                                        <td>27</td>
                                    </tr>
                                    <tr>
                                        <th>图片</th>
                                        <td><code>&lt;<b role="tag">img</b> /&gt;</code></td>
                                        <td><code><i>IMG</i></code></td>
                                        <td>28</td>
                                    </tr>
                                    <tr>
                                        <th>换行</th>
                                        <td><code>&lt;<b role="tag">br</b> /&gt;</code></td>
                                        <td><code><i>BR</i></code></td>
                                        <td>29</td>
                                    </tr>
                                    <tr>
                                        <th>软换行</th>
                                        <td><code>&lt;<b role="tag">wbr</b> /&gt;</code></td>
                                        <td><code><i>WBR</i></code></td>
                                        <td>30</td>
                                    </tr>
                                    <tr>
                                        <th>空白</th>
                                        <td><code>&lt;<b role="tag">span</b> role=<s>"space"</s>&gt;&lt;/<b role="tag">span</b>&gt;</code></td>
                                        <td><code><i>SPACE</i></code></td>
                                        <td>31</td>
                                    </tr>
                                    <tr>
                                        <th>特用</th>
                                        <td><code>&lt;<b role="tag">b</b>&gt;</code></td>
                                        <td><code><i>代码着色封装</i></code></td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <th>特用</th>
                                        <td><code>&lt;<b role="tag">i</b>&gt;</code></td>
                                        <td><code><i>代码注释</i></code></td>
                                        <td>33</td>
                                    </tr>
                                    <tr>
                                        <th>文本节点</th>
                                        <td><code><b role="imp">#text</b></code></td>
                                        <td><code><i>$text</i></code></td>
                                        <td>34</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </section>
                </section>
                <hr />
                <section role="s1">
                    <h2 id="类型">类型</h2>
                    <header>
                        <blockquote>
                            <p><strong>注：</strong>详见 <code>base/types.js</code> 文件定义。</p>
                        </blockquote>
                    </header>
                    <section role="s2">
                        <h2 id="合法子类型">合法子类型</h2>
                        <p>每个结构性元素或普通单元的子单元都是类型受限的（<strong>注</strong>：详见 <code>base/types.js</code> 文件配置）。从面板录入时，面板只会显示其相应的合法条目。</p>
                        <p>当对已有节点执行移动或克隆插入时，遵循如下原则：</p>
                        <ol>
                            <li><strong>平级插入</strong>：目标参考元素的父元素允许哪些子单元？符合即简单插入，否则提取内容节点，构造默认单元插入。</li>
                            <li><strong>向内插入</strong>：目标参考元素自身作为容器允许哪些子单元，符合即简单添加，否则提取内容节点构造默认条目插入。</li>
                        </ol>
                    </section>
                </section>
                <hr />
                <section role="s1">
                    <h2>附录</h2>
                    <section role="s2">
                        <h2>插图</h2>
                        <header>
                            <p>结构：<code>figure/figcaption,p/img, span:explain</code>，包含标题、作为正文的图片，以及可选的对图片的讲解。</p>
                            <p>在大部分的内容样式中，讲解段应当包含了绝对定位（<code>position:absolute</code>）样式。这样，你就可以通过负边距（<code>margin-*</code>）值和绝对位置样式（<code>top|left</code>）来准确设置，使得讲解可重叠于图片之上。</p>
                        </header>
                        <section role="s3">
                            <h2>实例</h2>
                            <figure>
                                <figcaption>贵州江口梵净山断肠崖</figcaption>
                                <span>
                                    <img src="/docs/images/pic01.jpg" alt="寻爱巅峰" />
                                    <i role="explain" data-pba="fix-rt">
                                        这是贵州梵净山顶的一段突峰，位于金顶对面之大坡侧翼，著名景点蘑菇石旁边。突兀支立，雄奇险峻，悬屹于万丈深渊，经风沐雨……
                                    </i>
                                </span>
                            </figure>
                        </section>
                    </section>
                    <section role="s2">
                        <h2>描述列表</h2>
                        <header>
                            <p>结构：<code>dl/dt,dd</code>。主要用于描述专业的术语，由术语标题项（<code>&lt;dt&gt;</code>）和描述内容的数据项（<code>&lt;dd&gt;</code>）构成。</p>
                            <p>标题项和数据项并列为兄弟元素的关系。一条标题项可以跟随多条数据项，或者多条标题项由一条数据项进行说明。</p>
                        </header>
                        <section role="s3">
                            <h2>实例</h2>
                            <dl>
                                <dt>Firefox</dt>
                                <dd>A free, open source, cross-platform, graphical web browser developed by the Mozilla Corporation and hundreds of volunteers.</dd>
                                <dt>Chrome</dt>
                                <dt>Firefox</dt>
                                <dd>A free, open source, cross-platform, graphical web browser developed by the Mozilla Corporation and hundreds of volunteers.</dd>
                                <dt>Firefox</dt>
                                <dd>A free, open source, cross-platform, graphical web browser developed by the Mozilla Corporation and hundreds of volunteers.</dd>
                                <dd>The Red Panda also known as the Lesser Panda, Wah, Bear Cat or Firefox, is a mostly herbivorous mammal, slightly larger than a domestic cat (60 cm long).</dd>
                            </dl>
                        </section>
                    </section>
                </section>
            </article>
        </main>
    </div>
    <div class="_state">
        <!-- detail: outerHTML|'' -->
        <span id="g-covert" class="_tips" data-pbo="lost"
            on="tips|ev('detail') dup vnot evo(3) pop lose(_1)"
            to="/b|text">
            <b><!-- 不可视焦点元素信息 --></b>
        </span>
        <!--元素路径：
            click(b)  单击选取/聚焦支持。
            mouseenter elemSelf 提示元素特性结构友好。
            mouseenter/mouseleave 路径关联目标友好指示。
            empty  鼠标停留路径单元时，键盘移动焦点会有指向（_point）残留，清除之。
            click(b:last-child) 微编辑时找回编辑目标。
            toggle 隐显切换（快捷键操作）。
            注记：
            路径信息更新由程序（edit.js）直接执行。
        -->
        <div id="g-path" class="_path"
            on="click(b)|env('minied') end evo(2) v.source SCAM;
                mouseenter(b)|evo(2) dup attr('title') end v.source v.elemSelf evo(2) pop;
                mouseenter(b)|('_point') evo(2) v.source pop;
                mouseleave(b)|stop ('_point') evo(2) v.source pop;
                empty|$('/b:hover') dup pass pop;
                click(b:last-child)|env('minied') pass evo(2) v.source intoView(2);
                toggle|evo(3) lose(2)"
            by="Ed.pathTo(_1) $$('/b')"
            to="=|only('_press')|fire('#g-count', 'reset') fire('body', 'focus.content');
                -|@title;
                -|addClass;
                -|removeClass;
                -|trigger('mouseleave', true)">
            <!-- <b> -->
        </div>
    </div>
</div>


<!--功能面板：
    mousedown 面板高度调整。
    keydown   面板快捷键处理。
    nodeok(~form) 从其他选项卡切换回来时自动更新（因为选取集可能已变）。
    update    内容区选取变化，主面板跟随更新触发（不冒泡）。无数据递送，由表单自主负责。
    input.submit  直接快捷提交，保持录入框焦点。
    input.submit2 同上直接提交，如果录入框铺满则恢复普通状态。
    input.full    文本录入和表格录入最大化平铺。
    keydown([data-pbo~=fulled]) 友好支持ESC键取消最大化平铺。stop阻止上级ESC栈功能。
    注：
    (~form) 限定是必要的，否则更深子单元（如<select>）的nodeok冒泡会带来死循环。
    tabindex 使保存键（Ctrl+s）随时有效。 -->
<div id="main-slave" class="___Panel Slave" tabindex="0" tpl-name="main:slave"
    on="@mousemove|movementY neg;
        @mouseup|movementY(null);
        mousedown|scam(KM.slaveResize) pass stop avoid;
        nodeok(~form) update;
        input.submit(~textarea, th,td, ._code, li)|evo(2) is(':read-write') pass;
        input.submit2([data-pbo~=fulled])|evo(2) full(false);
        input.full(~textarea, pre._code)|stopAll evo(2) full(2);
        input.full(~th, td, li[contenteditable])|evo(2) pop $('._list, ._obts/') full(2);
        keydown|(SHK) acmsk ev('key') hotKey(_2) pop stop;
        keydown([data-pbo~=fulled])|ev('key') pass('Escape') stop evo(2) full(false)"
    to="|height(true);
        |off('mousemove');
        |bind('mousemove') once('mouseup');
        /form|trigger('update');
        /form|trigger('submit')|fire(2, 'focus');
        /form|trigger('submit')|fire(2, 'focus')">
    <div class="_tabs"
        on="click(b)|evo(2) attr('-tpl') pop tpl;
            click(b)|evo(2) hasClass('_press') end $$('/b')"
        to="1/form|replace;
            =|only('_press')">
        <!--edtype 设置编辑类型：
            更新模板名，如果当前在显示则激发载入。 -->
        <b id="g-contab" data-tpl="slave:input" class="_press"
            on="edtype|ev('detail');
                doit|evo(3) dup hasClass('_press') pass click"
            to="|@-tpl|goto('doit')">内容</b>
        <b data-tpl="slave:style">样式</b>
        <b data-tpl="slave:attr">特性</b>
        <b data-tpl="slave:source">源码</b>
        <b data-tpl="slave:script">脚本</b>
        <b class="_close"
            on="click|stop"
            to="#b-slave||click">
            <i id="l-close" title="关闭"></i>
        </b>
    </div>
    <form tpl-source="slave:input"> [内容面板] </form>
</div>


<!-- 状态栏 -->
<div class=" ___Panel Status" tpl-name="main:status">
    <!-- 友好：提示焦点元素outerHTML -->
    <div class="_info">
        <!-- 即时信息 -->
        <span id="status-info" title=""
            on="info|ev('detail')"
            to="|attribute('text title')"></span>
        <!--计数暂存
            reset: 清空值，提供选取集大小默认显示。
            setv:  设置值并提供该值的显示。ESC按键值添加（无重复）。 -->
        <input id="g-count" name="count" type="hidden"
            on="reset|v.esize str('[ ', ' ]') ('');
                setv|ev('detail') dup;
                cancel|('info', ESC) pop;
                esced|evo(3) (ESC) pop"
            to="|val|pop fire('#status-info', 'info');
                |val|pop fire('#status-info', 'info', 0) goto('esced');
                -|apply('delete')|fire(3, 'reset');
                -|add('info')" />
    </div>
    <!--指令符：
        > 选择器，焦点元素为起点
        | 选取集过滤，支持 PB:To 的 []{} 语法
        / 文本搜索（选取/替换）
        : 普通命令
        = 简单计算
        ! 扩展命令（高级）-->
    <div class="_cmdx">
        <span class="_code" tabindex="0" data-pbo="lost"
            on="click(b)|evo(1) text;
                blur|evo(3) lose"
            to="1/code|trigger('setv')">
            <b title="选择器模式">&gt;</b>
            <b title="选取集过滤">|</b>
            <b title="文本搜索">/</b>
            <b title="普通命令">:</b>
            <b title="简单计算">=</b>
            <b title="扩展指令...">!</b>
        </span>
        <!-- data-v: CSS辅助 -->
        <code id="g-cmdx" data-v=">"
            on="setv|ev('detail') dup;
                done|$('1/span') lose;
                click|$('1/span') dup lose(0) focus"
            to="|@text @-v|goto('done');
                #cmd-input|-|focus">&gt;</code>
    </div>
    <!-- 命令行 -->
    <div class="_cmdline">
        <!-- 交互：
            1. 回车执行命令行，自动选取结果。
            2. Tab键展开当前键入内容匹配清单。
            3. 上下箭头和翻页键匹配当前键入词导航。
            4. Ctrl+U 清空命令行内容。
            5. 手动键入内容为搜索历史匹配。
            6. Tab和箭头翻页导航支持+Shift模糊匹配。
        -->
        <input id="cmd-input" type="text" spellcheck="false" class="_code" data-tips="> | / : = ! 直达此处"
            on="focus|evo(3) ('');
                ^obted blur|evo(3) attr('-tips')"
            to="|@placeholder;
                |@placeholder" />
    </div>
    <!--出错提示：
        click 滚动问题元素（可能为null）到视口中间，主窗口聚焦友好。
        mouseover 问题元素背影提示。-->
    <div id="err-msg" class="_err" data-pbo="lost"
        on="click|evo(3) v.source dup pass dup intoView(2) SCAM;
            mouseenter|('_warn') evo(3) v.source pop;
            mouseleave|('_warn') evo(3) v.source pop;
            off|evo(3) lose;
            on|evo(3) lose(0)"
        by="Kit.errmsg(_1)"
        to="body|trigger('focus.content');
            -|addClass;
            -|removeClass;
            /a|trigger('clear')">
        <a data-hid="" title="这里也设置提示，便于超长的信息可以简单查看"
            on="setv|ev('detail');
                clear|(null)"
            to="|attribute('-hid title text');
                |attribute('-hid title text')">[提示内容]</a>
    </div>
    <!--帮助入口：
        click toggle 打开/关闭帮助栏。
        help 如果帮助栏开启，获取问题ID，发送帮助索引请求。-->
    <div id="x-help" class="_help" title="帮助〔F4〕"
        on="toggle|$$('#help,#lineRight') lose(2) ('_press');
            click;
            help|$('#help') lost end $('#err-msg > a') attr('-hid')"
        to="|toggleClass|goto('help');
            |trigger('toggle')|fire('body', 'pcheck');
            #help|trigger('index')">
        <code>?</code>
    </div>
</div>
