<!-- 工具栏 -->
<div class="___Panel Tools" tpl-name="main:tools">
    <!-- 面板按钮 -->
    <div class="_start _icons">
        <b id="x-outline" title="大纲" class="_press"
            on="toggle|$$('#outline,#lineLeft') a.lose(2) ('_press');
                click"
            to="|toggleClass;
                |trigger('toggle')|fire('body', 'pcheck')">
            <i id="b-outline"></i>
        </b>
        <b id="x-slave" title="主面板" class="_press"
            on="toggle|$('#main-slave') lose(2) ('_press');
                click"
            to="|toggleClass;
                |trigger('toggle')|fire('body', 'pcheck')">
            <i id="b-slave"></i>
        </b>
    </div>
    <!-- 动态区 -->
    <div id="tools-active" class="_active _icons" data-pb="">
        <hr>
        <b title="文本化"><i id="b-totext"></i></b>
        <b title="内容提升"><i id="b-conup"></i></b>
        <hr>
        <b title="撤消"><i id="b-undo"></i></b>
        <b title="重做" data-pb="disabled"><i id="b-redo"></i></b>
    </div>
    <!-- 末端 -->
    <div class="_end _icons">
        <b id="x-plugins" title="插件"
            on="click|tpl('modal:plugins')"
            to="#g-modal>*|replace trigger('open', true)">
            <i id="b-plugins"></i>
        </b>
        <b title="最大化"><i id="b-maximize"></i></b>
    </div>
</div>


<!-- 内容区 -->
<div class="___Content" tpl-name="main:content">
    <!-- 临时态：视觉提示 -->
    <span id="g-cross" data-pb="">
        <b id="cross-h"></b><b id="cross-v"></b>
    </span>
    <!--滚动封装 -->
    <div id="g-scroll" class="_scroll" tabindex="0">
        <!-- 选取创建（mouseup） -->
        <menu id="g-cells" class="_cells" tabindex="0" data-pb="lost">
            <li data-val="a" title="<a>"><b><a href="javascript:;">链接</a></b><kbd>a</kbd></li>
            <li data-val="code" title="<code>"><b><code>代码</code></b><kbd>c</kbd></li>
            <li data-val="strong" title="<strong>"><b><strong>重点</strong></b><kbd>s</kbd></li>
            <li data-val="em" title="<em>"><b><em>强调</em></b><kbd>e</kbd></li>
            <li data-val="sup" title="上标<sup>"><b>O<sup>2</sup></b><kbd></kbd></li>
            <li data-val="sub" title="下标<sub>"><b>O<sub>2</sub></b><kbd></kbd></li>
            <li data-val="q" title="<q>"><b><q>引用</q></b><kbd>q</kbd></li>
            <li data-val="time" title="<time>"><b><time>时间</time></b><kbd>t</kbd></li>
            <li data-val="ins" title="<ins>"><b><ins>插入</ins></b><kbd>i</kbd></li>
            <li data-val="del" title="<del>"><b><del>删除</del></b><kbd>d</kbd></li>
            <li data-val="abbr" title="<abbr>"><b><abbr>缩写</abbr></b><kbd></kbd></li>
            <li data-val="small" title="<small>"><b><small>注脚</small></b><kbd></kbd></li>
            <li data-val="cite" title="<cite>"><b><cite>来源</cite></b><kbd></kbd></li>
            <li data-val="mark" title="<mark>"><b><mark>标记</mark></b><kbd>m</kbd></li>
            <li data-val="ruby" title="<ruby>">
                <b><ruby>
                    <rb>注音</rb>
                    <rp>(</rp><rt>zhù yīn</rt><rp>)</rp>
                </ruby></b>
                <kbd>r</kbd>
            </li>
            <li data-val="orz" title="表情"><b><code role="orz">(^_^)</code></b><kbd>o</kbd></li>
            <li data-val="dfn" title="<dfn>"><b><dfn>定义条目</dfn></b><kbd>f</kbd></li>
            <li data-val="samp" title="<samp>"><b><samp>样本</samp></b><kbd>p</kbd></li>
            <li data-val="kbd" title="<kbd>"><b><kbd>键盘字</kbd></b><kbd>k</kbd></li>
            <li data-val="s" title="<s>"><b><s>失效</s></b><kbd></kbd></li>
            <li data-val="u" title="<u>"><b><u>注记</u></b><kbd>u</kbd></li>
            <li data-val="var" title="<var>"><b><var>变量</var></b><kbd>v</kbd></li>
            <li data-val="bdo" title="<bdo dir='rtl'>"><b><bdo dir="rtl">有向文本</bdo></b><kbd>b</kbd></li>
        </menu>
        <!-- 上下文菜单 -->
        <menu id="g-cmenu" class="_cmenu" tabindex="0" data-pb="lost">
            <li data-op="abspos" class="_fixed"><b id="l-abspos">定位</b><kbd></kbd></li>
            <li data-op="minied"><b id="l-minied">微编辑</b><kbd>i/I, Ctrl+Enter</kbd></li>
            <hr>
            <li data-op="copy"><b id="l-copy">复制</b><kbd>c</kbd></li>
            <li data-op="move"><b id="l-move">剪切/移动</b><kbd>x/X</kbd></li>
            <hr>
            <li data-op="delete"><b id="l-delete">删除</b><kbd>d/D</kbd></li>
            <hr>
            <li data-op="property"><b id="l-property">属性</b><kbd>p</kbd></li>
        </menu>
        <!-- 内容区 -->
        <main id="content" class="content"
            on="mouseup keyup input|rangeKeep stop">
            <p contenteditable>这里是一些测试文本，包含内联的<em>子元素和深层嵌套的<strong>孙级元素</strong>。。。</em></p>
        </main>
    </div>
    <!-- 元素路径 -->
    <div id="g-path" class="_path" data-pb="">
        <!-- <b> -->
    </div>
</div>


<!-- 主面板：
    - mousedown 面板高度调整。
    - keydown   面板快捷键处理。
    - scroll    背景/行线跟随 -->
<div id="main-slave" class="___Panel Slave" tpl-name="main:slave"
    on="@mousemove|movementY neg avoid;
        @mouseup|movementY(null);
        mousedown|scam(KM.slaveSize) pass stop;
        scroll(textarea)|evo(2) scrollTop neg add('px');
        input.full(~textarea)|evo(2) full(2);
        keydown|(SHK) acmsk ev('key') hotKey(_2) pop stop"
    to="|height(true);
        |off('mousemove');
        |bind('mousemove') once('mouseup');
        #|%backgroundPositionY">
    <div class="_tabs"
        on="click(b)|evo(2) attr('-tpl') pop tpl;
            click(b)|evo(2) hasClass('_press') end $$('/b')"
        to="1/form|replace;
            #|only('_press')">
        <b data-tpl="slave:input" class="_press">内容</b>
        <b data-tpl="slave:style">样式</b>
        <b data-tpl="slave:attr">特性</b>
        <b data-tpl="slave:source">源码</b>
        <b data-tpl="slave:script">脚本</b>
        <b class="_close"
            on="click|stop"
            to="#b-slave||click">
            <i id="l-close" title="关闭"></i>
        </b>
    </div>
    <!-- <form tpl-source="slave:input"> [内容面板] </form> -->
    <form tpl-source="slave:minied"> [微编辑面板] </form>
</div>


<!-- 状态栏 -->
<div class=" ___Panel Status" tpl-name="main:status">
    <!-- 提示区 -->
    <div class="_tips">
        <span id="status-tips" title=""></span>
    </div>
    <!-- 指令符 -->
    <div class="_cmdx">
        <span class="_code" data-pb="lost"
            on="click(b)|evo(1) text"
            to="1/code|trigger('setv')">
            <b title="选择器模式">/</b>
            <b title="普通命令">:</b>
            <b title="简单计算">=</b>
            <b title="选取集过滤">|</b>
            <b title="文本搜索">?</b>
            <b title="扩展指令...">!</b>
        </span>
        <!-- data-v: CSS辅助 -->
        <code id="g-cmdx" data-v="/"
            on="setv|ev('detail') dup;
                done|$('1/span') lose;
                click|$('1/span') lose(0)"
            to="|@text @-v|goto('done');
                #cmd-input|-|focus">/</code>
    </div>
    <!-- 命令行 -->
    <div class="_cmdline">
        <!-- 交互：
            1. 回车执行命令行，自动选取结果。
            2. Tab键展开当前键入内容匹配清单。
            3. 上下箭头和翻页键匹配当前键入词导航。
            4. Ctrl+U 清空命令行内容。
            5. 手动键入内容为搜索历史匹配。
            6. Tab和箭头翻页导航支持+Shift模糊匹配。
        -->
        <input id="cmd-input" type="text" spellcheck="false" class="_code" value="" />
    </div>
    <!-- 出错信息区 -->
    <div class="_err" title="单击显示帮助" data-pb="lost">
        <a id="status-err" href="#" title="[这是一段错误提示，单击显示帮助]">[这是一段错误提示，单击显示帮助]</a>
    </div>
    <!-- 帮助入口 -->
    <div id="x-help" class="_help" title="帮助"
        on="toggle|$$('#help,#lineRight') a.lose(2) ('_press');
            click"
        to="|toggleClass;
            |trigger('toggle')|fire('body', 'pcheck')">
        <code>?</code>
    </div>
</div>
