<!-- 确定/重置 -->
<div class="_btn2" tpl-name="modal:okreset">
    <button type="submit">确定</button>
    <button type="reset">重置</button>
</div>


<!-- 确定/取消 -->
<div class="_btn2" tpl-name="modal:okcancel">
    <button type="submit">确定</button>
    <button type="button">取消</button>
</div>

<!-- 确定 -->
<div class="_submit" tpl-name="modal:ok">
    <button type="submit">确定</button>
</div>


<!-- 模态页（通用） -->
<form class="_page" tpl-name="modal:page">
    <header>
        <h5>[标题]</h5>
        <b class="_close" title="关闭">✕</b>
    </header>
    <div id="modal-list" class="_list">
        <!-- [node] -->
    </div>
    <hr tpl-node="modal:okreset" />
    <!-- 条目标记 -->
    <input type="hidden" name="item" value="" />
</form>


<!-- 模态框：属性 -->
<form class="_prop" tpl-name="modal:prop">
    <header>
        <h5>[标题]</h5>
        <b class="_close" title="关闭">✕</b>
    </header>
    <p id="modal-note" class="_note" data-pbo="">
        [属性说明/提示]
    </p>
    <div id="modal-list" class="_list" data-pbo="">
        <!-- <table> -->
    </div>
    <hr tpl-node="modal:okreset" />
</form>

<!-- 模态框：单行 -->
<form class="_small" tpl-name="modal:small">
    <header>
        <h5>[标题]</h5>
        <b class="_close" title="关闭">✕</b>
    </header>
    <p><input type="text" name="txtline" /></p>
    <hr tpl-node="modal:okreset" />
</form>


<!-- 模态框：消息 -->
<form class="_message" tpl-name="modal:message">
    <header>
        <h5>[标题]</h5>
        <b class="_close" title="关闭">✕</b>
    </header>
    <p id="modal-msg" class="_note">
        [消息内容]
    </p>
    <hr tpl-node="modal:ok" />
</form>


<!-- 插件页 -->
<form class="_page" tpl-name="modal:plugins">
    <header>
        <h5>插件</h5>
        <b class="_close" title="关闭">✕</b>
    </header>
    <p id="g-plugins" class="_list">
        <!-- 点击执行：<b>... -->
    </p>
</form>


<!-- 模态页：脚本历史 -->
<form class="_page _history" tpl-name="script:history">
    <header>
        <h5>脚本历史</h5>
        <b class="_close" title="关闭">✕</b>
    </header>
    <div class="_search">
        <!-- change|blur,select：避免历史遮挡 -->
        <input type="text" name="word" class="_text" placeholder="标记词" />
        <button type="submit">过滤</button>
    </div>
    <ol reversed tpb-for><li><code _="$"></code></li></ol>
</form>


<!-- 模态页：脚本执行结果 -->
<div class="_page _result" tpl-name="script:result">
    <header>
        <h5>脚本执行结果</h5>
        <b class="_close" title="关闭">✕</b>
    </header>
    <ul>
        <li tpb-if="$.error">
            错误：<i class="_error" _text="$.error"></i>
        </li>
        <li tpb-if="$.warn">
            警告：<i class="_warn" _text="$.warn"></i>
        </li>
        <li title="RESULT.type">
            操作类型：<b _text="$.type"></b>
        </li>
        <li title="RESULT.to">
            目标元素：<b _text="$.to"></b>
        </li>
        <li title="RESULT.selector">
            选择器：<b _text="$.selector"></b>
        </li>
        <li title="RESULT.method">
            插入方式：<b _text="$.method"></b>
        </li>
        <li>结果数据：</li>
        <li title="RESULT.data" class="_data">
            <div _html="$.data"></div>
        </li>
    </ul>
</div>
