<!-- 普通插入选单 -->

<!-- 行块单元 ------------------------------------------------------------------->

<option title="<h1,+h2>" value="input:heading" tpl-name="option:heading">
    标题
</option>

<option title="<header:abstract>" value="input:abstract" tpl-name="option:abstract">
    提要
</option>

<option data-k="r" title="<ol:reference>" value="input:reference" tpl-name="option:reference">
    文献参考 [r]
</option>

<option title="<ul:seealso>" value="input:seealso" tpl-name="option:seealso">
    另参见
</option>

<option data-k="h" title="<header>" value="input:header" tpl-name="option:header">
    导言 [h]
</option>

<option title="<footer>" value="input:footer" tpl-name="option:footer">
    结语
</option>

<option data-k="s" title="<section>" value="input:section" tpl-name="option:section">
    片区 [s]
</option>

<option data-k="u" title="<ul>" value="input:ul" tpl-name="option:ul">
    无序列表 [u]
</option>

<option data-k="o" title="<ol>" value="input:ol" tpl-name="option:ol">
    有序列表 [o]
</option>

<option title="<ol:cascade>" value="input:cascade" tpl-name="option:cascade">
    级联表
</option>

<option title="<dl>" value="input:dl" tpl-name="option:dl">
    定义列表
</option>

<option data-k="b" title="<blockquote>" value="input:blockquote" tpl-name="option:blockquote">
    引用块 [b]
</option>

<option title="<aside>" value="input:aside" tpl-name="option:aside">
    批注块
</option>

<option data-k="d" title="<details>" value="input:details" tpl-name="option:details">
    详细内容 [d]
</option>

<option data-k="l" title="<ol:codelist>" value="input:codelist" tpl-name="option:codelist">
    代码表 [l]
</option>

<option data-k="c" title="<pre:codeblock>" value="input:codeblock" tpl-name="option:codeblock">
    代码块 [c]
</option>

<option data-k="t" title="<table>" value="input:table" tpl-name="option:table">
    表格 [t]
</option>

<option data-k="f" title="<figure>" value="input:figure" tpl-name="option:figure">
    插图 [f]
</option>

<option data-k="p" title="<p>" value="input:p" tpl-name="option:p">
    段落 [p]
</option>

<option data-k="n" title="<p:note>" value="input:note" tpl-name="option:note">
    注解 [n]
</option>

<option title="<p:tips>" value="input:tips" tpl-name="option:tips">
    提示
</option>

<option data-k="a" title="<address>" value="input:address" tpl-name="option:address">
    地址 [a]
</option>

<option title="<pre>" value="input:pre" tpl-name="option:pre">
    预排版
</option>

<option title="<hr>" value="input:hr" tpl-name="option:hr">
    分割
</option>

<option title="<div:blank>" value="input:blank" tpl-name="option:blank">
    白板
</option>


<!-- 内联单元 ------------------------------------------------------------------->

<option data-k="g" title="<img>" value="input:img" tpl-name="option:img">
    图片 [g]
</option>

<option data-k="g" title="<img src='data:...'>" value="input:dataimg" tpl-name="option:dataimg">
    数据图片
</option>

<option data-k="A" title="<audio>" value="input:audio" tpl-name="option:audio">
    音频 [A]
</option>

<option data-k="V" title="<video>" value="input:video" tpl-name="option:video">
    视频 [V]
</option>

<option title="<picture>" value="input:picture" tpl-name="option:picture">
    兼容图片
</option>

<option title="<svg>" value="input:svg" tpl-name="option:svg">
    图形
</option>

<option data-k="a" title="<a>" value="input:a" tpl-name="option:a">
    链接 [a]
</option>

<option data-k="c" title="<code>" value="input:code" tpl-name="option:code">
    代码 [c]
</option>

<option data-k="s" title="<strong>" value="input:strong" tpl-name="option:strong">
    重点 [s]
</option>

<option data-k="e" title="<em>" value="input:em" tpl-name="option:em">
    强调 [e]
</option>

<option title="<sub>" value="input:sub" tpl-name="option:sub">
    下标
</option>

<option title="<sup>" value="input:sup" tpl-name="option:sup">
    上标
</option>

<option data-k="q" title="<q>" value="input:q" tpl-name="option:q">
    短引用 [q]
</option>

<option data-k="t" title="<time>" value="input:times" tpl-name="option:times">
    日期/时间 [t]
</option>

<option data-k="i" title="<ins>" value="input:ins" tpl-name="option:ins">
    插入性 [i]
</option>

<option data-k="d" title="<del>" value="input:del" tpl-name="option:del">
    已删除 [d]
</option>

<option title="<abbr>" value="input:abbr" tpl-name="option:abbr">
    缩写
</option>

<option title="<small>" value="input:small" tpl-name="option:small">
    注脚
</option>

<option title="<cite>" value="input:cite" tpl-name="option:cite">
    来源
</option>

<option data-k="m" title="<mark>" value="input:mark" tpl-name="option:mark">
    标记 [m]
</option>

<option data-k="r" title="<ruby/rb,rp,rt>" value="input:ruby" tpl-name="option:ruby">
    注音单元 [r]
</option>

<option data-k="o" title="<code:orz>" value="input:orz" tpl-name="option:orz">
    表情 [o]
</option>

<option data-k="f" title="<dfn>" value="input:dfn" tpl-name="option:dfn">
    定义条目 [f]
</option>

<option data-k="p" title="<samp>" value="input:samp" tpl-name="option:samp">
    样本 [p]
</option>

<option data-k="k" title="<kbd>" value="input:kbd" tpl-name="option:kbd">
    键盘字 [k]
</option>

<option title="<meter>" value="input:meter" tpl-name="option:meter">
    度量标示
</option>

<option title="<s>" value="input:s" tpl-name="option:s">
    失效
</option>

<option data-k="u" title="<u>" value="input:u" tpl-name="option:u">
    注记 [u]
</option>

<option data-k="v" title="<var>" value="input:var" tpl-name="option:var">
    变量 [v]
</option>

<option data-k="b" title="<bdo>" value="input:bdo" tpl-name="option:bdo">
    有向文本 [b]
</option>

<option title="<br>" value="input:br" tpl-name="option:br">
    换行
</option>

<option title="<wbr>" value="input:wbr" tpl-name="option:wbr">
    软换行
</option>

<option title="<span:blank>" value="input:blank" tpl-name="option:blank">
    空白段
</option>

<option title="#text" value="input:text" tpl-name="option:text">
    文本
</option>


<!-- 结构单元 ------------------------------------------------------------------->

<!-- ? -->