<!-- 普通插入选单 -->

<!-- 行块单元 ------------------------------------------------------------------->

<option title="<h1,+h2>" value="input:heading" tpl-name="option:heading">
    标题
</option>

<option title="<header:abstract>" value="input:abstract" tpl-name="option:abstract">
    提要
</option>

<option data-k="r" title="[r]<ol:reference>" value="input:reference" tpl-name="option:reference">
    文献参考
</option>

<option title="<ul:seealso>" value="input:seealso" tpl-name="option:seealso">
    另参见
</option>

<option data-k="h" title="[h]<header>" value="input:header" tpl-name="option:header">
    导言
</option>

<option title="<footer>" value="input:footer" tpl-name="option:footer">
    结语
</option>

<option data-k="s" title="[s]<section>" value="input:section" tpl-name="option:section">
    片区
</option>

<option data-k="u" title="[u]<ul>" value="input:ul" tpl-name="option:ul">
    无序列表
</option>

<option data-k="o" title="[o]<ol>" value="input:ol" tpl-name="option:ol">
    有序列表
</option>

<option title="<ol:cascade>" value="input:cascade" tpl-name="option:cascade">
    级联表
</option>

<option title="<dl>" value="input:dl" tpl-name="option:dl">
    定义列表
</option>

<option data-k="b" title="[b]<blockquote>" value="input:blockquote" tpl-name="option:blockquote">
    引用块
</option>

<option title="<aside>" value="input:aside" tpl-name="option:aside">
    批注块
</option>

<option data-k="d" title="[d]<details>" value="input:details" tpl-name="option:details">
    详细内容
</option>

<option data-k="l" title="[l]<ol:codelist>" value="input:codelist" tpl-name="option:codelist">
    代码表
</option>

<option data-k="c" title="[c]<pre:codeblock>" value="input:codeblock" tpl-name="option:codeblock">
    代码块
</option>

<option data-k="t" title="[t]<table>" value="input:table" tpl-name="option:table">
    表格
</option>

<option data-k="f" title="[f]<figure>" value="input:figure" tpl-name="option:figure">
    插图
</option>

<option data-k="p" title="[p]<p>" value="input:p" tpl-name="option:p">
    段落
</option>

<option data-k="n" title="[n]<p:note>" value="input:note" tpl-name="option:note">
    注解
</option>

<option title="<p:tips>" value="input:tips" tpl-name="option:tips">
    提示
</option>

<option data-k="a" title="[a]<address>" value="input:address" tpl-name="option:address">
    地址
</option>

<option title="<pre>" value="input:pre" tpl-name="option:pre">
    预排版
</option>

<option title="<hr>" value="input:hr" tpl-name="option:hr">
    分割
</option>

<option title="<div:blank>" value="input:blank" tpl-name="option:blank">
    白板
</option>


<!-- 内联单元 ------------------------------------------------------------------->

<option data-k="g" title="[g]<img>" value="input:img" tpl-name="option:img">
    图片
</option>

<option data-k="A" title="[A]<audio>" value="input:audio" tpl-name="option:audio">
    音频
</option>

<option data-k="V" title="[V]<video>" value="input:video" tpl-name="option:video">
    视频
</option>

<option title="<picture>" value="input:picture" tpl-name="option:picture">
    兼容图片
</option>

<option data-k="a" title="[a]<a>" value="input:a" tpl-name="option:a">
    链接
</option>

<option data-k="c" title="[c]<code>" value="input:code" tpl-name="option:code">
    代码
</option>

<option data-k="s" title="[s]<strong>" value="input:strong" tpl-name="option:strong">
    重点
</option>

<option data-k="e" title="[e]<em>" value="input:em" tpl-name="option:em">
    强调
</option>

<option title="<sub>" value="input:sub" tpl-name="option:sub">
    下标
</option>

<option title="<sup>" value="input:sup" tpl-name="option:sup">
    上标
</option>

<option data-k="q" title="[q]<q>" value="input:q" tpl-name="option:q">
    短引用
</option>

<option data-k="t" title="[t]<time>" value="input:times" tpl-name="option:times">
    日期/时间
</option>

<option data-k="i" title="[i]<ins>" value="input:ins" tpl-name="option:ins">
    插入性
</option>

<option data-k="d" title="[d]<del>" value="input:del" tpl-name="option:del">
    已删除
</option>

<option title="<abbr>" value="input:abbr" tpl-name="option:abbr">
    缩写
</option>

<option title="<small>" value="input:small" tpl-name="option:small">
    注脚
</option>

<option title="<cite>" value="input:cite" tpl-name="option:cite">
    来源
</option>

<option data-k="m" title="[m]<mark>" value="input:mark" tpl-name="option:mark">
    标记
</option>

<option data-k="r" title="[r]<ruby/rb,rp,rt>" value="input:ruby" tpl-name="option:ruby">
    注音单元
</option>

<option data-k="o" title="[o]<code:orz>" value="input:orz" tpl-name="option:orz">
    表情
</option>

<option data-k="f" title="[f]<dfn>" value="input:dfn" tpl-name="option:dfn">
    定义条目
</option>

<option data-k="p" title="[p]<samp>" value="input:samp" tpl-name="option:samp">
    样本
</option>

<option data-k="k" title="[k]<kbd>" value="input:kbd" tpl-name="option:kbd">
    键盘字
</option>

<option title="<meter>" value="input:meter" tpl-name="option:meter">
    度量标示
</option>

<option title="<s>" value="input:s" tpl-name="option:s">
    失效
</option>

<option data-k="u" title="[u]<u>" value="input:u" tpl-name="option:u">
    注记
</option>

<option data-k="v" title="[v]<var>" value="input:var" tpl-name="option:var">
    变量
</option>

<option data-k="b" title="[b]<bdo>" value="input:bdo" tpl-name="option:bdo">
    有向文本
</option>

<option title="<br>" value="input:br" tpl-name="option:br">
    换行
</option>

<option title="<wbr>" value="input:wbr" tpl-name="option:wbr">
    软换行
</option>

<option title="<span:blank>" value="input:blank" tpl-name="option:blank">
    空白段
</option>

<option title="#text" value="input:text" tpl-name="option:text">
    文本
</option>


<!-- 结构单元 ------------------------------------------------------------------->

<!-- ? -->