<!-- 内容：录入 -->
<form class="Input" onsubmit="return false" tpl-name="slave:inputs">
    <div class="_roll">
        <div class="_where">
            <label title="平级插入">
                <input type="radio" name="where" checked /><i id="l-siblings"></i>
            </label>
            <label title="向内插入">
                <input type="radio" name="where"><i id="l-children"></i>
            </label>
        </div>
        <!-- 条目容器：动态更新 -->
        <select id="inputs-items" name="items" size="5" class="_list">
            <!-- 与目标关联的合法单元... -->
        </select>
    </div>
    <div class="_body _empty" tpl-name="inputs:empty">
        <p>Alt + 鼠标拖动 可改变面板高度<br>（ 通 用 ）</p>
    </div>
</form>


<!-- 内容：微编辑 -->
<form class="Input Minied" onsubmit="return false" tpl-name="slave:minied">
    <div class="_roll">
        <div class="_where">
            <label title="内联元素">
                <input type="radio" name="where" checked /><i id="l-element"></i>
            </label>
            <label title="文本字符">
                <input type="radio" name="where" /><i id="l-schar"></i>
            </label>
        </div>
        <div tpl-source="item:inlines"> [内联元素条目] </div>
    </div>
    <div tpl-source="minied:inlines"> [主栏：单元属性] </div>
</form>


<!-- 样式 -->
<form class="Style" onsubmit="return false" tpl-name="slave:style">
    <div class="_icons">
        <b><i id="b-erase"></i></b>
        <b><i id="b-brush"></i></b>
        <b class="_press"><i id="b-fontview"></i></b>
        <b><i id="b-fontsize"></i></b>
        <b><i id="b-align"></i></b>
        <b><i id="b-width"></i></b>
        <b><i id="b-margin"></i></b>
        <b><i id="b-colors"></i></b>
    </div>
    <div tpl-source="styles:fontview"> [字形] </div>
</form>


<!-- 特性 -->
<form class="Attrs" onsubmit="return false" tpl-name="slave:attrs">
    <div class="_roll">
        <div>
            <input type="text" name="attr" class="_attr" />
            <!-- 添加/移除：+/- -->
            <button id="g-attrop">+</button>
        </div>
        <select name="attrs" tpb-for>
            <option _value="$" _="$"></option>
        </select>
    </div>
    <div class="_body">
        <div class="_main">
            <textarea name="content" rows="6"></textarea>
        </div>
        <aside>
            <div class="_option">
                <input type="text" name="nlchar" class="_char" value=";" />换行友好
            </div>
            <hr tpl-node="common:submit" />
        </aside>
    </div>
</form>


<!-- 源码 -->
<form class="Source" onsubmit="return false" tpl-name="slave:source">
    <div class="_main">
        <textarea name="content" rows="6"></textarea>
    </div>
    <aside>
        <div class="_option">
            <button>结构检查</button>
            <label><input type="checkbox" name="repair" />修复</label>
            <div class="_info"></div>
        </div>
        <hr tpl-node="common:submit" />
    </aside>
</form>


<!-- 脚本 -->
<form class="Script" onsubmit="return false" tpl-name="slave:script">
    <div class="_env">
        <label><input type="radio" name="runbox" />沙盒内</label>
        <label><input type="radio" name="runbox" />编辑器内</label>
    </div>
    <div class="_body">
        <div class="_main">
            <label>记忆前缀</label>
            <input type="text" name="prefix" placeholder="script-" />
            <textarea name="content" rows="6"></textarea>
        </div>
        <aside>
            <div class="_option"><i id="l-history"></i></div>
            <div class="_submit"><button type="submit">运行</button></div>
        </aside>
    </div>
</form>
