<!-- 内容：录入 -->
<form class="Input" onsubmit="return false" tpl-name="slave:input">
    <div class="_roll">
        <div class="_where">
            <label title="平级插入">
                <input type="radio" name="where" checked /><i id="l-siblings"></i>
            </label>
            <label title="向内插入">
                <input type="radio" name="where"><i id="l-children"></i>
            </label>
        </div>
        <!-- 动态更新：与目标关联的合法单元 -->
        <select id="input-items" name="items" size="5" class="_list"
            on="change|evo(3) val pop tpl"
            to="form/._body|replace">
            <option value="input:heading">标题</option>
            <option value="input:abstract">提要</option>
            <option value="input:reference">文献参考</option>
            <option value="input:seealso">另参见</option>
            <option value="input:header">导言</option>
            <option value="input:footer">结语</option>
        </select>
    </div>
    <div class="_body _empty" tpl-name="input:empty">
        <p><code id="g-keytip">[Alt]</code> + 拖动改变面板高度</p>
    </div>
</form>


<!-- 内容：微编辑 -->
<form class="Input Minied" onsubmit="return false" tpl-name="slave:minied">
    <div class="_roll">
        <div class="_where"
            on="click(input)|evo(2) val pop tpl;
                click(input)|evo(2) attr('-val') pop tpl"
            to="1/select|replace|focus fire('', 'change');
                2/._body|replace">
            <label title="内联元素">
                <input type="radio" name="where" value="item:inlines" data-val="minied:inlines" checked /><i id="l-element"></i>
            </label>
            <label title="文本字符">
                <input type="radio" name="where" value="item:ctypes" data-val="minied:chars" /><i id="l-schar"></i>
            </label>
        </div>
        <select name="inlines" size="5" class="_list _inlines" tpl-name="item:inlines"
            on="change|evo(3) val str('inlines:') pop tpl;
                input.inline|ev('detail') slr('/','-k', _) $(_) dup end(null) prop('value')"
            to="2/._prop|replace;
                |val|goto('change')">
            <!-- tpl: inlines:[value] -->
            <option data-k="g" title="[g]<img>" value="img" selected>图片</option>
            <option data-k="A" title="[A]<audio>" value="audio">音频</option>
            <option data-k="V" title="[V]<video>" value="video">视频</option>
            <option data-k="P" title="[P]<picture>" value="picture">兼容图片</option>
            <option data-k="a" title="[a]<a>" value="a">链接</option>
            <option data-k="c" title="[c]<code>" value="code">代码</option>
            <option data-k="s" title="[s]<strong>" value="strong">重点</option>
            <option data-k="e" title="[e]<em>" value="em">强调</option>
            <option title="<sub>" value="sub">下标</option>
            <option title="<sup>" value="sup">上标</option>
            <option data-k="q" title="[q]<q>" value="q">短引用</option>
            <option data-k="t" title="[t]<time>" value="times">日期/时间</option>
            <option data-k="i" title="[i]<ins>" value="ins">插入性</option>
            <option data-k="d" title="[d]<del>" value="del">已删除</option>
            <option title="<abbr>" value="abbr">缩写</option>
            <option title="<small>" value="small">注脚</option>
            <option title="<cite>" value="cite">来源</option>
            <option data-k="m" title="[m]<mark>" value="mark">标记</option>
            <option data-k="r" title="[r]<ruby/rb,rp,rt>" value="ruby">注音单元</option>
            <option data-k="o" title="[o]<code:orz>" value="orz">表情</option>
            <option data-k="f" title="[f]<dfn>" value="dfn">定义条目</option>
            <option data-k="p" title="[p]<samp>" value="samp">样本</option>
            <option data-k="k" title="[k]<kbd>" value="kbd">键盘字</option>
            <option title="<meter>" value="meter">度量标示</option>
            <option title="<s>" value="s">失效</option>
            <option data-k="u" title="[u]<u>" value="u">注记</option>
            <option data-k="v" title="[v]<var>" value="var">变量</option>
            <option data-k="b" title="[b]<bdo>" value="bdo">有向文本</option>
            <option title="<br>" value="br">换行</option>
            <option title="<wbr>" value="wbr">软换行</option>
            <option title="<span:blank>" value="blank">空白段</option>
        </select>
    </div>
    <div class="_body" tpl-source="minied:inlines"> [主栏：单元属性] </div>
</form>


<!-- 样式 -->
<form class="Style" onsubmit="return false" tpl-name="slave:style">
    <div class="_icons"
        on="click(b)|evo(2) attr('-tpl') pop tpl;
            click(b)|$$('/b')"
        to="1/._body|replace;
            #|only('_press')">
        <b on="click|stop" title="擦除"><i id="b-erase"></i></b>
        <b on="click|stop" title="样式刷"><i id="b-brush"></i></b>
        <b data-tpl="style:fontview" title="字形" class="_press"><i id="b-fontview"></i></b>
        <b data-tpl="style:fontsize" title="字号"><i id="b-fontsize"></i></b>
        <b data-tpl="style:align" title="对齐"><i id="b-align"></i></b>
        <b data-tpl="style:width" title="宽/高度"><i id="b-width"></i></b>
        <b data-tpl="style:margin" title="内/外边距"><i id="b-margin"></i></b>
        <b data-tpl="style:color" title="颜色"><i id="b-colors"></i></b>
    </div>
    <div class="_body" tpl-source="style:fontview"> [字形] </div>
</form>


<!-- 特性 -->
<form class="Attr" onsubmit="return false" tpl-name="slave:attr">
    <div class="_roll">
        <div class="_name">
            <input type="text" name="attr" value="" />
            <!-- ✚✛ -->
            <input type="button" value="✛" class="_add" />
        </div>
        <select name="attrs" size="5" class="_list" tpb-for>
            <option _="$">style</option>
        </select>
    </div>
    <div class="_body">
        <div class="_main">
            <!-- OBT: 分组对应提示 -->
            <header class="_tips" data-pb="lost">
                <label data-pb="">
                    <b>on</b><input type="text" spellcheck="false" class="_code" disabled />
                </label>
                <label data-pb="">
                    <b>by</b><input type="text" spellcheck="false" class="_code" disabled />
                </label>
                <label data-pb="lost">
                    <b>to</b><input type="text" spellcheck="false" class="_code" disabled />
                </label>
            </header>
            <textarea name="content" spellcheck="false" class="_code"></textarea>
        </div>
        <aside>
            <div class="_option">
                <label>换行符
                    <input type="text" name="nlchar" class="_char _code" value=";" />
                </label>
            </div>
            <hr tpl-node="common:submit" />
        </aside>
    </div>
</form>


<!-- 源码 -->
<form class="Source _body" onsubmit="return false" tpl-name="slave:source">
    <div class="_main">
        <textarea name="content" spellcheck="false" class="_code"></textarea>
    </div>
    <aside>
        <div class="_option">
            <label><input type="checkbox" name="repair" />修复</label>
            <button>结构检查</button>
            <!-- _ok|_err -->
            <div class="_info _ok">OK!</div>
        </div>
        <hr tpl-node="common:submit" />
    </aside>
</form>


<!-- 脚本 -->
<form class="Script" onsubmit="return false" tpl-name="slave:script">
    <div class="_env">
        <label><input type="radio" name="runbox" value="sandbox" checked />沙盒内</label>
        <label><input type="radio" name="runbox" value="editor" />编辑器内</label>
    </div>
    <div class="_body">
        <div class="_main">
            <header>
                <input type="text" name="prefix" spellcheck="false" placeholder="记忆前缀：script-" class="_prefix" />
            </header>
            <textarea name="content" spellcheck="false" class="_code"></textarea>
        </div>
        <aside>
            <div class="_cmds">
                <b title="脚本历史"><i id="l-history"></i></b>
            </div>
            <div class="_submit">
                <button type="submit">运行</button>
            </div>
        </aside>
    </div>
</form>
