<!--单元属性：（property:xxx）
    - 由上下文菜单中的“属性”条目激发。
    - data-label 用于模态框标题栏文本。
----------------------------------------------------------------------------->

<ul class="_prop" tpl-name="property:audio" data-label="音频属性">
    <li tpl-node="prop:src"></li>
    <li tpl-node="prop:upload, prop:preview"></li>
    <li tpl-node="prop:mediaopts"></li>
    <li tpl-node="prop:sources1, prop:tracks"></li>
</ul>

<ul class="_prop" tpl-name="property:video" data-label="视频属性">
    <li tpl-node="prop:src, prop:poster"></li>
    <li tpl-node="prop:upload, prop:preview"></li>
    <li tpl-node="prop:wh, prop:mediaopts"></li>
    <li tpl-node="prop:sources1, prop:tracks"></li>
</ul>

<ul class="_prop" tpl-name="property:picture" data-label="最佳图片属性">
    <li tpl-node="prop:src, prop:alt"></li>
    <li tpl-node="prop:upload, prop:preview, prop:wh"></li>
    <li tpl-node="prop:sources2"></li>
</ul>

<ul class="_prop" tpl-name="property:img" data-label="图片属性">
    <li tpl-node="prop:src, prop:alt"></li>
    <li tpl-node="prop:upload, prop:preview, prop:wh"></li>
</ul>

<ul class="_prop" tpl-name="property:svg" data-label="SVG属性">
    <li tpl-node="prop:width, prop:height"></li>
</ul>

<ul class="_prop" tpl-name="property:ruby" data-label="注音拼音">
    <li tpl-node="prop:rt, prop:rp"></li>
</ul>

<ul class="_prop" tpl-name="property:times" data-label="时间设定">
    <li tpl-node="prop:date, prop:time"></li>
</ul>

<ul class="_prop" tpl-name="property:meter" data-label="量度属性">
    <li tpl-node="prop:number, prop:maxmin, prop:highlow, prop:optimum"></li>
</ul>

<ul class="_prop" tpl-name="property:space" data-label="空白属性">
    <li tpl-node="prop:width"></li>
</ul>

<ul class="_prop" tpl-name="property:a" data-label="链接属性">
    <li tpl-node="prop:href, prop:target, prop:title"></li>
</ul>

<ul class="_prop" tpl-name="property:q" data-label="短引用属性">
    <li tpl-node="prop:cite"></li>
</ul>

<ul class="_prop" tpl-name="property:abbr" data-label="缩写属性">
    <li tpl-node="prop:title"></li>
</ul>

<ul class="_prop" tpl-name="property:del" data-label="删除属性">
    <li tpl-node="prop:date, prop:time"></li>
</ul>

<ul class="_prop" tpl-name="property:ins" data-label="插入属性">
    <li tpl-node="prop:date, prop:time"></li>
</ul>

<ul class="_prop" tpl-name="property:code" data-label="代码属性">
    <li tpl-node="prop:tab, prop:lang"></li>
</ul>

<ul class="_prop" tpl-name="property:dfn" data-label="定义词属性">
    <li tpl-node="prop:title"></li>
</ul>

<ul class="_prop" tpl-name="property:bdo" data-label="方向定义">
    <li tpl-node="prop:dir"></li>
</ul>

<ul class="_prop" tpl-name="property:blockquote" data-label="引用块属性">
    <li tpl-node="prop:cite"></li>
</ul>

<ul class="_prop" tpl-name="property:codelist" data-label="代码表属性">
    <li tpl-node="prop:tab, prop:lang, prop:start"></li>
</ul>

<ul class="_prop" tpl-name="property:ol" data-label="有序列表属性">
    <li tpl-node="prop:start, prop:sntype, prop:reversed"></li>
</ul>

<ul class="_prop" tpl-name="property:olx" data-label="有序级联表属性">
    <li tpl-node="prop:start, prop:sntype, prop:reversed"></li>
</ul>

<!--添加一个提示
    delay 跳过当前事件流程以便解绑，避免after后激发nodeok无限循环。-->
<ul class="_prop" tpl-name="property:li" data-label="列表项属性"
    on="^nodeok|({class:'_tips', text:'（不常用）'}) Element('i') delay"
    to="/[name=type]|after">
    <li tpl-node="prop:value, prop:sntype"></li>
</ul>

<ul class="_prop" tpl-name="property:table" data-label="表格属性">
    <li tpl-node="prop:columns, prop:rows, prop:tborder, prop:th0"></li>
</ul>

<ul class="_prop" tpl-name="property:hr" data-label="分隔线属性">
    <li tpl-node="prop:thick, prop:length, prop:space, prop:hrstyle"></li>
</ul>

<ul class="_prop" tpl-name="property:blank" data-label="白板属性">
    <li tpl-node="prop:width, prop:height"></li>
</ul>

<ul class="_prop" tpl-name="property:explain" data-label="插图讲解属性">
    <li><b>定位</b>
        <span><select name="position" tpl-name="explain:position">
                <option value=""> ------ </option>
                <option value="fix-lt">左上方</option>
                <option value="fix-rt">右上方</option>
                <option value="fix-rb">右下方</option>
                <option value="fix-lb">左下方</option>
            </select>
        </span>
    </li>
</ul>

<ul class="_prop" tpl-name="property:h1" data-label="主标题属性">
    <li tpl-node="prop:id"></li>
</ul>

<ul class="_prop" tpl-name="property:h2" data-label="标题属性">
    <li tpl-node="prop:id"></li>
</ul>

<ul class="_prop" tpl-name="property:h3" data-label="标题属性">
    <li tpl-node="prop:id"></li>
</ul>

<ul class="_prop" tpl-name="property:h4" data-label="标题属性">
    <li tpl-node="prop:id"></li>
</ul>

<ul class="_prop" tpl-name="property:h5" data-label="标题属性">
    <li tpl-node="prop:id"></li>
</ul>

<ul class="_prop" tpl-name="property:h6" data-label="标题属性">
    <li tpl-node="prop:id"></li>
</ul>



<!--内联单元（数据）
    - 微编辑直接引用。
    - 普通模式下内联单元插入的嵌入引用。
----------------------------------------------------------------------------->

<!-- 图片 -->
<ul class="_prop" tpl-name="inlines:img">
    <li tpl-node="prop:src, prop:alt"></li>
    <li tpl-node="prop:upload, prop:preview, prop:wh"></li>
</ul>

<!-- 音频 -->
<ul class="_prop" data-new="audio" tpl-name="inlines:audio">
    <li tpl-node="prop:src"></li>
    <li tpl-node="prop:upload, prop:preview"></li>
    <li tpl-node="prop:mediaopts"></li>
    <li tpl-node="prop:sources1, prop:tracks"></li>
</ul>

<!-- 视频 -->
<ul class="_prop" tpl-name="inlines:video">
    <li tpl-node="prop:src, prop:poster"></li>
    <li tpl-node="prop:upload, prop:preview"></li>
    <li tpl-node="prop:wh, prop:mediaopts"></li>
    <li tpl-node="prop:sources1, prop:tracks"></li>
</ul>

<!-- 最佳图片 -->
<ul class="_prop" tpl-name="inlines:picture">
    <li tpl-node="prop:src, prop:alt"></li>
    <li tpl-node="prop:upload, prop:preview, prop:wh"></li>
    <li tpl-node="prop:sources2"></li>
</ul>

<!-- 轨道 -->
<ul class="_prop" tpl-name="inlines:track">
    <li tpl-node="prop:kind, prop:src, prop:srclang, prop:label"></li>
    <li tpl-node="prop:default"></li>
</ul>

<!-- 媒体资源 -->
<ul class="_prop" tpl-name="inlines:source1">
    <li tpl-node="prop:src, prop:srctype"></li>
</ul>

<!-- 图片资源 -->
<ul class="_prop" tpl-name="inlines:source2">
    <li tpl-node="prop:srcset, prop:media"></li>
</ul>

<!-- 图形（svg） -->
<div class="_prop" tpl-name="inlines:svg"
    on="^nodeok|('<svg>...</svg>')"
    to="/pre|@-tip">
    <hr tpl-node="prop:codes" />
</div>

<!-- 链接 -->
<ul class="_prop" tpl-name="inlines:a">
    <li tpl-node="prop:text1"></li>
    <li tpl-node="prop:href, prop:target"></li>
    <li tpl-node="prop:title"></li>
</ul>

<!-- 代码 -->
<div class="_prop" tpl-name="inlines:code">
    <pre tpl-node="prop:codes"></pre>
</div>

<!-- 重点 -->
<div class="_prop" tpl-name="inlines:strong">
    <hr tpl-node="prop:content" />
</div>

<!-- 强调 -->
<div class="_prop" tpl-name="inlines:em">
    <hr tpl-node="prop:content" />
</div>

<!-- 下标 -->
<div class="_prop" tpl-name="inlines:sub">
    <hr tpl-node="prop:content" />
</div>

<!-- 上标 -->
<div class="_prop" tpl-name="inlines:sup">
    <hr tpl-node="prop:content" />
</div>

<!-- 短引用 -->
<ul class="_prop" tpl-name="inlines:q">
    <hr tpl-node="prop:text1, prop:cite" />
</ul>

<!-- 日期/时间 -->
<ul class="_prop" tpl-name="inlines:times">
    <li tpl-node="prop:datetext, prop:date, prop:time"></li>
</ul>

<!-- 插入性 -->
<ul class="_prop" tpl-name="inlines:ins">
    <li tpl-node="prop:text2"></li>
    <li tpl-node="prop:date, prop:time"></li>
    <li tpl-node="prop:cite2"></li>
</ul>

<!-- 已删除 -->
<ul class="_prop" tpl-name="inlines:del">
    <li tpl-node="prop:text2"></li>
    <li tpl-node="prop:date, prop:time"></li>
    <li tpl-node="prop:cite2"></li>
</ul>

<!-- 缩写 -->
<ul class="_prop" tpl-name="inlines:abbr">
    <li tpl-node="prop:text1, prop:title"></li>
</ul>

<!-- 注脚 -->
<div class="_prop" tpl-name="inlines:small">
    <hr tpl-node="prop:content" />
</div>

<!-- 来源 -->
<div class="_prop" tpl-name="inlines:cite">
    <hr tpl-node="prop:content" />
</div>

<!-- 标记 -->
<div class="_prop" tpl-name="inlines:mark">
    <hr tpl-node="prop:content" />
</div>

<!-- 注音单元 -->
<ul class="_prop" tpl-name="inlines:ruby">
    <li tpl-node="prop:rb"></li>
    <li tpl-node="prop:rt"></li>
    <li tpl-node="prop:rp"></li>
</ul>

<!-- 表情 -->
<div class="_prop" tpl-name="inlines:orz">
    <hr tpl-node="prop:codes" />
</div>

<!-- 定义条目 -->
<ul class="_prop" tpl-name="inlines:dfn">
    <hr tpl-node="prop:text1, prop:title" />
</ul>

<!-- 样本 -->
<div class="_prop" tpl-name="inlines:samp">
    <hr tpl-node="prop:content" />
</div>

<!-- 键盘字 -->
<div class="_prop" tpl-name="inlines:kbd">
    <hr tpl-node="prop:content" />
</div>

<!-- 量度标示 -->
<ul class="_prop" tpl-name="inlines:meter">
    <li tpl-node="prop:number"></li>
    <li tpl-node="prop:maxmin"></li>
    <li tpl-node="prop:highlow"></li>
    <li tpl-node="prop:optimum"></li>
</ul>

<!-- 失效 -->
<div class="_prop" tpl-name="inlines:s">
    <hr tpl-node="prop:content" />
</div>

<!-- 注记 -->
<div class="_prop" tpl-name="inlines:u">
    <hr tpl-node="prop:content" />
</div>

<!-- 变量 -->
<div class="_prop" tpl-name="inlines:var">
    <hr tpl-node="prop:content" />
</div>

<!-- 有向文本 -->
<ul class="_prop" tpl-name="inlines:bdo">
    <li tpl-node="prop:text, prop:dir"></li>
</ul>

<!-- 换行 -->
<ul class="_prop" tpl-name="inlines:br">
    <li tpl-node="prop:amount"></li>
</ul>

<!-- 软换行 -->
<ul class="_prop" tpl-name="inlines:wbr">
    <li tpl-node="prop:amount"></li>
</ul>

<!-- 空白 -->
<ul class="_prop" tpl-name="inlines:space">
    <li tpl-node="prop:amount, prop:spwidth"></li>
</ul>

<!-- 文本节点 -->
<div class="_prop" tpl-name="inlines:text">
    <hr tpl-node="prop:content" />
</div>



<!--属性条目：（prop:xxx）
    用于内联单元的普通插入和微编辑，以及属性修改（模态框）。
----------------------------------------------------------------------------->

<li tpl-name="prop:thick">
    <b title="CSS: border-width">厚度</b>
    <span><input type="text" name="thick" class="_chars" /></span>
</li>

<li tpl-name="prop:length">
    <b title="CSS: width">长度</b>
    <span><input type="text" name="length" class="_chars" /></span>
</li>

<li tpl-name="prop:space">
    <b title="CSS: height">空白</b>
    <span><input type="text" name="height" class="_chars" /></span>
</li>

<li tpl-name="prop:hrstyle">
    <b>分隔风格</b>
    <span><hr tpl-node="hr:border"></span>
</li>

<li tpl-name="prop:sntype">
    <b>编号类型</b>
    <span><select name="type">
            <option value=""> ------ </option>
            <option>1</option>
            <option>a</option>
            <option>A</option>
            <option>i</option>
            <option>I</option>
        </select>
    </span>
</li>

<li tpl-name="prop:start">
    <b>起始行号</b>
    <span><input type="text" name="start" class="_chars" placeholder="1" /></span>
</li>

<!-- 适用：<li> -->
<li tpl-name="prop:value">
    <b>起始行号</b>
    <span><input type="text" name="value" class="_chars" placeholder="1" /></span>
</li>

<li tpl-name="prop:reversed">
    <b>设置</b>
    <span><label><input type="checkbox" name="reversed" />逆序编号</label></span>
</li>

<li tpl-name="prop:tborder">
    <b>表格边框</b>
    <span><hr tpl-node="table:border"></span>
</li>

<li tpl-name="prop:columns">
    <b>列数</b>
    <span><input type="text" name="columns" class="_nums" /></span>
</li>

<li tpl-name="prop:rows">
    <b>行数</b>
    <span><input type="text" name="rows" class="_nums" /></span>
</li>

<!-- 无关现状，提供插入多列表头能力 -->
<li tpl-name="prop:th0">
    <b><!-- 占位 --></b>
    <span><label><input type="checkbox" name="th0" />插入表头列</label></span>
</li>

<li tpl-name="prop:capwhere">
    <b>标题位置</b>
    <span><label><input type="checkbox" name="capbelow" />在表格下部</label></span>
</li>

<li tpl-name="prop:hr">
    <b>线条风格</b>
    <span><hr tpl-node="hr:border" /></span>
</li>

<li tpl-name="prop:href">
    <b>链接目标</b>
    <span><input type="text" name="href" /></span>
</li>

<li tpl-name="prop:target">
    <b>窗口</b>
    <span><select name="target">
            <option value=""> ------ </option>
            <option value="_blank">_blank</option>
            <option value="_parent">_parent</option>
            <option value="_top">_top</option>
            <option value="_self">_self</option>
        </select>
    </span>
</li>

<li tpl-name="prop:src">
    <b title="src">源路径</b>
    <span><input type="text" name="src" /></span>
</li>

<li tpl-name="prop:alt">
    <b title="alt">说明</b>
    <span><input type="text" name="alt" /></span>
</li>

<li tpl-name="prop:wh">
    <b>宽/高度</b>
    <span>
        <input type="text" name="width" title="width" class="_nums" />
        x
        <input type="text" name="height" title="height" class="_nums" />
        像素
    </span>
</li>

<!--音频/视频用
    注记：
    资源和字幕轨元素不可视，不能通过属性编辑方式修改。故提供文本对象方式设置。-->
<li tpl-name="prop:sources1">
    <b>候选资源</b>
    <span title="<source>"
        on="^nodeok|(`[ {src: '...', type: '...'}, ... ]`)"
        to="/pre|@-tip">
        <pre tpl-node="prop:codes"></pre>
    </span>
</li>

<li tpl-name="prop:tracks">
    <b>字幕轨</b>
    <span title="<track>"
        on="^nodeok|(`[ {kind, srclang, src, label, default?: true}, ... ]`)"
        to="/pre|@-tip">
        <pre tpl-node="prop:codes"></pre>
    </span>
</li>

<!-- 最佳图片用 -->
<li tpl-name="prop:sources2">
    <b>候选图片</b>
    <span title="<source>"
        on="^nodeok|(`[ {srcset: '...', media: '...'}, ... ]`)"
        to="/pre|@-tip">
        <pre tpl-node="prop:codes"></pre>
    </span>
</li>

<li tpl-name="prop:width">
    <b>宽度</b>
    <span><input type="text" name="width" placeholder="90%" class="_chars"></span>
</li>

<li tpl-name="prop:height">
    <b>高度</b>
    <span><input type="text" name="width" placeholder="90%" class="_chars"></span>
</li>

<li tpl-name="prop:id">
    <b>ID定义</b>
    <span><input type="text" name="width" class="_phrase"></span>
</li>

<li tpl-name="prop:poster">
    <b>视频画面</b>
    <span><input type="text" name="poster" placeholder="(poster)" /></span>
</li>

<li tpl-name="prop:mediaopts">
    <b>设置</b>
    <span>
        <label><input type="checkbox" name="autoplay" />自动播放</label>
        <label><input type="checkbox" name="loop" />循环播放</label>
        <label><input type="checkbox" name="controls" checked />显示控件</label>
    </span>
</li>

<li tpl-name="prop:open">
    <b><!-- 占位 --></b>
    <span><label><input type="checkbox" name="open" />详细展开</label></span>
</li>

<li class="_upload" tpl-name="prop:upload">
    <b>上传</b>
    <span><input type="file" name="upload" value=""
            @on="change|evo(3) val"
            @by="x.Fun.upload(null)" />
    </span>
</li>

<li tpl-name="prop:preview">
    <b>预览</b>
    <span class="_preview"><!-- img|video|audio --></span>
</li>

<li tpl-name="prop:kind">
    <b>种类</b>
    <span><select name="kind">
            <option title="subtitles" value="subtitles">字幕</option>
            <option title="captions" value="captions">隐式信息</option>
            <option title="descriptions" value="descriptions">内容描述</option>
            <option title="chapters" value="chapters">章节</option>
            <option title="metadata" value="metadata">源数据</option>
        </select>
    </span>
</li>

<li tpl-name="prop:srclang">
    <b>源语言</b>
    <span><input type="text" name="srclang" class="_chars" /></span>
</li>

<li tpl-name="prop:label">
    <b>标签</b>
    <span><input type="text" name="label" class="_phrase" /></span>
</li>

<li tpl-name="prop:default">
    <b><!-- [track] --></b>
    <span>
        <label><input type="checkbox" name="default" value="" />设为默认</label>
    </span>
</li>

<!-- <source type> -->
<li tpl-name="prop:srctype">
    <b title="MIME-Type">类型</b>
    <span><input type="text" name="type" class="_phrase" /></span>
</li>

<!-- <source type> -->
<li tpl-name="prop:srcset">
    <b title="srcset">资源定义</b>
    <span><input type="text" name="srcset" /></span>
</li>

<!-- <source media> -->
<li tpl-name="prop:media">
    <b title="media">媒体查询</b>
    <span><input type="text" name="media" class="_phrase" /></span>
</li>

<li tpl-name="prop:heading">
    <b>标题</b>
    <span><input type="text" name="heading" placeholder="无标题请置空"></span>
</li>

<!-- 单行文本 -->
<li tpl-name="prop:text">
    <b>文本</b>
    <span><input type="text" name="text" /></span>
</li>

<!-- 单行文本：定宽 -->
<li tpl-name="prop:text1">
    <b>文本</b>
    <span><input type="text" name="text" class="_phrase" /></span>
</li>

<li tpl-name="prop:cite">
    <b>引用来源</b>
    <span><input type="url" name="cite"  placeholder="https://" /></span>
</li>

<li tpl-name="prop:cite2">
    <b title="cite">解释源</b>
    <span><input type="url" name="cite"  placeholder="https:// (可选)" /></span>
</li>

<li tpl-name="prop:figcapwhere">
    <b>标题位于</b>
    <span><label><input type="checkbox" name="figcapbelow" value="below" />在图画之下</label></span>
</li>

<li tpl-name="prop:rb">
    <b>文本</b>
    <span><input type="text" name="rb" placeholder="<rb>" class="_phrase" /></span>
</li>

<li tpl-name="prop:rt">
    <b>拼音</b>
    <span><input type="text" name="rt" placeholder="<rt>" /></span>
</li>

<!--仅友好提示：
    由程序配置以支持<ruby>的格式化解析创建。-->
<li tpl-name="prop:rp">
    <b>&lt;rp&gt;</b>
    <!-- 注：input:disabled 下 $.val() 方法忽略赋值 -->
    <span data-pbo="disabled"
        on="^obted|([Sys.rpLeft, Sys.rpRight])"
        to="(/input)|@value">
        <label><input type="text" name="rpl" class="_char" disabled /></label>
        <label><input type="text" name="rpr" class="_char" disabled /></label>
    </span>
</li>

<!-- 日期/时间文本 -->
<li tpl-name="prop:datetext">
    <b>文本</b>
    <span><input type="text" name="text" placeholder="（可选）" /></span>
</li>

<li tpl-name="prop:date">
    <b>日期</b>
    <span><input type="date" name="date" placeholder="YYYY-MM-DD"></span>
</li>

<li tpl-name="prop:time">
    <b>时间</b>
    <span><input type="time" name="time" placeholder="hh:mm:ss"></span>
</li>

<li tpl-name="prop:number">
    <b>数值</b>
    <span><input type="text" name="value" title="value" class="_chars" /></span>
</li>

<li tpl-name="prop:maxmin">
    <b>最大/最小值</b>
    <span>
        <input type="text" name="max" title="max" class="_nums" />
        <input type="text" name="min" title="min" class="_nums" />
    </span>
</li>

<li tpl-name="prop:highlow">
    <b>高/低值</b>
    <span>
        <input type="text" name="high" title="high" class="_nums" />
        <input type="text" name="low" title="low" class="_nums" />
    </span>
</li>

<li tpl-name="prop:optimum">
    <b>最佳值</b>
    <span><input type="text" name="optimum" class="_nums" title="optimum" /></span>
</li>

<li tpl-name="prop:dir">
    <b>方向</b>
    <span>
        <label title="ltr"><input type="radio" name="dir" value="ltr">从左到右</label>
        <label title="rtl"><input type="radio" name="dir" value="rtl">从右到左</label>
    </span>
</li>

<li tpl-name="prop:amount">
    <b>数量</b>
    <span><input type="text" name="amount" class="_nums" value="1" /></span>
</li>

<li tpl-name="prop:title">
    <b>提示</b>
    <span><input type="text" name="title" placeholder="(title)" /></span>
</li>

<li tpl-name="prop:spwidth">
    <b>空白宽</b>
    <span><input type="text" name="width" class="_chars" placeholder="2.45em" /></span>
</li>

<li tpl-name="prop:tab">
    <b>制表符</b>
    <span><input type="text" name="tabs" class="_char" value="4" title="空格数"></span>
</li>

<li tpl-name="prop:lang">
    <b>语言</b>
    <span><select tpl-node="prop:languages"></select></span>
</li>

<li class="_text2" tpl-name="prop:text2">
    <b>文本</b>
    <span><textarea name="content" rows="3"></textarea></span>
</li>

<!-- 纯文本录入 -->
<textarea name="content" placeholder="空行分项（多选对应）" tpl-name="prop:content"></textarea>

<!--源码录入：
    初始为空时粘贴自动清除多余缩进，加按Shift取消此功能。
    适用：代码类/颜文字/预排版。
    keydown 插入真实换行或Tab空格序列（需要处理换行后的光标兼容性）。
    paste   粘贴内容，转换后按HTML方式插入，避免浏览器智能行为（不兼容）。
    keydown 设置Shift键标记，决定是否清除多余缩进。
    keyup   清除Shift标记，注意应当是false（非null）。
    codes   由外部发送消息填充代码内容到光标处。注：实际上可以插入其它活动位置（如微编辑元素）。
    mouseup keyup... 当前光标点记忆，否则codes递送只能插入前端。
    另：
    data-tip 初始录入提示（CSS:content:attr）。
-->
<pre spellcheck="false" class="_code" contenteditable="true" tpl-name="prop:codes"
    data-tip="粘贴时自动清除多余缩进"
    on="keydown|ev('key') pass('Enter', 'Tab', 'Backspace') stop evo(3) ev('key') sRange $('form/[name=tabs]') (KM.backspaceMore) scam(_1) v.k3edit(_4) dup pass avoid exeCmd('insertHTML', _1);
        paste|avoid clipboard env('paste.shift') v.indentcut(_1) html exeCmd('insertHTML', _1);
        keydown|scam('shift') pass stop env('paste.shift', true);
        keyup|env('paste.shift', false);
        codes|ev('detail') html xRange addRange edbox pop exeCmd('insertHTML', _1);
        mouseup keyup input focus|sRange pop xRange"
    by="evo(3) iskey('Enter') sRange Kit.blankline(_2)"></pre>


<!--代码语言清单
    normal 普通代码，仅标记字符串和注释（//）。-->
<select id="g-languages" data-id="code" name="language" tpl-name="prop:languages">
    <option value=""> ------ </option>
    <option value="normal">Normal</option>
    <option value="golang">Golang</option>
    <option value="cplus">C/C++</option>
    <option value="javascript">JavaScript</option>
    <option value="css">CSS</option>
    <option value="html">HTML</option>
</select>


<!-- 两个定制结构 -->

<ul class="_prop" tpl-name="prop:xolah4li">
    <li tpl-node="prop:text1"></li>
    <li tpl-node="prop:href, prop:target, prop:title"></li>
    <li><b>子列表</b>
        <span>
            <textarea name="sublist" rows="5" placeholder="（空行分项）"></textarea>
        </span>
    </li>
</ul>

<!--插图内容块：图形/图片切换
    svg 显示SVG源码录入框。
    img 显示普通图片录入条目清单。
    to:
    见 input:figimgbox 模板定义。
-->
<ul class="_prop" tpl-name="prop:figimgbox"
    on="svg|evo(3) children not(':last-child') lose(true) $('/li') lose(false) ('svg');
        img|evo(3) children not(':last-child') lose(false) $('/li') lose(true) ('img')"
    to="._body/[name=type]|val;
        ._body/[name=type]|val">
    <li data-pbo="lost">
        <b>源码</b>
        <!-- 录入提示类别 -->
        <span on="^nodeok|('<svg>...</svg>')" to="/pre|@-tip">
            <pre tpl-node="prop:codes"></pre>
        </span>
    </li>
    <li tpl-node="prop:src, prop:alt"></li>
    <li tpl-node="prop:upload, prop:preview, prop:wh"></li>
    <li><b>讲解</b>
        <span><textarea name="explain" rows="4" placeholder="（可选）"></textarea></span>
    </li>
</ul>
