<!--单元属性：（property:xxx）
    由上下文菜单中的“属性”条目激发。
----------------------------------------------------------------------------->

<ul class="_prop" tpl-name="property:audio">
    <li tpl-node="prop:srcbase, prop:src"></li>
    <li tpl-node="prop:upload, prop:preview"></li>
    <li tpl-node="prop:mediaopts"></li>
</ul>

<ul class="_prop" tpl-name="property:video">
    <li tpl-node="prop:srcbase, prop:src, prop:poster"></li>
    <li tpl-node="prop:upload, prop:preview"></li>
    <li tpl-node="prop:wh, prop:mediaopts"></li>
</ul>

<ul class="_prop" tpl-name="property:img">
    <li tpl-node="prop:srcbase, prop:src, prop:alt"></li>
    <li tpl-node="prop:upload, prop:preview, prop:wh"></li>
</ul>

<ul class="_prop" tpl-name="property:svg">
    <li tpl-node="prop:wh"></li>
</ul>

<ul class="_prop" tpl-name="property:ruby">
    <li tpl-node="prop:rb, prop:rt, prop:rp"></li>
</ul>

<ul class="_prop" tpl-name="property:time">
    <li tpl-node="prop:date, prop:time"></li>
</ul>

<ul class="_prop" tpl-name="property:meter">
    <li tpl-node="prop:number, prop:maxmin, prop:highlow, prop:optimum"></li>
</ul>

<ul class="_prop" tpl-name="property:space">
    <li tpl-node="prop:width"></li>
</ul>

<ul class="_prop" tpl-name="property:a">
    <li tpl-node="prop:href, prop:target"></li>
</ul>

<ul class="_prop" tpl-name="property:q">
    <li tpl-node="prop:cite"></li>
</ul>

<ul class="_prop" tpl-name="property:abbr">
    <li tpl-node="prop:title"></li>
</ul>

<ul class="_prop" tpl-name="property:del">
    <li tpl-node="prop:date, prop:time"></li>
</ul>

<ul class="_prop" tpl-name="property:ins">
    <li tpl-node="prop:date, prop:time"></li>
</ul>

<ul class="_prop" tpl-name="property:code">
    <li tpl-node="prop:tab, prop:lang"></li>
</ul>

<ul class="_prop" tpl-name="property:dfn">
    <li tpl-node="prop:title"></li>
</ul>

<ul class="_prop" tpl-name="property:bdo">
    <li tpl-node="prop:dir"></li>
</ul>

<ul class="_prop" tpl-name="property:blockquote">
    <li tpl-node="prop:cite"></li>
</ul>

<ul class="_prop" tpl-name="property:codelist">
    <li tpl-node="prop:tab, prop:lang, prop:start"></li>
</ul>

<ul class="_prop" tpl-name="property:ol">

</ul>

<ul class="_prop" tpl-name="property:olx">

</ul>

<ul class="_prop" tpl-name="property:table">

</ul>

<ul class="_prop" tpl-name="property:hr">

</ul>

<ul class="_prop" tpl-name="property:blank">

</ul>

<ul class="_prop" tpl-name="property:h1">
    <li tpl-node="prop:id"></li>
</ul>

<ul class="_prop" tpl-name="property:h2">
    <li tpl-node="prop:id"></li>
</ul>

<ul class="_prop" tpl-name="property:h3">
    <li tpl-node="prop:id"></li>
</ul>

<ul class="_prop" tpl-name="property:h4">
    <li tpl-node="prop:id"></li>
</ul>

<ul class="_prop" tpl-name="property:h5">
    <li tpl-node="prop:id"></li>
</ul>

<ul class="_prop" tpl-name="property:h6">
    <li tpl-node="prop:id"></li>
</ul>




<!--属性条目：（prop:xxx）
    适用：主面板内联单元的微编辑、新建和模态框区属性修改。
----------------------------------------------------------------------------->

<li tpl-name="prop:thick">
    <b title="CSS: border-width">厚度</b>
    <span><input type="text" name="thick" class="_chars" /></span>
</li>

<li tpl-name="prop:length">
    <b title="CSS: width">长度</b>
    <span><input type="text" name="length" class="_chars" /></span>
</li>

<li tpl-name="prop:height">
    <b title="CSS: height">空白</b>
    <span><input type="text" name="height" class="_chars" /></span>
</li>

<li tpl-name="prop:sntype">
    <b>编号类型</b>
    <span><select name="sntype">
            <option value="">----</option>
            <option>1</option>
            <option>A</option>
            <option>a</option>
            <option>I</option>
            <option>i</option>
        </select>
    </span>
</li>

<li tpl-name="prop:start">
    <b>起始行</b>
    <span><input type="text" name="start" class="_chars" /></span>
</li>

<li tpl-name="prop:cascade">
    <b>级联表</b>
    <span><label><input type="checkbox" name="cascade" />转为多级编号</label></span>
</li>

<li tpl-name="prop:border">
    <b>表格边框</b>
    <span><hr tpl-node="table:border"></span>
</li>

<li tpl-name="prop:columns">
    <b>列数</b>
    <span><input type="text" name="columns" class="_nums" /></span>
</li>

<li tpl-name="prop:rows">
    <b>行数</b>
    <span><input type="text" name="rows" class="_nums" /></span>
</li>

<li tpl-name="prop:tfoot">
    <b><!-- 占位 --></b>
    <span><label><input type="checkbox" name="tfoot" />包含表脚</label></span>
</li>

<li tpl-name="prop:thead">
    <b><!-- 占位 --></b>
    <span><label><input type="checkbox" name="thead" />包含表头</label></span>
</li>

<li tpl-name="prop:capwhere">
    <b>标题位置</b>
    <span><label><input type="checkbox" name="capbelow" />在表格下部</label></span>
</li>

<!-- table.summary 表格摘要（屏幕阅读器使用） -->
<li tpl-name="prop:summary">
    <b>表格摘要</b>
    <span><textarea name="summary" rows="2"></textarea></span>
</li>

<li tpl-name="prop:hr">
    <b>线条风格</b>
    <span><hr tpl-node="hr:border" /></span>
</li>

<li tpl-name="prop:href">
    <b>链接网址</b>
    <span><input type="url" name="href" placeholder="https://" /></span>
</li>

<li tpl-name="prop:target">
    <b>目标窗口</b>
    <span><select name="target">
            <option value="">------</option>
            <option value="_blank">_blank</option>
            <option value="_parent">_parent</option>
            <option value="_top">_top</option>
            <option value="_self">_self</option>
        </select>
    </span>
</li>

<li tpl-name="prop:srcbase">
    <b>根路径</b>
    <!-- 依配置自动设置 -->
    <span><input type="url" name="srcbase" placeholder="/upload" /></span>
</li>

<li tpl-name="prop:src">
    <b>数据源</b>
    <span><input type="text" name="source" placeholder="src=..." /></span>
</li>

<li tpl-name="prop:sources">
    <b>图片参考集</b>
    <span><textarea name="sources" rows="3" title="<source>" class="_code"
        placeholder="111.xxx; { media: '...' }&#10;222.xxx; { media: '...' }"></textarea></span>
</li>

<li tpl-name="prop:alt">
    <b>图片说明</b>
    <span><input type="text" name="alts" placeholder="alt=..." /></span>
</li>

<li tpl-name="prop:wh">
    <b>宽/高度</b>
    <span>
        <input type="text" name="width" title="width" class="_nums" />
        x
        <input type="text" name="height" title="height" class="_nums" />
        像素
    </span>
</li>

<li tpl-name="prop:width">
    <b>宽度</b>
    <span><input type="text" name="width" placeholder="4em" class="_chars"></span>
</li>

<li tpl-name="prop:id">
    <b>ID属性</b>
    <span><input type="text" name="width" class="_phrase"></span>
</li>

<li tpl-name="prop:poster">
    <b>视频画面</b>
    <span><input type="url" name="poster" placeholder="(poster)" /></span>
</li>

<li tpl-name="prop:mediaopts">
    <b>设置</b>
    <span>
        <label><input type="checkbox" name="autoplay" />自动播放</label>
        <label><input type="checkbox" name="loop" />循环播放</label>
        <label><input type="checkbox" name="controls" />显示控件</label>
    </span>
</li>

<li tpl-name="prop:open">
    <b><!-- 占位 --></b>
    <span><label><input type="checkbox" name="open" />详细展开</label></span>
</li>

<li class="_upload" tpl-name="prop:upload">
    <b>上传</b>
    <span><input type="file" name="upload" value=""
            @on="change|evo(3) val"
            @by="x.Fun.upload(null)" />
    </span>
</li>

<li tpl-name="prop:preview">
    <b>预览</b>
    <span class="_preview"><!-- img|video|audio --></span>
</li>

<li tpl-name="prop:kind">
    <b>种类</b>
    <span><select name="kind">
            <option title="subtitles" value="subtitles">字幕</option>
            <option title="captions" value="captions">隐式信息</option>
            <option title="descriptions" value="descriptions">内容描述</option>
            <option title="chapters" value="chapters">章节</option>
            <option title="metadata" value="metadata">源数据</option>
        </select>
    </span>
</li>

<li tpl-name="prop:srclang">
    <b>源语言</b>
    <span><input type="text" name="srclang" class="_chars" /></span>
</li>

<li tpl-name="prop:label">
    <b>标签</b>
    <span><input type="text" name="label" class="_phrase" /></span>
</li>

<li tpl-name="prop:default">
    <b><!-- [track] --></b>
    <span>
        <label><input type="checkbox" name="default" value="" />设为默认</label>
    </span>
</li>

<!-- <source type> -->
<li tpl-name="prop:type">
    <b>类型</b>
    <span><input type="text" name="type" class="_phrase" /></span>
</li>

<li tpl-name="prop:heading">
    <b>标题</b>
    <span><input type="text" name="heading" placeholder="无标题请置空"></span>
</li>

<!-- 单行文本 -->
<li tpl-name="prop:textrow">
    <b>文本</b>
    <span><input type="text" name="textrow" class="_phrase" /></span>
</li>

<li tpl-name="prop:cite">
    <b>引用来源</b>
    <span><input type="url" name="cite"  placeholder="https://" /></span>
</li>

<li tpl-name="prop:figcapwhere">
    <b>标题位于</b>
    <span><label><input type="checkbox" name="figcapbelow" value="below" />在图画之下</label></span>
</li>

<li tpl-name="prop:rb">
    <b>文本</b>
    <span><input type="text" name="rb" placeholder="<rb>" class="_phrase" /></span>
</li>

<li tpl-name="prop:rt">
    <b>注音</b>
    <span><input type="text" name="rt" placeholder="<rt>" /></span>
</li>

<li tpl-name="prop:rp">
    <b>&lt;rp&gt;</b>
    <span>
        <label><input type="text" name="leftrp" class="_char" value="(" /></label>
        <label><input type="text" name="rightrp" class="_char" value=")" /></label>
    </span>
</li>

<!-- 日期/时间文本 -->
<li tpl-name="prop:datetext">
    <b>文本</b>
    <span><input type="text" name="datetext" placeholder="（可选）" class="_phrase" /></span>
</li>

<li tpl-name="prop:date">
    <b>日期</b>
    <span><input type="date" name="date" placeholder="YYYY-MM-DD"></span>
</li>

<li tpl-name="prop:time">
    <b>时间</b>
    <span><input type="time" name="time" placeholder="hh:mm:ss"></span>
</li>

<li tpl-name="prop:number">
    <b>数值</b>
    <span><input type="text" name="amount" title="value" class="_chars" /></span>
</li>

<li tpl-name="prop:maxmin">
    <b>最大/小值</b>
    <span>
        <input type="text" name="max" title="max" class="_nums" />
        <input type="text" name="min" title="min" class="_nums" />
    </span>
</li>

<li tpl-name="prop:highlow">
    <b>高/低值</b>
    <span>
        <input type="text" name="high" title="high" class="_nums" />
        <input type="text" name="low" title="low" class="_nums" />
    </span>
</li>

<li tpl-name="prop:optimum">
    <b>最佳值</b>
    <span><input type="text" name="optimum" class="_nums" title="optimum" /></span>
</li>

<li tpl-name="prop:dir">
    <b>方向</b>
    <span>
        <label title="ltr"><input type="radio" name="dir" value="ltr">从左到右</label>
        <label title="rtl"><input type="radio" name="dir" value="rtl" checked>从右到左</label>
    </span>
</li>

<li tpl-name="prop:amount">
    <b>数量</b>
    <span><input type="text" name="amount" class="_nums" value="1" /></span>
</li>

<li tpl-name="prop:title">
    <b>悬浮提示</b>
    <span><input type="text" name="title" placeholder="title text" /></span>
</li>

<li tpl-name="prop:spwidth">
    <b>空白宽</b>
    <span><input type="text" name="spwidth" class="_chars" placeholder="2.45em" /></span>
</li>

<li tpl-name="prop:tab">
    <b>制表符</b>
    <span><input type="text" name="tabs" class="_char" value="4" title="空格数"></span>
</li>

<li tbl-name="prop:lang">
    <b>语言</b>
    <span><select tpl-node="item:languages"></select></span>
</li>

<!-- 适用：纯文本（批量添加） -->
<textarea name="content" rows="3" placeholder="每行一项" tpl-name="prop:content"></textarea>

<!-- 适用：代码块/代码表/颜文字 -->
<textarea name="codes" rows="3" spellcheck="false" class="_code" tpl-name="prop:codes"></textarea>

<!-- 适用：<svg> -->
<textarea name="codes" rows="3" spellcheck="false" class="_code" tpl-name="prop:svg" placeholder="<svg>...</svg>"></textarea>
