<!-- 属性集。注：仅为表格行元素 -->

<!-- 代码语言 -->
<tr tpl-name="prop:clang">
    <th>{语言}</th>
    <td>
        <select tpl-name="app:clang" name="languages" tpl-for>
            <option tpl-out="value=$name; $label"></option>
        </select>
    </td>
</tr>

<!-- 特殊字符 -->
<tr tpl-name="prop:schar" valign="top">
    <th>
        <!-- 分类 -->
        <select tpl-name="chr:label" size="12" class="_field"
            on="change|into('value','2@schars','prop'); change focus|fire('2@schars','_init')" tpl-for>
            <option tpl-out="value=$name; $label">
                <!-- [特殊符号] -->
            </option>
        </select>
        <span class="_zoom" data-id="charzoom"></span>
    </th>
    <td>
        <!-- 字符集 -->
        <div data-id="schars" class="_chars" tabindex="0" on="click('b')|tabs('_fixed'),val('1@schr','text'),hold('@ >span',null,'');
                focus|vcols('>span','b');
                keydown|kschr('span','b'),keys(13),void,fire('form@','submit');
                mouseover('b') click('b')|val('2@charzoom','text','text');
                mouseout('b')|get('value','1@schr'),set('text','2@charzoom');
                _init|elgo('@ >span'),scbox('>span')">
            <!-- 格式：<span><b>〔</b><b>〕</b><b>〈</b><b>〉</b>...</span>
                elgo 恢复之前选定
            -->
        </div>
        <input type="hidden" name="schar" data-id="schr" value="" />
    </td>
</tr>

<!-- 水平对齐 -->
<tr tpl-name="prop:align">
    <th>{水平对齐}</th>
    <td><select name="align">
            <option value="">------</option>
            <option value="left">left</option>
            <option value="center">center</option>
            <option value="right">right</option>
            <option value="justify">justify</option>
        </select>
    </td>
</tr>

<!-- 垂直对齐 -->
<tr tpl-name="prop:valign">
    <th>{垂直对齐}</th>
    <td><select name="valign">
            <option value="">------</option>
            <option value="top">top</option>
            <option value="middle">middle</option>
            <option value="bottom">bottom</option>
            <option value="baseline">baseline</option>
        </select>
    </td>
</tr>

<!-- 宽度 -->
<tr tpl-name="prop:width">
    <th>{宽度}</th>
    <td><input data-id="width" type="text" name="width" value="" class="_word"
            mvc-on="focus|hold('form@','',0); rsize|rsize('3@height')" /></td>
</tr>

<!-- 高度 -->
<tr tpl-name="prop:height">
    <th>{高度}</th>
    <td><input data-id="height" type="text" name="height" value="" class="_word"
            mvc-on="focus|hold('form@','',0); rsize|rsize('3@width',true)" /></td>
</tr>

<!-- 厚度 -->
<tr tpl-name="prop:thick">
    <th>{厚度}</th>
    <td><input data-id="thick" type="text" name="thick" value="" class="_word" /></td>
</tr>

<!-- 列表编号类型 -->
<tr tpl-name="prop:type">
    <th>{编号类型}</th>
    <td><select data-id="oltype" name="oltype">
            <option value="">------</option>
            <option value="1">1</option>
            <option value="A">A</option>
            <option value="a">a</option>
            <option value="I">I</option>
            <option value="i">i</option>
        </select>
    </td>
</tr>

<!-- 列表起始行号 -->
<tr tpl-name="prop:start">
    <th>{起始行号}</th>
    <td><input type="text" data-id="start" name="start" value="1" class="_nums" /></td>
</tr>

<!-- 级联编号列表 -->
<tr tpl-name="prop:casn">
    <th>{级联列表}</th>
    <td>
        <label><input type="checkbox" name="casn" mvc-on="change check|get('checked'),set('disabled','tbody@start'),set('disabled','tbody@oltype'),stop;
        _init|fire('@','check','',true),stop" />{多级编号}</label>
    </td>
</tr>

<!-- 表格边框 -->
<tr tpl-name="prop:border">
    <th>{表格边框}</th>
    <td><select name="border">
            <option value="_tb0">{无}</option>
            <option value="_tb1">{普通}</option>
            <option value="_tb4">{外围}</option>
            <option value="_tb2">{内部}</option>
            <option value="_tb5">{横向}</option>
            <option value="_tb6">{纵向}</option>
            <option value="_tb3">{上接式}</option>
        </select>
    </td>
</tr>

<!-- 表格列数 -->
<tr tpl-name="prop:cols">
    <th>{列数}</th>
    <td><input type="text" name="cols" value="" class="_nums" /></td>
</tr>

<!-- 表格行数 -->
<tr tpl-name="prop:rows">
    <th>{行数}</th>
    <td><input type="text" name="rows" value="" class="_nums" /></td>
</tr>

<!-- 包含表脚 -->
<tr tpl-name="prop:tfoot">
    <th>
        <!-- 占位 -->
    </th>
    <td><label><input type="checkbox" name="tfoot" checked />{包含表脚}</label></td>
</tr>

<!-- 包含表头 -->
<tr tpl-name="prop:thead">
    <th>
        <!-- 占位 -->
    </th>
    <td><label><input type="checkbox" name="thead" checked />{包含表头}</label></td>
</tr>

<!-- 表标题上下位置 -->
<tr tpl-name="prop:thalign">
    <th>{标题位置}</th>
    <td><label><input type="checkbox" name="thalign" />{在表格底部}</label></td>
</tr>

<!-- 表格摘要（屏幕阅读器用） -->
<tr tpl-name="prop:summary">
    <th>{表格摘要}</th>
    <td><textarea name="summary" rows="2"></textarea></td>
</tr>

<!-- 线条类型 -->
<tr tpl-name="prop:class">
    <th>{线条类型}</th>
    <td mvc-on="click('b')|tabs('_fixed'),val('@line','-val')" class="_lines">
        <div mvc-on="keydown|keys(13),void,fire('form@','submit')" tabindex="0">
            <b data-val="" title="{默认}">
                <hr></b>
            <b data-val="solid" title="{实线（solid）}">
                <hr class="solid"></b>
            <b data-val="dotted" title="{点线（dotted）}">
                <hr class="dotted"></b>
            <b data-val="double" title="{双线（double）}">
                <hr class="double"></b>
            <b data-val="dashed" title="{虚线（dashed）}">
                <hr class="dashed"></b>
            <b data-val="groove" title="{3D凹槽（groove）}">
                <hr class="groove"></b>
            <b data-val="ridge" title="{3D垄线（ridge）}">
                <hr class="ridge"></b>
            <b data-val="inset" title="{嵌入线（inset）}">
                <hr class="inset"></b>
            <b data-val="outset" title="{外溢线（outset）}">
                <hr class="outset"></b>
        </div>
        <input type="hidden" data-id="line" name="line" value="">
    </td>
</tr>

<!-- 链接URL -->
<tr tpl-name="prop:href">
    <th>{链接URL}</th>
    <td><input type="text" name="href" value="" placeholder="http://" /></td>
</tr>

<!-- 链接目标窗口 -->
<tr tpl-name="prop:target">
    <th>{目标窗口}</th>
    <td><select name="target">
            <option value="">------</option>
            <option value="_blank">_blank</option>
            <option value="_parent">_parent</option>
            <option value="_top">_top</option>
            <option value="_self">_self</option>
        </select>
    </td>
</tr>

<!-- 视频画面URL -->
<tr tpl-name="prop:poster">
    <th>{概览图}</th>
    <td><input type="text" name="poster" value="" title="{poster 属性值}" placeholder="http://" /></td>
</tr>

<!-- 引用来源 -->
<tr tpl-name="prop:cite">
    <th>{引用来源}</th>
    <td><input type="text" name="cite" value="" title="{cite 属性值}" placeholder="http://" /></td>
</tr>

<!-- 图片替代文本 -->
<tr tpl-name="prop:alt">
    <th>{替代文本}</th>
    <td><input type="text" name="alt" value="" title="{alt 属性值}" /></td>
</tr>

<!-- 日期&时间 -->
<tr tpl-name="prop:datetime">
    <th>{日期/时间戳}</th>
    <td><input type="text" name="datetime" value="" placeholder="YYYY-MM-DDThh:mm:ss" /></td>
</tr>

<!-- 循环播放 -->
<tr tpl-name="prop:loop">
    <th>
        <!-- 占位 -->
    </th>
    <td><label><input type="checkbox" name="loop" />{循环播放}</label></td>
</tr>

<!-- 自动播放 -->
<tr tpl-name="prop:autoplay">
    <th>
        <!-- 占位 -->
    </th>
    <td><label><input type="checkbox" name="autoplay" />{自动播放}</label></td>
</tr>

<!-- 详细展开 -->
<tr tpl-name="prop:open">
    <th>
        <!-- 占位 -->
    </th>
    <td><label><input type="checkbox" name="open" />{详细展开}</label></td>
</tr>

<!-- 代码块（code.block） -->
<tr tpl-name="prop:cblock">
    <th>
        <!-- 占位 -->
    </th>
    <td><label><input type="checkbox" name="cblock" />{代码块}</label></td>
</tr>

<!-- 制表符大小（code.block） -->
<tr tpl-name="prop:tabs">
    <th>
        <!-- 占位 -->
    </th>
    <td><label><input type="checkbox" name="tabx" />{制表符}</label>
        <input name="tabn" type="text" value="4" class="_char" />
    </td>
</tr>

<!-- 上传 -->
<tr tpl-name="prop:upload" class="_upload">
    <th>{上传}</th>
    <td><input type="file" name="upload" value="" mvc-on="change" mvc-by="Sys.upload('src', 'cname')" /></td>
</tr>

<!-- position -->
<tr tpl-name="prop:position">
    <th>{标题位置}</th>
    <td>
        <label><input type="radio" name="hpos" value="top" checked />{上部}</label>&nbsp;
        <label><input type="radio" name="hpos" value="bottom" />{下部}</label>
    </td>
</tr>

<!-- 媒体预览 -->
<tr tpl-name="prop:preview">
    <th>{预览}</th>
    <td class="_media">
        <span data-id="mediabox"
            mvc-on="click('img')|hold('form@'),imgsz('3@width','3@height'),pass,ratio('-rat'),fire(null,'rsize','-rat')">
            <!-- 预览框（img|video|audio） -->
        </span>
    </td>
</tr>

<!-- 数据来源 -->
<tr tpl-name="prop:src">
    <th>URL</th>
    <td><input type="text" name="src" value="" placeholder="http://" mvc-on="change|val('3@mediabox >*','','src'),
    attr('title','3@mediabox >img','{单击设置尺寸}'),
    prop('value','','3@width'),prop('value','','3@height')" /></td>
</tr>

<!-- 标题h3 -->
<tr tpl-name="prop:h3">
    <th>{标题}</th>
    <td><input type="text" name="h3" value=""></td>
</tr>

<!-- 标题h4 -->
<tr tpl-name="prop:h4">
    <th>{标题}</th>
    <td><input type="text" name="h4" value=""></td>
</tr>

<!-- 标题h5 -->
<tr tpl-name="prop:h5">
    <th>{标题}</th>
    <td><input type="text" name="h5" value=""></td>
</tr>

<!-- 标题h6 -->
<tr tpl-name="prop:h6">
    <th>{标题}</th>
    <td><input type="text" name="h6" value=""></td>
</tr>

<!-- 标题figcaption -->
<tr tpl-name="prop:figcaption">
    <th>{标题}</th>
    <td><input type="text" name="figcaption" value=""></td>
</tr>

<!-- 标题caption -->
<tr tpl-name="prop:caption">
    <th>{标题}</th>
    <td><input type="text" name="caption" value=""></td>
</tr>

<!-- 注音 -->
<tr tpl-name="prop:rt">
    <th>{注音}</th>
    <td><input type="text" name="rt" class="_phrase" value="" /></td>
</tr>
<tr tpl-name="prop:cl">
    <th>{左括号}</th>
    <td><input type="text" name="cl" class="_char" value="" />{（可选）}</td>
</tr>
<tr tpl-name="prop:cr">
    <th>{右括号}</th>
    <td><input type="text" name="cr" class="_char" value="" />{（可选）}</td>
</tr>

<!-- 小文本（time） -->
<tr tpl-name="prop:text">
    <th>{内容}</th>
    <td><textarea name="text" rows="3"></textarea></td>
</tr>

<!-- 字符表情（code.orz） -->
<tr tpl-name="prop:orz">
    <th>{内容}</th>
    <td><textarea name="text" rows="7" class="_orz" spellcheck="false"></textarea></td>
</tr>

<!-- 代码清单（code.list）
    初始赋值取<ol>的内容，故与普通code分开定义。 -->
<tr tpl-name="prop:clist">
    <th>{代码}</th>
    <td><textarea name="clist" rows="14" class="_code" spellcheck="false"
            mvc-on="keydown paste cut|tedit; mousedown|tedbrk" mvc-by="Sys.tedit"></textarea></td>
</tr>

<!-- 代码内容（code, code.block） -->
<tr tpl-name="prop:code">
    <th>{代码}</th>
    <td><textarea name="code" rows="14" class="_code" spellcheck="false"
            mvc-on="keydown paste cut|tedit; mousedown|tedbrk" mvc-by="Sys.tedit"></textarea>
    </td>
</tr>

<!-- 源码（object） -->
<tr tpl-name="prop:html">
    <th>{源码}</th>
    <td><textarea name="html" rows="12" class="_code" spellcheck="false"
            mvc-on="keydown paste cut|tedit; mousedown|tedbrk" mvc-by="Sys.tedit"></textarea>
    </td>
</tr>

<!-- 属性清单 -->
<tr tpl-name="prop:attrs">
    <th>{其它属性}</th>
    <td><textarea name="attrs" rows="6" title="{每行一项}" class="_code" spellcheck="false"
            placeholder='name="some-value"'></textarea></td>
</tr>
