<div tpl-name="slave:content" data-id="tabbar" class="Inputs"
    mvc-on="mousedown|mpsize(true,'@mpbody')">
    <div id="tab-inputs" mvc-on="click('b')|tabs;click|pinup('#box-inputs','#g-pinned')" class="_tabs">
        <b data-val="section" mvc-on="click|into('tab:section','2@inputs')">{章节}</b>
        <b data-val="paragraph" mvc-on="click|into('tab:paragraph','2@inputs')">{段落}</b>
        <b data-val="list" mvc-on="click|into('tab:list','2@inputs'),one('2@lisdata','list')">{列表}</b>
        <b data-val="table" mvc-on="click|into('tab:table','2@inputs')">{表格}</b>
        <b data-val="figure" mvc-on="click|into('tab:figure','2@inputs'),one('2@figdata','img')">{插画}</b>
        <b data-val="block" mvc-on="click|into('tab:block','2@inputs')">{区块}</b>
        <b data-val="codes" mvc-on="click|into('tab:codes','2@inputs')">{代码}</b>
    </div>
    <div id="box-inputs" data-id="mpbody" mvc-on="on|rise,stop;off|lose,stop" class="_body" data-pb="rise">
        <div id="app-imask" mvc-on="on|rise,stop;off|lose,stop" class="_masked" data-pb="lose"></div>
        <!-- 代码录入定制（textarea._code） -->
        <div data-id="inputs" class="_xbox" tpl-file="inputs.html"
            mvc-on="keydown('textarea._code') paste('textarea._code') cut('textarea._code')|tedit;
            mousedown('textarea._code')|tedbrk;
            edoff|tedoff('textarea'),stop"
            mvc-by="Sys.tedit"><!-- [...] --></div>
    </div>
    <input id="g-pinned" type="hidden" value="1" />
</div>

<div tpl-name="misc:layout" data-id="tabbar" class="Layout"
    mvc-on="mousedown|mpsize(true,'@mpbody')">
    <div id="tab-layout" mvc-on="click('b')|tabs;click|pinup('#box-layout','#g-pinned')" class="_tabs">
        <b mvc-on="click|into('tab:style','2@layout'),one('#btn-style >i:first'),fire('#btn-style >i._fixed','click')">{样式}</b>
        <b mvc-on="click|into('tab:color','2@layout'),one('#btn-color >i:first'),fire('#btn-color >i._fixed','click')">{颜色}</b>
        <b mvc-on="click|into('tab:stylib','2@layout'),one('2@stylib','load')">{样式表}</b>
        <b mvc-on="click|into('tab:acts','2@layout'),fchold('2@actse'),one('2@ranks >b:first'),fire('2@actse','click')">{动效}</b>
        <b mvc-on="click|into('tab:script','2@layout')">{脚本}</b>
    </div>
    <div id="box-layout" data-id="mpbody" mvc-on="on|rise,stop;off|lose,stop" class="_body" data-pb="rise">
        <div data-id="layout" class="_xbox" tpl-file="layout.html"><!-- [...] --></div>
    </div>
    <input id="g-pinned" type="hidden" value="1" />
</div>

<!--浏览版
    因取消选取在MVC流中执行（替换后），故此仍有clean；
-->
<article id="app-text" tpl-name="art:browse" class="___Text Browse" tabindex="0"
    mvc-on="edits|conto('art:text'),flag('browse',null);
    mouseover('*')|etip,stop;
    clean|clean">
</article>
