<!-- 样式版：框架 -->
<form class="Styles" tpl-name="slave:styles">
    <aside>
        <i id="b-erase"></i>
        <i id="b-brush"></i>
        <i id="b-fontview" class="_press"></i>
        <i id="b-fontsize"></i>
        <i id="b-align"></i>
        <i id="b-width"></i>
        <i id="b-margin"></i>
        <i id="b-colors"></i>
    </aside>
    <div tpl-source="styles:fontview"></div>
</form>


<!-- 字形 -->
<div class="_fontview" tpl-name="styles:fontview">
    <div class="_list">
        <label>
            <input type="checkbox" name="bold" />
            <span style="font-weight: bold;">粗体</span>
            <small>（font-weight: bold）</small>
        </label>
        <label>
            <input type="checkbox" name="italic" />
            <span style="font-style: italic;">斜体</span>
            <small>（font-style: italic）</small>
        </label>
        <label>
            <input type="radio" name="decoration" />
            <span style="text-decoration: underline;">下划线</span>
            <small>（text-decoration: underline）</small>
        </label>
        <label>
            <input type="radio" name="decoration" />
            <span style="text-decoration: line-through;">贯穿线</span>
            <small>（text-decoration: line-through）</small>
        </label>
        <label>
            <input type="radio" name="decoration" />
            <span style="text-decoration: overline;">上划线</span>
            <small>（text-decoration: overline）</small>
        </label>
    </div>
    <div class="_erase" style="writing-mode: vertical-rl;">全部清除</div>
</div>


<!-- 字号 -->
<div class="_fontsize" tpl-name="styles:fontsize">
    <select name="sizename" class="_list">
        <option value="xx-small">xx-small</option>
        <option value="x-small">x-small</option>
        <option value="small">small</option>
        <option value="smaller">smaller</option>
        <option value="medium">medium</option>
        <option value="large">large</option>
        <option value="larger">larger</option>
        <option value="x-large">x-large</option>
        <option value="xx-large">xx-large</option>
    </select>
    <div class="_assign">
        <div class="_erase">清除</div>
        <div>
            <label>字号</label><input type="text" name="fontsize" />
            <select name="unit">
                <option value="">---</option>
                <option value="pt">pt</option>
                <option value="px">px</option>
                <option value="em">em</option>
            </select>
        </div>
        <hr tpl-node="slave:submit" />
    </div>
</div>


<!-- 对齐 -->
<div class="_align" tpl-name="styles:align">
    <div class="_h">
        <label>text-align</label>
        <select name="align">
            <option value="" title="默认" selected>------</option>
            <option value="center" title="居中对齐">center</option>
            <option value="right" title="右对齐">right</option>
            <option value="justify" title="两端对齐">justify</option>
            <option value="justify-all" title="两端强对齐">justify-all</option>
            <option value="left" title="左对齐">left</option>
            <option value="start" title="起点对齐">start</option>
            <option value="end" title="末端对齐">end</option>
        </select>
    </div>
    <div class="_v">
        <label>vertical-align</label>
        <select name="valign">
            <option value="" selected>------</option>
            <option value="baseline">baseline</option>
            <option value="sub">sub</option>
            <option value="super">super</option>
            <option value="top">top</option>
            <option value="text-top">text-top</option>
            <option value="middle">middle</option>
            <option value="bottom">bottom</option>
            <option value="text-bottom">text-bottom</option>
        </select>
    </div>
</div>


<!-- 宽/高度 -->
<div class="_width" tpl-name="styles:width">

</div>




<div tpl-name="its:width" class="_args _width">
    <ul class="_value">
        <li mvc-on="click('input')|val('@wtype'),fcse(['width','unit','widthv'], 'wtype')" class="_types">
            <label title="{宽度（width）}">
                <input type="radio" name="_wtype" value="width" checked /><i id="l-width"></i>
            </label>
            <label title="{最大宽度（max-width）}">
                <input type="radio" name="_wtype" value="max-width" /><i id="l-maxwidth"></i>
            </label>
            <label title="{最小宽度（min-width）}">
                <input type="radio" name="_wtype" value="min-width" /><i id="l-minwidth"></i>
            </label>
            <input data-id="wtype" type="hidden" name="wtype" value="width" />
        </li>
        <li>
            <label>{数量}</label>
            <input type="text" class="_word" name="width" maxlength="20" title="{可含单位}"
                mvc-on="input|join('1@widthv', ['width','unit'])" />
            <select name="unit" mvc-on="change|join('1@widthv', ['width','unit'])">
                <option value="">----</option>
                <option value="px">px</option>
                <option value="pt">%</option>
                <option value="em">em</option>
            </select>
            <input type="hidden" name="widthv" data-id="widthv" value="">
        </li>
        <li class="_apply">
            <input name="apply" type="submit" class="_button" value="{应用}"
                mvc-on="click" mvc-by="Ed.cstyle('wtype', 'widthv', true)" />
        </li>
    </ul>
</div>

<div tpl-name="its:margin" class="_args _margin">
    <ul class="_value">
        <li class="_clean">
            <b mvc-on="click" title="{清除全部边距}"
                mvc-by="Ed.delstyle('margin','margin-top','margin-right','margin-bottom','margin-left')">--- none ---</b>
        </li>
        <li mvc-on="click('input')|val('@mpos'),fcse(['margin','unit','marginv'], 'mpos')" class="_types">
            <label title="{四边距（margin）}">
                <input type="radio" name="marginto" value="margin" checked /><i id="l-margin"></i>
            </label>
            <label title="{上边距（margin-top）}">
                <input type="radio" name="marginto" value="margin-top" /><i id="l-margint"></i>
            </label>
            <label title="{右边距（margin-right）}">
                <input type="radio" name="marginto" value="margin-right" /><i id="l-marginr"></i>
            </label>
            <label title="{下边距（margin-bottom）}">
                <input type="radio" name="marginto" value="margin-bottom" /><i id="l-marginb"></i>
            </label>
            <label title="{左边距（margin-left）}">
                <input type="radio" name="marginto" value="margin-left" /><i id="l-marginl"></i>
            </label>
            <input data-id="mpos" type="hidden" name="mpos" value="margin" />
        </li>
        <li>
            <label>{数量}</label>
            <input type="text" class="_phrase" name="margin" maxlength="40" title="{可含单位}"
                mvc-on="input|join('1@marginv', ['margin','unit'])" />
            <select name="unit" mvc-on="change|join('1@marginv', ['margin','unit'])">
                <option value="">----</option>
                <option value="px">px</option>
                <option value="%">%</option>
                <option value="em">em</option>
            </select>
            <input type="hidden" name="marginv" data-id="marginv" value="">
        </li>
        <li class="_apply">
            <input name="apply" type="submit" class="_button" value="{应用}"
                mvc-on="click" mvc-by="Ed.cstyle('mpos', 'marginv', true)" />
        </li>
    </ul>
</div>

<div tpl-name="its:float" class="_args _float">
    <ul class="_list" mvc-on="click('input')" mvc-by="Ed.cstyle('float')">
        <li class="_clean">
            <b mvc-on="click" mvc-by="Ed.delstyle('float')" title="{清除浮动样式}">--- none ---</b>
        </li>
        <li>
            <label title="float:none">
                <input type="radio" name="cfloat" value="none" />
                <i id="l-float0"></i>&nbsp;{无浮动}
            </label>
        </li>
        <li>
            <label title="float:left">
                <input type="radio" name="cfloat" value="left" />
                <i id="l-floatl"></i>&nbsp;{左浮动}
            </label>
        </li>
        <li>
            <label title="float:right">
                <input type="radio" name="cfloat" value="right" />
                <i id="l-floatr"></i>&nbsp;{右浮动}
            </label>
        </li>
    </ul>
</div>

<div tpl-name="its:edsty" class="_edsty">
    <div class="_css">
        <textarea name="edcss" class="_code"
            mvc-on="keyup focus|rows;
            keyup|xkey('ctrl'),keys(13),fire('2@apply','click')"></textarea>
    </div>
    <ul mvc-on="click('input:radio')|val('1@edtype')" class="_opts">
        <li>
            <label title='style="..."'>
                <input type="radio" name="edsty" value="attr" checked />{内联样式}
            </label>
        </li>
        <li data-pb="disabled">
            <label title="&lt;style scoped&gt;">
                <input type="radio" name="edsty" value="elem" disabled />{局部样式元素}
            </label>
        </li>
        <li class="_apply">
            <input name="apply" data-id="apply" type="submit" class="_button" value="{应用}"
                mvc-on="click" mvc-by="Ed.edstyle('styles','edcss','edtype')" />
        </li>
    </ul>
    <!-- input:radio 准确委托，避免 value="应用" -->
    <input data-id="edtype" type="hidden" name="edtype" value="attr" />
</div>
