<!-- 样式版：框架 -->
<form class="Styles" onsubmit="return false" tpl-name="slave:styles">
    <div class="_icons">
        <b><i id="b-erase"></i></b>
        <b><i id="b-brush"></i></b>
        <b><i id="b-fontview" class="_press"></i></b>
        <b><i id="b-fontsize"></i></b>
        <b><i id="b-align"></i></b>
        <b><i id="b-width"></i></b>
        <b><i id="b-margin"></i></b>
        <b><i id="b-colors"></i></b>
    </div>
    <div tpl-source="styles:fontview"></div>
</form>


<!-- 字形 -->
<div class="_body _fontview" tpl-name="styles:fontview">
    <div class="_list">
        <label>
            <input type="checkbox" name="bold" />
            <span style="font-weight: bold;">粗体</span><small>（font-weight: bold）</small>
        </label>
        <label>
            <input type="checkbox" name="italic" />
            <span style="font-style: italic;">斜体</span><small>（font-style: italic）</small>
        </label>
        <label>
            <input type="radio" name="decoration" />
            <span style="text-decoration: underline;">下划线</span><small>（text-decoration: underline）</small>
        </label>
        <label>
            <input type="radio" name="decoration" />
            <span style="text-decoration: line-through;">贯穿线</span><small>（text-decoration: line-through）</small>
        </label>
        <label>
            <input type="radio" name="decoration" />
            <span style="text-decoration: overline;">上划线</span><small>（text-decoration: overline）</small>
        </label>
    </div>
    <div class="_erase"><b>全部清除</b></div>
</div>


<!-- 字号 -->
<div class="_body _fontsize" tpl-name="styles:fontsize">
    <select name="sizename" class="_list">
        <option value="xx-small">xx-small</option>
        <option value="x-small">x-small</option>
        <option value="small">small</option>
        <option value="smaller">smaller</option>
        <option value="medium">medium</option>
        <option value="large">large</option>
        <option value="larger">larger</option>
        <option value="x-large">x-large</option>
        <option value="xx-large">xx-large</option>
    </select>
    <aside class="_assign">
        <div class="_erase"><b>清除</b></div>
        <div>
            <label>字号</label><input type="text" name="fontsize" />
            <select name="unit">
                <option value="">---</option>
                <option value="pt">pt</option>
                <option value="px">px</option>
                <option value="em">em</option>
            </select>
        </div>
        <hr tpl-node="common:submit" />
    </aside>
</div>


<!-- 对齐 -->
<div class="_body _align" tpl-name="styles:align">
    <div class="_h">
        <label>text-align</label>
        <select name="align" class="_list">
            <option value="" title="默认" selected>------</option>
            <option value="center" title="居中对齐">center</option>
            <option value="right" title="右对齐">right</option>
            <option value="justify" title="两端对齐">justify</option>
            <option value="justify-all" title="两端强对齐">justify-all</option>
            <option value="left" title="左对齐">left</option>
            <option value="start" title="起点对齐">start</option>
            <option value="end" title="末端对齐">end</option>
        </select>
    </div>
    <div class="_v">
        <label>vertical-align</label>
        <select name="valign" class="_list">
            <option value="" selected>------</option>
            <option value="baseline">baseline</option>
            <option value="sub">sub</option>
            <option value="super">super</option>
            <option value="top">top</option>
            <option value="text-top">text-top</option>
            <option value="middle">middle</option>
            <option value="bottom">bottom</option>
            <option value="text-bottom">text-bottom</option>
        </select>
    </div>
</div>


<!-- 宽/高度 -->
<div class="_body _width" tpl-name="styles:width">
    <select name="width" class="_list">
        <option value="width" title="宽度">width</option>
        <option value="max-width" title="最大宽度">max-width</option>
        <option value="min-width" title="最小宽度">min-width</option>
        <option value="height" title="高度">height</option>
        <option value="max-height" title="最大高度"">max-height</option>
        <option value="min-height" title="最小高度">min-height</option>
    </select>
    <aside class="_assign">
        <div class="_erase"><b>全部清除</b></div>
        <div>
            <label>赋值</label><input type="text" name="width" />
            <select name="unit">
                <option value="">---</option>
                <option value="pt">%</option>
                <option value="px">px</option>
                <option value="pt">pt</option>
                <option value="em">em</option>
            </select>
        </div>
        <hr tpl-node="common:submit" />
    </aside>
</div>


<!-- 边距 -->
<div class="_body _margin" tpl-name="styles:margin">
    <div class="_main">
        <div class="_where"
            on="click('input')|evo('current'), val, tpl"
            to="1/select|replace">
            <label><input type="radio" name="margin" value="item:margin" checked /><i id="l-margin"></i></label>
            <label><input type="radio" name="margin" value="item:padding" /><i id="l-padding"></i></label>
        </div>
        <!-- 外边距 -->
        <select name="margin" tpl-name="item:margin">
            <option title="边距">margin</option>
            <option title="顶边距">margin-top</option>
            <option title="右边距">margin-right</option>
            <option title="底边距">margin-bottom</option>
            <option title="左边距">margin-left</option>
            <option title="块边距">margin-block</option>
            <option title="块前边距">margin-block-start</option>
            <option title="块尾边距">margin-block-end</option>
            <option title="行边距">margin-inline</option>
            <option title="行前边距">margin-inline-start</option>
            <option title="行尾边距">margin-inline-end</option>
        </select>
    </div>
    <aside class="_assign">
        <div class="_erase"><b>全部清除</b></div>
        <div>
            <label>赋值</label><input type="text" name="width" />
            <select name="unit">
                <option value="">---</option>
                <option value="px">px</option>
                <option value="em">em</option>
                <option value="pt">pt</option>
                <option value="pt">%</option>
            </select>
        </div>
        <hr tpl-node="common:submit" />
    </aside>
</div>

<!-- 附：内填充 -->
<select name="margin" tpl-name="item:padding">
    <option title="填充">padding</option>
    <option title="顶填充">padding-top</option>
    <option title="右填充">padding-right</option>
    <option title="底填充">padding-bottom</option>
    <option title="左填充">padding-left</option>
    <option title="块填充">padding-block</option>
    <option title="块前填充">padding-block-start</option>
    <option title="块尾填充">padding-block-end</option>
    <option title="行填充">padding-inline</option>
    <option title="行前填充">padding-inline-start</option>
    <option title="行尾填充">padding-inline-end</option>
</select>


<!-- 颜色 -->
<div class="_body _color" tpl-name="styles:color">
    <div class="_cbox">
        <span class="_g16">
            <b style="background-color:#000" title="#000"></b>
            <b style="background-color:#111" title="#111"></b>
            <b style="background-color:#222" title="#222"></b>
            <b style="background-color:#333" title="#333"></b>
            <b style="background-color:#444" title="#444"></b>
            <b style="background-color:#555" title="#555"></b>
            <b style="background-color:#666" title="#666"></b>
            <b style="background-color:#777" title="#777"></b>
            <b style="background-color:#888" title="#888"></b>
            <b style="background-color:#999" title="#999"></b>
            <b style="background-color:#aaa" title="#aaa"></b>
            <b style="background-color:#bbb" title="#bbb"></b>
            <b style="background-color:#ccc" title="#ccc"></b>
            <b style="background-color:#ddd" title="#ddd"></b>
            <b style="background-color:#eee" title="#eee"></b>
            <b style="background-color:#fff" title="#fff"></b>
        </span>
        <div class="_c216">
            <!-- <b>... -->
            000,003,006,009,00c,00f,030,033,036,039,03c,03f,060,063,066,069,06c,06f,090,093,096,099,09c,09f,0c0,0c3,0c6,0c9,0cc,0cf,0f0,0f3,0f6,0f9,0fc,0ff,
            300,303,306,309,30c,30f,330,333,336,339,33c,33f,360,363,366,369,36c,36f,390,393,396,399,39c,39f,3c0,3c3,3c6,3c9,3cc,3cf,3f0,3f3,3f6,3f9,3fc,3ff,
            600,603,606,609,60c,60f,630,633,636,639,63c,63f,660,663,666,669,66c,66f,690,693,696,699,69c,69f,6c0,6c3,6c6,6c9,6cc,6cf,6f0,6f3,6f6,6f9,6fc,6ff,
            900,903,906,909,90c,90f,930,933,936,939,93c,93f,960,963,966,969,96c,96f,990,993,996,999,99c,99f,9c0,9c3,9c6,9c9,9cc,9cf,9f0,9f3,9f6,9f9,9fc,9ff,
            c00,c03,c06,c09,c0c,c0f,c30,c33,c36,c39,c3c,c3f,c60,c63,c66,c69,c6c,c6f,c90,c93,c96,c99,c9c,c9f,cc0,cc3,cc6,cc9,ccc,ccf,cf0,cf3,cf6,cf9,cfc,cff,
            f00,f03,f06,f09,f0c,f0f,f30,f33,f36,f39,f3c,f3f,f60,f63,f66,f69,f6c,f6f,f90,f93,f96,f99,f9c,f9f,fc0,fc3,fc6,fc9,fcc,fcf,ff0,ff3,ff6,ff9,ffc,fff
        </div>
    </div>
    <div class="_erase"><b>清除颜色</b></div>
    <aside>
        <div class="_assign">
            <div class="_aim">
                <label title="文本色">
                    <input type="radio" name="colorto" value="color" checked /><i id="l-tcolor"></i>
                </label>
                <label title="背景色">
                    <input type="radio" name="colorto" value="background-color" /><i id="l-bgcolor"></i>
                </label>
                <label title="边框色">
                    <input type="radio" name="colorto" value="border-color" /><i id="l-bcolor"></i>
                </label>
            </div>
            <hr>
            <div>
                <label>Alpha</label>
                <input type="text" name="alpha" placeholder="0-100" class="_chars" />
            </div>
        </div>
        <div class="_custom">
            <span id="color-info" class="_tips">rgb(72, 207, 117)</span>
            <label id="color-value" class="_pick"><input type="color" /></label>
        </div>
    </aside>
    <hr tpl-node="common:submit">
</div>
