<!-- 确定：样式|特性|源码 -->
<div class="_submit" tpl-name="common:submit">
    <button type="submit">确定</button>
</div>


<!--字形：
    操作后自动聚焦到内容区。 -->
<div class="_body _Fontview" tpl-name="style:fontview"
    on="follow|ev('detail');
        follow|ev('detail')"
    to="(/#_alone)|trigger('state');
        /._list|trigger('state')">
    <!-- 单选部分设置 -->
    <div class="_list"
        on="click(input)|('text-decoration') evo(2) val pack(2);
            state|ev('detail') v.styVal('text-decoration')"
        to="form/|trigger('style');
            /[type=radio]|val">
        <!-- 两个单独操作 -->
        <label id="_alone"
            on="click(input)|stop ('font-weight') evo(2) val pack(2);
                state|ev('detail') v.cbstate('font-weight', 'bold')"
            to="form/|trigger('style');
                /input|property('checked indeterminate')">
            <input type="checkbox" name="bold" value="bold" />
            <span style="font-weight: bold;">粗体</span><small>（font-weight: bold）</small>
        </label>
        <label id="_alone"
            on="click(input)|stop ('font-style') evo(2) val pack(2);
                state|ev('detail') v.cbstate('font-style', 'italic')"
            to="form/|trigger('style');
                /input|property('checked indeterminate')">
            <input type="checkbox" name="italic" value="italic" />
            <span style="font-style: italic;">斜体</span><small>（font-style: italic）</small>
        </label>
        <label>
            <input type="radio" name="decoration" value="underline" />
            <span style="text-decoration: underline;">下划线</span><small>（text-decoration: underline）</small>
        </label>
        <label>
            <input type="radio" name="decoration" value="line-through" />
            <span style="text-decoration: line-through;">贯穿线</span><small>（text-decoration: line-through）</small>
        </label>
        <label>
            <input type="radio" name="decoration" value="overline" />
            <span style="text-decoration: overline;">上划线</span><small>（text-decoration: overline）</small>
        </label>
        <label>
            <input type="radio" name="decoration" value="" checked />
            <span>未定义</span><small>（<s>text-decoration:</s>）</small>
        </label>
    </div>
    <label class="_erase"
        on="click|('font-weight font-style text-decoration')"
        to="form/|trigger('erase')|reset">
        <b>全部清除</b>
    </label>
</div>


<!--字号：
    modify 提交后重置<select>（可能有选取）。-->
<div class="_body _Fontsize" tpl-name="style:fontsize"
    on="modify|('font-size') $$('/#_fsize') v.unitVal pack(2);
        follow|ev('detail') v.styVal('font-size');
        follow|ev('detail') v.styVal('font-size') ('') pack(2)"
    to="form/|trigger('style')|fire('/#_fsname', 'reset');
        /#_fsname|val;
        (/#_fsize)|val">
    <!-- 友好：焦点回归，0延迟无闪烁。 -->
    <select id="_fsname" name="sizename" size="5" class="_list"
        on="change|('font-size') evo(3) val pack(2);
            reset|(null)"
        to="form/|trigger('style')|fire(3, 'focus', 0) fire('1/#_fsbox', 'clear');
            |val">
        <option>xx-small</option>
        <option>x-small</option>
        <option>small</option>
        <option>smaller</option>
        <option>medium</option>
        <option>large</option>
        <option>larger</option>
        <option>x-large</option>
        <option>xx-large</option>
    </select>
    <aside>
        <div class="_assign">
            <div class="_erase"
                on="click|('font-size')"
                to="form/|trigger('erase')|reset"><b>清除</b></div>
            <hr>
            <div id="_fsbox"
                on="clear|('', '')"
                to="(/#_fsize)|val">
                <label title="可含单位">字号</label>
                <input id="_fsize" type="text" name="fontsize" placeholder="12pt" class="_chars" />
                <select id="_fsize" name="unit">
                    <option value=""> --- </option>
                    <option>pt</option>
                    <option>px</option>
                    <option>em</option>
                </select>
            </div>
        </div>
        <hr tpl-node="common:submit" />
    </aside>
</div>


<!--对齐：
    焦点回归友好。-->
<div class="_body _Align" tpl-name="style:align"
    on="change|evo(1) dup pop(2) attr('-n') val pack(2);
        follow|ev('detail') v.styVal(['text-align', 'vertical-align'])"
    to="form/|trigger('style')|fire(1, 'focus', 0);
        (/select)|val">
    <div class="_h">
        <label title="text-align">行内</label>
        <select name="align" size="5" data-n="text-align" class="_list">
            <option value="" title="无（默认）"> ------ </option>
            <option title="居中对齐">center</option>
            <option title="右对齐">right</option>
            <option title="两端对齐">justify</option>
            <option title="两端强对齐">justify-all</option>
            <option title="左对齐">left</option>
            <option title="起点对齐">start</option>
            <option title="末端对齐">end</option>
        </select>
    </div>
    <div class="_v">
        <label title="vertical-align">纵向</label>
        <select name="valign" size="5" data-n="vertical-align" class="_list">
            <option value="" title="无（默认）"> ------ </option>
            <option title="基线对齐">baseline</option>
            <option title="下标基线对齐">sub</option>
            <option title="上标基线对齐">super</option>
            <option title="行顶部对齐">top</option>
            <option title="文本顶部对齐">text-top</option>
            <option title="中部与基线半高对齐">middle</option>
            <option title="行底部对齐">bottom</option>
            <option title="文本底部对齐">text-bottom</option>
        </select>
    </div>
</div>


<!--宽/高度：
    follow 更新选取集内同时设置了的样式名。 -->
<div class="_body _Width" tpl-name="style:width"
    on="modify|$('/select') val $$('/#_valu2') v.unitVal pack(2);
        follow|ev('detail') $('/[name=ns]') val v.styName(_1)"
    to="form/|trigger('style');
        /select|val|change">
    <!--state2val: 取值反馈：
        change 取目标样式在元素集内的值（相同时有效），多选时多个值也需相同，否则视为空。
        clear  目标样式的求值为null时激发，清空输入框。
        setval 目标有值时设置输入框，多选时判断是否相同。 -->
    <select name="whname" size="5" multiple class="_list" obt-src="obts/state2val.json">
        <option title="宽度">width</option>
        <option title="最大宽度">max-width</option>
        <option title="最小宽度">min-width</option>
        <option title="高度">height</option>
        <option title="最大高度">max-height</option>
        <option title="最小高度">min-height</option>
    </select>
    <!-- 状态跟随：取值备用 -->
    <input type="hidden" name="ns" value="width max-width min-width height max-height min-height">
    <aside>
        <div class="_assign">
            <div class="_erase"
                on="click|$('._body/[name=ns]') val"
                to="form/|trigger('erase')|reset"><b>全部清除</b></div>
            <hr>
            <div><label title="可含单位">赋值</label>
                <input id="_valu2" type="text" name="width" placeholder="100%" class="_chars" />
                <select id="_valu2" name="unit">
                    <option value=""> --- </option>
                    <option>%</option>
                    <option>px</option>
                    <option>pt</option>
                    <option>em</option>
                </select>
            </div>
        </div>
        <hr tpl-node="common:submit" />
    </aside>
</div>


<!-- 边距 -->
<div class="_body _Margin" tpl-name="style:margin"
    on="modify|$('/select') val $$('/#_valu2') v.unitVal pack(2);
        follow|ev('detail') $('/select') attr('-slr') $(_1) val v.styKey(_1)"
    to="form/|trigger('style');
        /select|val|change">
    <div>
        <div class="_minibar"
            on="click(input)|evo(2) val node"
            to="1/select|replace">
            <label title="外边距">
                <input type="radio" name="margin" value="item:margin" checked /><i id="l-margin"></i>
            </label>
            <label title="内填充">
                <input type="radio" name="margin" value="item:padding" /><i id="l-padding"></i>
            </label>
        </div>
        <!--边距：外边距
            state2val: 取值反馈。-->
        <select name="margin" size="5" multiple class="_list" data-slr='[name=ms]' obt-src="obts/state2val.json" tpl-name="item:margin"
            on="^obted|$$('/option') text join(' ')"
            to="1/[name=ms]|val">
            <option title="边距">margin</option>
            <option title="顶边距">margin-top</option>
            <option title="右边距">margin-right</option>
            <option title="底边距">margin-bottom</option>
            <option title="左边距">margin-left</option>
            <option title="块边距">margin-block</option>
            <option title="块前边距">margin-block-start</option>
            <option title="块尾边距">margin-block-end</option>
            <option title="行边距">margin-inline</option>
            <option title="行前边距">margin-inline-start</option>
            <option title="行尾边距">margin-inline-end</option>
        </select>
        <!--边距：内填充
            state2val: 取值反馈。-->
        <select name="margin" size="5" multiple class="_list" data-slr="[name=ps]" obt-src="obts/state2val.json" tpl-name="item:padding"
            on="^tpled|$$('/option') text join(' ')"
            to="1/[name=ps]|val|evo(1) remove">
            <option title="填充">padding</option>
            <option title="顶填充">padding-top</option>
            <option title="右填充">padding-right</option>
            <option title="底填充">padding-bottom</option>
            <option title="左填充">padding-left</option>
            <option title="块填充">padding-block</option>
            <option title="块前填充">padding-block-start</option>
            <option title="块尾填充">padding-block-end</option>
            <option title="行填充">padding-inline</option>
            <option title="行前填充">padding-inline-start</option>
            <option title="行尾填充">padding-inline-end</option>
        </select>
        <!-- 状态跟随：取值备用 -->
        <input type="hidden" name="ms" />
        <input type="hidden" name="ps" />
    </div>
    <aside>
        <div class="_assign">
            <!--需要提取<select>特性定义构造选择器。
                注：不可对<form>重置，否则padding选单也会受影响。-->
            <div class="_erase"
                on="click|$('._body/select') attr('-slr') str('._body/') $(_1) val"
                to="form/|trigger('erase')|fire('1/#_mpbox', 'clear')"><b>全部清除</b></div>
            <hr>
            <div id="_mpbox"
                on="clear|('', '')"
                to="(/#_valu2)|val">
                <label title="可含单位">赋值</label>
                <input id="_valu2" type="text" name="width" placeholder="10px" class="_words" />
                <select id="_valu2" name="unit">
                    <option value=""> --- </option>
                    <option>px</option>
                    <option>em</option>
                    <option>pt</option>
                    <option>%</option>
                </select>
            </div>
        </div>
        <hr tpl-node="common:submit" />
    </aside>
</div>


<!--颜色：
    不设计样式值跟随，因为视觉直观也无切换逻辑。跟随会改变用户已挑选颜色。
    友好：修改后内容区获取焦点。-->
<div class="_body _Color" tpl-name="style:color"
    on="modify|$('/[name=cto]') val $('/#_rgba') text pack(2)"
    to="form/|trigger('style')">
    <div class="_cbox"
        on="mouseenter(b)|evo(2) attr('title') $('1/#_alpha') val int rgba(_1);
            mouseleave|$('1/#_rgba') text;
            click(b)|evo(2) css('background-color') rgb16"
        to="#color-show|%backgroundColor;
            #color-show|%backgroundColor;
            1/#_color|val|change">
        <span class="_g16">
            <b style="background-color:#000" title="#000"></b>
            <b style="background-color:#111" title="#111"></b>
            <b style="background-color:#222" title="#222"></b>
            <b style="background-color:#333" title="#333"></b>
            <b style="background-color:#444" title="#444"></b>
            <b style="background-color:#555" title="#555"></b>
            <b style="background-color:#666" title="#666"></b>
            <b style="background-color:#777" title="#777"></b>
            <b style="background-color:#888" title="#888"></b>
            <b style="background-color:#999" title="#999"></b>
            <b style="background-color:#aaa" title="#aaa"></b>
            <b style="background-color:#bbb" title="#bbb"></b>
            <b style="background-color:#ccc" title="#ccc"></b>
            <b style="background-color:#ddd" title="#ddd"></b>
            <b style="background-color:#eee" title="#eee"></b>
            <b style="background-color:#fff" title="#fff"></b>
        </span>
        <div class="_c216"
            on="^obted|evo(3) dup text trims('') split(',') str('#') dup str('background-color:') mix(2) elem('b', 216) pop"
            to="-|attribute('title style') fillWith">
            000,003,006,009,00c,00f,030,033,036,039,03c,03f,060,063,066,069,06c,06f,090,093,096,099,09c,09f,0c0,0c3,0c6,0c9,0cc,0cf,0f0,0f3,0f6,0f9,0fc,0ff,
            300,303,306,309,30c,30f,330,333,336,339,33c,33f,360,363,366,369,36c,36f,390,393,396,399,39c,39f,3c0,3c3,3c6,3c9,3cc,3cf,3f0,3f3,3f6,3f9,3fc,3ff,
            600,603,606,609,60c,60f,630,633,636,639,63c,63f,660,663,666,669,66c,66f,690,693,696,699,69c,69f,6c0,6c3,6c6,6c9,6cc,6cf,6f0,6f3,6f6,6f9,6fc,6ff,
            900,903,906,909,90c,90f,930,933,936,939,93c,93f,960,963,966,969,96c,96f,990,993,996,999,99c,99f,9c0,9c3,9c6,9c9,9cc,9cf,9f0,9f3,9f6,9f9,9fc,9ff,
            c00,c03,c06,c09,c0c,c0f,c30,c33,c36,c39,c3c,c3f,c60,c63,c66,c69,c6c,c6f,c90,c93,c96,c99,c9c,c9f,cc0,cc3,cc6,cc9,ccc,ccf,cf0,cf3,cf6,cf9,cfc,cff,
            f00,f03,f06,f09,f0c,f0f,f30,f33,f36,f39,f3c,f3f,f60,f63,f66,f69,f6c,f6f,f90,f93,f96,f99,f9c,f9f,fc0,fc3,fc6,fc9,fcc,fcf,ff0,ff3,ff6,ff9,ffc,fff
        </div>
    </div>
    <!-- 根据单选条目各别清除。 -->
    <div class="_erase" title="+Ctrl 全部颜色"
        on="click|scam('ctrl') $('1/[name=cto]') val $if('color background-color border-color', _1)"
        to="form/|trigger('erase')"><b>清除颜色</b></div>
    <aside>
        <div class="_assign">
            <div class="_aim">
                <label title="文本色（color）">
                    <input type="radio" name="cto" value="color" checked /><i id="l-tcolor"></i>
                </label>
                <label title="背景色（background-color）">
                    <input type="radio" name="cto" value="background-color" /><i id="l-bgcolor"></i>
                </label>
                <label title="边框色（border-color）">
                    <input type="radio" name="cto" value="border-color" /><i id="l-bcolor"></i>
                </label>
            </div>
            <hr>
            <div>
                <label>Alpha</label>
                <input id="_alpha" type="number" name="alpha" placeholder="0~255" min="0" max="255" class="_nums"
                    on="input|evo(3) val int gt(255) $if('error', 'renew');
                        renew|('_err');
                        error|('_err')"
                    to="|trigger(_1);
                        |removeClass|change('aside/#_color');
                        |addClass" />
            </div>
        </div>
        <div class="_custom">
            <span id="_rgba" class="_tips">#000000</span>
            <!-- 白底：透明色衬底 -->
            <span class="_bgcbox" style="background-color: #fff;">
                <!--色板：
                    避免<input:color>浏览器默认样式。 -->
                <label id="color-show" class="_bgc" style="background-color: #000;"
                    on="change|stop evo(1) val $('aside/#_alpha') val int rgba(_1) dup caseUpper;
                        bgcolor|ev('detail')"
                    to="2/#_rgba|text|pop fire(3, 'bgcolor', 0);
                        |%backgroundColor">
                    <input id="_color" name="color" type="color" />
                </label>
            </div>
            </span>
    </aside>
    <hr tpl-node="common:submit" />
</div>
