<div tpl-name="tools:inputs" class="_inputs">
	<div class="_icons">
		<i id="b-pages" mvc-on="click|work" mvc-by="Mk.pageline" title="{插入节线}"></i>
		<i id="b-lines" mvc-on="click" mvc-by="Mk.lines" title="{添加线条}"></i>
		<i id="b-title" mvc-on="click" mvc-by="Ed.attr('title')" title="{提示信息}"></i>
		<i id="b-setid" mvc-on="click" mvc-by="Ed.attr('id')" title="{定义锚点}"></i>
	</div>
</div>

<div tpl-name="tools:layout" class="_layout">
	<div class="_icons">
	    <i id="b-totext" mvc-on="click|work" mvc-by="Ed.totext" title="{纯文本化}"></i>
	    <i id="b-untag" mvc-on="click|work" mvc-by="Ed.untag" title="{去除标签}"></i>
	    <span>
		    <i id="b-convert" title="{转换菜单}"
		    	mvc-on="click|unfold,clss('_fixed'),menu('#menu-convert'),stop"></i>
		    <!-- 3种状态：1. 单选行块；2.单选内联；3. 混合多选 -->
		    <menu id="menu-convert" data-pb="hide"
		    	mvc-on="click off|clsrm('_fixed','#b-convert'),hide,stop; click('li')|work">
		    	<li mvc-on="click" mvc-by="Ed.mergeto">
		    		<label title="{最后选取的元素内}"><b>Alt, Ctrl</b><i id="l-merge"></i>{合并到}</label>
		    	</li>
	            <li class="_blk"><hr></li>
	            <li mvc-on="click" mvc-by="Ed.conv2ps">
	            	<label title="&lt;p&gt;">{段落}</label>
	            </li>
	            <li mvc-on="click" mvc-by="Ed.conv2list('ol')">
	            	<label title="&lt;ol&gt;"><i id="l-ol"></i>{有序列表}</label>
	            </li>
	            <li mvc-on="click" mvc-by="Ed.conv2list('ul')">
	            	<label title="&lt;ul&gt;"><i id="l-ul"></i>{无序列表}</label>
	            </li>
	            <li mvc-on="click" mvc-by="Ed.conv2block('blockquote')">
	            	<label title="&lt;blockquote&gt;">{引用块}</label>
	            </li>
	            <li mvc-on="click" mvc-by="Ed.conv2block('aside')">
	            	<label title="&lt;aside&gt;">{批注}</label>
	            </li>
	            <li class="_blk"><hr></li>
		    	<li mvc-on="click" mvc-by="Ed.pglayer">
		    		<label title="&lt;div.layer&gt;">{封装层}</label>
		    	</li>
		    </menu>
	    </span>
	</div>
</div>
