/*! $id icons.css 2020.01.02. $
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 *
 *  图标定位表。
 *
 *  @name Dark-less
 *  @author 风林子 zhliner@gmail.com
 *
 *****************************************************************************/

 /* 按钮 */
i[id|=b] {
    width: 22px;
    height: 22px;
    background-image: url('images/icons.png');
    /* 600x900 */
    background-size: 300px 450px;
}

/* 标签 */
i[id|=l] {
    width: 16px;
    height: 16px;
    background-image: url('images/icons.png');
    background-size: 300px 450px;
}


/* 工具栏 */
#b-outline  { background-position: 0 0; }
#b-slave    { background-position: 0 -100px; }
#b-plugins  { background-position: 0 -200px; }
#b-maximize { background-position: 0 -300px; }
#b-totext   { background-position: 0 -400px; }
#b-untag    { background-position: 0 -500px; }
#b-undo     { background-position: 0 -600px; }
#b-redo     { background-position: 0 -700px; }


/* 样式 */
#b-erase    { background-position: -100px 0; }
#b-brush    { background-position: -100px -100px; }
#b-fontview { background-position: -100px -200px; }
#b-fontsize { background-position: -100px -300px; }
#b-align    { background-position: -100px -400px; }
#b-width    { background-position: -100px -500px; }
#b-margin   { background-position: -100px -600px; }
#b-colors   { background-position: -100px -700px; }


/* 小图标 */
#l-siblings { background-position: -300px 0; }
#l-children { background-position: -300px -100px; }
#l-margin   { background-position: -300px -200px; }
#l-padding  { background-position: -300px -300px; }
#l-tcolor   { background-position: -300px -400px; }
#l-bgcolor  { background-position: -300px -500px; }
#l-bcolor   { background-position: -300px -600px; }
#l-history  { background-position: -300px -700px; }
#l-close    { background-position: -400px 0; }


/* 上下文菜单前置图标 */
b[id|=l] {
    padding-left: 20px;
}
b[id|=l]::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: -20px;
    margin-bottom: -3px;
    background-image: url('images/icons.png');
    background-size: 300px 450px;
}
#l-minied::before   { background-position: -400px -400px; }
#l-copy::before     { background-position: -400px -500px; }
#l-move::before     { background-position: -400px -600px; }
#l-delete::before   { background-position: -400px -700px; }
