/*! $id: style.css 2020.01.02 Articlejs.UI $
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 *
 *  主题：光明之夜
 *
 *  z-index：
 *  < 100   普通覆盖排序
 *
 *  @name: Dark-less
 *  @author: 风林子 zhliner@gmail.com
 *
 *****************************************************************************/

@import 'icons.css';


/* 侧面板 */
body > aside {
    border: 1px #5c869c solid;
    border-radius: 5px;
}

/* 侧面板宽度调整线 */
body > hr {
    width: 3px;
    border: 1px #fff solid;
    border-radius: 3px;
    /* background-color: #5c869c; */
    cursor: ew-resize;
}

/* 大纲面板 */
aside#outline {
    width: 200px;
}
/* 编辑器容器 */
div#editor {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border: 1px #5c869c solid;
    border-radius: 12px 12px 5px 5px;
    position: relative;
}
/* 帮助面板 */
aside#help {
    width: 260px;
}


/* [ 操作可视性 ]
 ****************************************************************************/

/* 鼠标指向 */
.___Content ._point {
    background-color: rgba(235,235,235,0.3);
    background-image: url('images/current.png') !important;
}

/* 已选取 */
.___Content ._selected {
    color: #333;
    background-color: #ffffb8;
    background-image: url('images/selected.png') !important;
}

/* 选取焦点 */
.___Content ._focus {
    border: 1px #f63 dashed !important;
    border-radius: 4px !important;
}
/* 覆盖表格默认1px边框 */
.___Content td._focus,
.___Content th._focus,
.___Content tr._focus,
.___Content tbody._focus,
.___Content thead._focus,
.___Content tfoot._focus,
.___Content table._focus {
    border-width: 2px !important;
}

/* 微编辑下 */
.___Content *[contenteditable] {
    cursor: text;
    background-color: #e9ab7d !important;
    border: 1px #0f514f solid !important;
}

/* 空元素视觉提示 */
.___Content main *:empty::before {
    content: '=== EMPTY ===';
    color: darkgray;
    font-style: italic;
}


/* [ 全局默认 ]
 ****************************************************************************/

/* 兼容 */
.___Panel * {
    line-height: 150%;
    margin: 0;
    padding: 0;
}

.___Panel form {
    font-size: 14px;
}
.___Panel b {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    cursor: default;
}
.___Panel b > i {
    margin: auto;
}
.___Panel select {
    flex: 1 1 auto;
    padding: 3px;
    border-radius: 3px 1px 1px 3px;
    outline: none;
}

.___Panel option {
    padding: 3px 6px;
    margin: 1px 0;
    border-radius: 3px;
}
.___Panel option:hover {
    background-color: #9ce2d0;
}
.___Panel {
    font-size: 12pt;
}

.___Panel input[type=text],
.___Panel input[type=url] {
    padding: 1px 4px;
    border: 1px #93c8e2 solid;
    border-radius: 2px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}
.___Panel input::placeholder {
    color: #ccc;
}
.___Panel input[type=radio],
.___Panel input[type=checkbox] {
    margin-right: 4px;
}
/* 代码字体 */
.___Panel code,
.___Panel ._code,
.___Panel input._code {
    font-size: 12px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    white-space: pre-wrap;
}

/* 注：
 * 系统已实现背景跟随。
 * 覆盖：background-position-y: xxx !important;
 */
.___Panel textarea {
    border: 1px #355c64 solid;
    padding: 2px 2px 2px 8px;
    flex: 1 1 auto;
    border-radius: 3px 1px 1px 3px;
    font-size: 12pt;
    background: #32575f url('images/txtline.png') repeat;
    line-height: 30px;
    color: #eee;
    overflow-y: scroll;
    resize: none;
    box-sizing: border-box;
    outline: none;
}
.___Panel textarea::placeholder {
    color: #aaa;
    font-style: italic;
}

.___Panel a {
    color: #06f;
    text-decoration: none;
}
.___Panel a:hover {
    color: #06c;
}
.___Panel button {
    padding: 1px 20px 2px;
    border: 1px #5798a5 solid;
    border-radius: 2px;
    font-size: 14px;
    outline: none;
}
.___Panel input {
    outline: none;
}

/* 侧栏灰度线 */
.___Panel aside select,
.___Panel aside input[type=text] {
    border: 1px #bbb solid;
}


/* [ 共享 ]
 ****************************************************************************/

.___Panel ._list {
    border: 1px #93c8e2 solid;
    border-radius: 5px 1px 1px 5px;
    background-color: #fff;
    overflow-y: auto;
}
.___Panel select._list {
    padding: 6px 1px 6px 6px;
}

/* 属性表 */
.___Panel ul._prop {
    display: grid;
    grid-template-columns: 80px auto;
    gap: 8px;
    margin: 14px;
}
.___Panel ul._prop li {
    display: contents;
    white-space: nowrap;
}
.___Panel ul._prop li > b {
    font-weight: bold;
    justify-self: flex-end;
}
.___Panel ul._prop textarea {
    width: 100%;
}
.___Panel ul._prop span._preview {
    height: 120px;
    padding: 5px;
    border: 1px #888 solid;
    background-color: #999;
}
.___Panel div._prop {
    display: flex;
    margin: 12px;
    height: 100%;
}
/* 单行文本 */
.___Panel ._prop ._text {
    height: 2em;
    align-self: flex-start;
}
.___Panel ._prop ._phrase {
    width: 75%;
    min-width: 120px;
}

.___Panel input._char {
    width: 35px;
    text-align: center;
}
.___Panel input._nums {
    width: 60px;
    text-align: center;
}
.___Panel input._chars {
    width: 80px;
}
.___Panel input._scale {
    padding-top: 4px;
    border: 1px #60acd2 solid;
    background: #ffe url('images/heading.png') 4px 0 repeat-x;
    font-weight: bold;
}
.___Panel textarea._code {
    background: #444 url('images/line20.png') repeat;
    line-height: 20px;
    border: 1px #666 solid;
}

.___Panel ._submit > label {
    display: block;
}
.___Panel ._submit > button {
    background-color: #1b839c;
    color: #fff;
    white-space: nowrap;
}
.___Panel ._submit button:hover {
    background-color: #1a697c;
}

/* 图标按钮 */
.___Panel ._icons > b {
    width: 32px;
    height: 32px;
    border: 1px transparent solid;
    border-radius: 20%;
}
.___Panel ._icons > b:hover {
    border-color: #dbdbdb;
    background-color: #ededed;
}
.___Panel ._icons > b._press {
    border-color: #cfcfcf;
    background-color: #f3f4f5;
}

/* 字符表情 */
.___Panel code._orz {
    font-family: monospace;
    white-space: pre;
    line-height: 100%;
    font-size: 10pt;
}


/* [ 顶层 ]
 ****************************************************************************/
#help {
    padding: 2px;
}
#help > ._walk {
    display: flex;
    margin: 0 4px 2px;
}
#help > ._walk > b {
    margin: 1px;
    padding: 2px 7px;
    border: 1px transparent solid;
    border-radius: 3px;
    font-size: 1.1em;
}
#help > ._walk > b._top {
    font-weight: bold;
}
#help > ._walk > b:hover {
    border-color: #f1f1f1;
    background-color: #f9f9f9;
}
#help > ._walk > ._about {
    padding: 0;
    width: 24px;
    margin-left: auto;
    border-radius: 18px 0;
    color: #090;
}
#help > ._walk > ._about:hover {
    border-color: transparent;
    box-shadow: 0.5px 0.6px 1px #999;
}


/* [ 工具栏 ]
 ****************************************************************************/

.Tools {
    display: flex;
    height: 44px;
    background-color: #f0efef;
    box-shadow: 0 4px 5px -2px grey;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: inherit;
    padding-left: 10px;

    /* fix: 阴影覆盖含背景内容元素 */
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    z-index: 99;
}
.Tools > div {
    display: flex;
    border-radius: inherit;
}
.Tools b {
    margin: auto 4px;
}

/* 冻结效果 */
.Tools b[data-pb=disabled]:hover {
    border-color: transparent;
    background-color: transparent;
}

.Tools hr {
    height: 18px;
    border: 1px #d3d3d3 solid;
    border-right-color: #f7f7f7;
    margin: auto 5px;
}
.Tools ._usual {
    display: contents;
}
.Tools > ._end {
    margin-left: auto;
}
.Tools > ._end > b:last-child {
    height: 30px;
    margin-top: 0;
    margin-right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: inherit;
    border-bottom-right-radius: 0;
    padding: 0px 6px 2px 8px;
}
.Tools > ._end > b:last-child:hover {
    border-color: #e4e4e4;
    background-color: #e8e8e8;
}


/* [ 内容区 ]
 ****************************************************************************/
.___Content {
    flex: 1 1 auto;
    /* 工具栏高度 */
    margin-top: 44px;
    /* 底部路径依靠 */
    position: relative;
    /* 内部滚动容器限高 */
    overflow: hidden;
}
.___Content main.content {
    /* 视觉友好 */
    padding: 0 1em;
    cursor: default;
    /* 初始可点击 */
    min-height: 100%;
}

.___Content > ._path {
    position: absolute;
    /* 内容之上 */
    z-index: 10;
}
/* 底部路径指示 */
.___Content ._path {
    display: flex;
    flex-wrap: wrap-reverse;
    font-size: 10pt;
    width: calc(100% - 17px);
    bottom: 0;
    cursor: default;
}
.___Content ._path b {
    font-family: monospace, Consolas, 'Courier New';
    min-width: 20px;
    padding: 5px 10px;
    background-color: #0e4962;
    text-align: center;
    font-weight: normal;
    border-top: 1px #0e4962 solid;
    border-right: 1px #405e6b solid;
    color: #ddd;
}
.___Content ._path b:hover {
    color: #fff;
    background-color: #066375;
}
.___Content ._path b:last-child {
    font-weight: bold;
    color: #fff;
    background-color: #45a5b8;
}

.___Content > ._scroll {
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll !important;
    resize: none;
    position: relative;
    /* outline: none; */
}


/* 菜单
 *************************************/

.___Content menu {
    z-index: 10;
}
/* 单元创建（双栏） */
.___Content menu._cells {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    padding: 1px;
    background-color: #e6e6e6;
    font-size: 11pt;
}
.___Content menu._cells > li {
    padding: 3px 10px 3px 26px;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
/* 个别修订 */
.___Content menu._cells code {
    vertical-align: middle;
}

/* 上下文菜单 */
.___Content menu._cmenu {
    padding: 5px 1px;
    text-shadow: 1px 1px 1px #f9f9f9;
    background-color: #eeeeed;
}
.___Content menu._cmenu > li {
    padding: 3px 12px 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* [ 主面板 ]
 ****************************************************************************/

.Slave {
    flex: 0 0 auto;
    min-height: 240px;
    background-color: #f0efef;
    display: flex;
    flex-direction: column;
    /* 文本框最大化根 */
    position: relative;
}

.Slave ._tabs {
    display: flex;
    height: 36px;
    border-top: 1px #5c869c solid;
    background-color: #01839d;
    font-size: 12pt;
    color: #fff;
    padding: 4px 0 0 8px;
    box-sizing: border-box;
    align-items: flex-end;
}
.Slave ._tabs > b {
    min-width: 60px;
    border-radius: 4px 4px 0 0;
    margin: 0 2px;
    padding: 2px 6px 4px;
}
.Slave ._tabs > b:hover,
.Slave ._tabs > b._press {
    background-color: #f0efef;
    color: #000;
    font-weight: bold;
}
.Slave ._tabs > b._close {
    min-width: 16px;
    align-self: center;
    padding: 8px 11px 9px 13px;
    margin-left: auto;
    border-radius: 0;
    margin-top: -5px;
    margin-right: 0;
}
.Slave ._tabs > b._close:hover {
    background-color: #127891;
}


/* 共享部分
 *************************************/
.Slave > form {
    flex: 1 1 0;
    display: flex;
    padding: 10px 12px;
    /* 便于内部滚动 */
    overflow-y: hidden;
}
.Slave > form > div {
    display: flex;
}
.Slave ._roll {
    flex: 1 1 140px;
    min-width: 120px;
    max-width: 160px;
    margin-right: 14px;
    flex-direction: column;
}
.Slave ._where {
    height: 32px;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 8px 2px 6px;
}
.Slave ._where > label {
    padding: 3px 6px;
    border-radius: 3px;
}
.Slave ._where > label:hover {
    background-color: #e3e3e3;
}
.Slave ._body > div,
.Slave ._body > aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Slave ._body header {
    margin-bottom: 7px;
}
.Slave ._body > aside {
    flex: 1 1 auto;
    min-width: 130px;
    max-width: 160px;
    margin-left: 16px;
}
.Slave ._option > * {
    display: block;
    margin-bottom: 5px;
}
.Slave ._submit {
    /* 底端对齐 */
    margin-top: auto;
}
.Slave ._submit > button {
    margin-top: 4px;
}
.Slave hr {
    border: 1px #d5d5d5 solid;
    border-bottom-color: #f8f8f8;
    margin: 8px 0 9px;
}

/* 录入框填充 */
.Slave textarea[data-pb=fulled] {
    border-radius: 0;
    border-width: 1px 0 0;
    margin-top: 0 !important;
}


/* [ 内容面板 ]
 ****************************************************************************/
.Input > ._body,
.Attr > ._body,
.Script > ._body {
    flex: 8 8 600px;
}
.Input ._Empty {
    color: #ccc;
    align-items: center;
}
.Input ._Empty > p {
    width: 100%;
    text-align: center;
}
.Input header._affix {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 14px;
    align-items: center;
}
.Input header._affix>aside {
    display: flex;
    align-items: center;
    min-width: 140px;
}
.Input select {
    min-width: 80px;
}
.Input ._main {
    flex: 5 5 420px;
}

/* 表格 */
.Input ._Table ._affix > label {
    min-width: 175px;
}

/* 片区 */
.Input ._Section textarea,
.Input ._Figure textarea {
    /*fix: firefox */
    flex: 1 1 50px;
}
.Input ._Section textarea:last-child,
.Input ._Figure textarea:last-child {
    margin-top: 4px;
}
.Input textarea._inert {
    max-height: 2.4em;
    /* 小字体有用 */
    min-height: 32px;
}

.Input ._Blockquote ._cite {
    margin-bottom: 3px;
}
.Input ._Blockquote ._cite input {
    border-color: #8fbac2;
    border-top-right-radius: 25px;
}

/* 分割（hr） */
.Input ._Hr ._border {
    padding: 5px 15px;
    flex: 1 1 auto;
}
.Input ._Hr ._border > b {
    margin: 4px auto;
    border-radius: 16px;
}
.Input ._Hr ._border > b:hover {
    background-color: #ddd;
}
.Input ._Hr ._border hr {
    height: 0;
    width: 92%;
    border-width: 10px;
}

/* 白板 */
.Input ._Blank div[role=blank] {
    flex: 1 1 auto;
    color: #ccc;
}

/* 文本字符 */
.Input div._Inline {
    min-width: 365px;
}
.Input ._Inline ._list > span {
    padding-bottom: 5px;
}
.Input ._Inline span > b {
    float: left;
    width: 35px;
    height: 35px;
    margin: 6px 0 0 6px;
    background-color: #f3f3f3;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px #ccc;
}
.Input ._Inline span > b:hover {
    background-color: #ccc;
    font-weight: bold;
}
.Input ._Inline ._zoomin {
    width: 115px;
    height: 115px;
    border: 1px #ccc solid;
    background-color: #fff !important;
    border-radius: 6px;
    font-size: 80px;
}
.Input ._Inline ._tips {
    color: #999;
    font-size: 10pt;
    white-space: nowrap;
}
.Input ._Inline ._tips i {
    font-style: normal;
}


/* [ 样式 ]
 ****************************************************************************/

.Style ._icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 15px;
    margin: 3px 16px 3px 12px;
    max-height: 234px;
}
.Style select._list {
    min-width: 150px;
}
.Style ._body > aside {
    max-width: max-content;
}

/* 清除按钮 */
.Style ._erase {
    text-align: center;
    padding: 4px;
    border: 1px #ddd solid;
    border-radius: 6px;
    cursor: pointer;
}
.Style ._erase > b {
    width: 100%;
    height: 100%;
    border: 1px #ccc dotted;
    background-color: #ffc;
    color: #ddd;
    box-sizing: border-box;
    padding: 1px;
}
.Style ._erase > b:hover {
    border: 1px #ecc solid;
    color: #999;
}
/* 垂直清除 */
.Style ._Fontview ._erase,
.Style ._Color ._erase {
    writing-mode: vertical-rl;
    width: 28px;
    margin-left: 10px;
}
.Style ._assign > div {
    white-space: nowrap;
}

/* 字形 */
.Style ._Fontview ._list {
    padding: 10px;
    justify-content: start;
}
.Style div._list > label {
    padding: 5px;
    border-radius: 3px;
}
.Style div._list > label:hover {
    background-color: #9ce2d0;
}

.Style div._list small {
    color: #999;
}

/* 对齐 */
.Style ._Align ._v {
    margin-left: 14px;
}
.Style ._Align label {
    color: #82bec9;
    font-style: italic;
    padding-left: 6px;
}

/* 边距 */
.Style ._Margin ._where {
    height: 34px;
    background-color: #d1dadc;
    border-radius: 5px 5px 0 0;
    margin-bottom: -3px;
}
.Style ._Margin ._list {
    min-width: 174px;
}

/* 颜色 */
.Style ._cbox {
    width: 240px;
}
.Style ._g16 {
    height: 16px;
    margin-bottom: 2px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}
.Style ._c216 {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(36, 1fr);
}
.Style ._cbox b {
    border: 1px transparent solid;
}
.Style ._cbox b:hover {
    border-color: #999;
}
.Style ._Color ._submit {
    margin-left: 12px;
    /* 避免flex拉伸 */
    display: block;
}
.Style ._Color > aside {
    min-width: 132px;
    padding: 5px 10px;
    border: 1px #ccc dotted;
    border-radius: 5px;
}
.Style ._Color ._assign {
    margin-bottom: 20px;
}
.Style ._Color ._aim {
    display: flex;
    justify-content: space-around;
}
.Style ._Color ._custom {
    flex: 1 1 auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    max-height: 140px;
}
.Style ._Color ._tips {
    color: #888;
    font-size: 9pt;
    text-align: center;
}
.Style ._Color ._bgcbox {
    flex: 1 1 auto;
    border-radius: 30px;
}
.Style ._Color ._bgc {
    display: block;
    height: 100%;
    border-radius: inherit;
}
.Style ._Color ._bgc > input {
    opacity: 0;
    width: 100%;
    height: 100%;
}


/* [ 特性 ]
 ****************************************************************************/
.Attr ._name {
    display: grid;
    grid-template-columns: auto 30px;
    margin-bottom: 5px;
    margin-top: 1px;
}
.Attr ._name ._add {
    border: 1px #93c8e2 solid;
    background-color: #35bf58;
    border-radius: 0 3px 3px 0;
    color: #fff;
    margin-left: -3px;
    font-weight: bold;
}
.Attr ._name ._add:hover {
    background-color: #0fd440;
}
.Attr > ._body > ._main {
    flex: 5 5 400px;
}

/* obt提示头 */
.Attr header._tips {
    display: grid;
    gap: 1px;
    color: #ddd;
    margin-bottom: 3px;
}
.Attr header._tips > label {
    display: grid;
    grid-template-columns: 32px auto;
    background-color: #135d6c;
    border-top-right-radius: 22px;
}
.Attr header._tips b {
    font-weight: bold;
    background-color: #444;
    font-size: 12px;
}
.Attr header._tips input {
    border: none;
    background-color: transparent;
    color: #bbb;
    padding-right: 15px;
}


/* [ 源码 ]
 ****************************************************************************/

.Source ._main {
    flex: 5 5 500px;
}
.Source > aside {
    flex: 1 1 160px;
    min-width: 140px;
    max-width: 240px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}
.Source ._option {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.Source ._option > button {
    width: max-content;
    background-color: #d1f1ff;
    border-color: #93eab7;
    border-radius: 0 16px;
}
.Source ._option > button:hover {
    background-color: #bffcd1;
}
.Source ._info {
    flex: 1 1 auto;
    font-size: 12px;
    border: 1px #e6e6e6 solid;
    background-color: #f6f6f6;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 3px 0 10px;
    min-height: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}
.Source ._info._ok {
    color: #093;
}
.Source ._info._err {
    color: #a00;
    cursor: pointer;
}


/* [ 脚本 ]
 ****************************************************************************/
.Script ._env {
    min-width: 100px;
    flex-direction: column;
    padding: 5px;
}
.Script ._env > label {
    margin-bottom: 4px;
}
.Script ._env > label:last-child {
    color: #b30;
}
.Script > ._body > ._main {
    flex: 5 5 450px;
}
.Script ._main ._prefix {
    width: 70%;
}
.Script ._cmds > b {
    width: 28px;
    height: 28px;
    border-radius: 14px;
}
.Script ._cmds > b:hover {
    background-color: #e6e6e6;
}


/* [ 状态栏 ]
 ****************************************************************************/
.Status {
    flex: 0 0 auto;
    display: flex;
    height: 32px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top: 1px #7c9eb0 solid;
    background-color: #eee;
    font-size: 12px;
}
.Status > div {
    border: 1px #c9c9c9 solid;
    margin: 3px 0 3px 4px;
    background-color: #efefdf;
    line-height: 22px;
    white-space: nowrap;
    border-radius: 2px;
}

.Status > ._tips {
    min-width: 120px;
    max-width: 200px;
    flex: 1 1 auto;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}

.Status > ._cmdx,
.Status > ._help {
    width: 24px;
    flex: 0 0 auto;
    position: relative;
    cursor: pointer;
    font-size: 16px;
}
.Status > div > code {
    width: 100%;
    height: 100%;
    color: #0b6;
    /* 居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.Status > ._cmdx > code {
    font-weight: bold;
}
.Status > ._cmdx > ._code {
    width: 100%;
    position: absolute;
    bottom: 27px;
    display: flex;
    flex-direction: column-reverse;
    border: 1px #80a1b3 solid;
    border-top-right-radius: 14px;
    background-color: #f1f1e4;
    padding-top: 14px;
    border-bottom-color: transparent;
    left: -1px;
}
.Status > ._cmdx b {
    height: 23px;
    border-top: 1px #999 dotted;
}
.Status > ._cmdx b:hover {
    color: #fff;
    background-color: #1b839c;
}

.Status > ._cmdline {
    flex: 8 8 600px;
}
.Status > ._cmdline > input {
    height: 100%;
    border: none;
    background-color: #ffffe5;
    float: left;
}

.Status > ._err {
    flex: 1 1 auto;
    border-color: transparent;
    overflow: hidden;
}
.Status > ._err > * {
    color: red;
}

.Status > ._help {
    border-color: transparent;
    margin: 3px;
    border-radius: 50%;
}
.Status > ._help._press {
    border-color: #ddd;
    background-color: #f4f5f6;
}
.Status > ._help > code {
    color: #e53;
}


/* [ 模态页/框 ]
 ****************************************************************************/
.Modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 100;
    border-radius: inherit;
    border: 4px #777 solid;
    display: flex;
    box-sizing: border-box;
    outline: none;
}
.Modal form {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    margin: auto;
    box-shadow: 1px 3px 9px 1px #555;
}
.Modal header {
    display: grid;
    grid-template-columns: auto 42px;
    height: 38px;
    background-color: #2b5663;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin-bottom: 10px;
}
.Modal header > h5 {
    color: #eee;
    font-size: 11pt;
    margin: auto 16px;
}
.Modal header > ._close {
    color: #999;
    font-size: 14pt;
}
.Modal header > ._close:hover {
    color: #bbb;
}
.Modal form > ._list {
    margin: 10px 30px;
}
.Modal form > p {
    padding: 8px 35px 5px;
}
.Modal form > div:last-child {
    margin-top: auto;
    padding: 20px 7% 35px;
    text-align: right;
}
.Modal ._submit > button {
    margin: auto 10px;
}
.Modal form._page {
    flex-grow: 1;
    margin: 30px;
}
.Modal form._prop {
    width: 600px;
    height: 450px;
}
.Modal p._note {
    color: #b60;
}
.Modal form._small input {
    min-width: 350px;
}
.Modal form._message p {
    min-width: 200px;
    max-width: 480px;
    max-height: 140px;
    overflow-y: auto;
}

/* 脚本历史/结果 */
.Modal ._search ._icon {
    background: transparent url('images/search.png') no-repeat;
    width: 48px;
    height: 22px;
    border: 1px transparent solid;
    background-size: 34px;
    cursor: pointer;
}
/* 脚本运行结果 */
.Modal ul li._data {
    overflow-y: auto;
    resize: none;
    height: calc(100% - 147px);
    border-top: 3px #ddd double;
    padding-top: 6px;
}
.Modal ul ._error {
    color: #000;
}
.Modal ul ._warn {
    color: #d00;
}



/* 菜单
 * 注：后置样式覆盖。
 ****************************************************************************/
menu {
    position: absolute;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #444;
    font-size: 14px;
    margin: 0;
    padding: 0;
    cursor: default;
    color: #000;
}

menu > hr {
    margin: 5px;
    border: 1px #c3c3c3 solid;
    border-bottom-color: #f3f3f3;
}
menu > li {
    list-style: none;
    border-radius: inherit;
}
menu > li b {
    font-weight: normal;
    min-width: 60px;
}
menu li > kbd {
    min-width: 25px;
    color: #aaa;
    text-align: right;
}

menu li:not([role=submenu]):hover {
    color: #fff;
    background-color: #444;
    text-shadow: none;
}
menu li:not([role=submenu]):hover > kbd {
    color: #ddd;
}
menu li:not([role=submenu]):hover a {
    color: #70b9fc;
}

/* 子菜单 */
menu li[role=submenu] {
    position: relative;
}
menu > li[role=submenu] > menu {
    top: -1px;
    left: 144px;
}
menu li[role=submenu] h5 {
    display: contents;
    font-size: 1em;
    grid-column: 1 / 3;
}
menu li > h5::after {
    /* ⋙﹥▶» */
    content: '»';
    text-align: right;
    color: #bbb;
    font-family: monospace;
}
menu li[role=submenu]:hover {
    background-color: #ddd;
    text-shadow: none;
}
