/*! $id: style.css 2020.01.02 Articlejs.UI $
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 *
 *  主题：光明之夜
 *
 *  z-index：
 *  < 100   普通覆盖排序
 *
 *  @name: Dark-less
 *  @author: 风林子 zhliner@gmail.com
 *
 *****************************************************************************/

@import 'icons.css';


body {
    background-color: #fff;
}

/* 侧面板 */
body > aside {
    border: 1px #5c869c solid;
}

/* 侧面板宽度调整线 */
body > hr {
    margin: 0.4em 0;
    width: 4px;
    border: 1px #fff solid;
    border-width: 0 1px;
    border-radius: 3px;
    background-color: #5c869c;
    cursor: ew-resize;
}

/* 大纲面板 */
aside#outline {
    width: 200px;
}

/* 编辑器容器 */
div#editor {
    display: flex;
    flex-direction: column;
    border: 1px #5c869c solid;
    border-radius: 12px 12px 4px 4px;
    position: relative;
}

/* 帮助面板 */
aside#help {
    width: 260px;
}

/* 兼容重置 */
.___Panel * {
    line-height: 150%;
    margin: 0;
    padding: 0;
}


/* [ 操作可视性 ]
 ****************************************************************************/

/* 鼠标指向 */
.___Content ._msCur {
    background-color: rgba(235,235,235,0.3);
    background-image: url('images/current.png') !important;
}
/* 已选取 */
.___Content ._okSel {
    background-image: url('images/selected.png') !important;
    background-color: #ffffd7;
    color: #333;
}
/* 微编辑 */
.___Content ._inMed {
    background-color: #e9ab7d !important;
    border: 1px #0f514f solid !important;
    cursor: text;
}


/* [ 全局默认 ]
 ****************************************************************************/
.___Panel form {
    font-size: 14px;
}
.___Panel b {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}
.___Panel b > i {
    margin: auto;
}
.___Panel select {
    flex: 1 1 auto;
    border: 1px solid #bbb;
    padding: 3px;
    min-width: 40px;
    border-radius: 3px 1px 1px 3px;
    outline: none;
}
.___Panel select._list {
    padding: 6px 1px 6px 6px;
}
.___Panel option {
    padding: 3px 6px;
    margin: 1px 0;
    border-radius: 3px;
}
.___Panel option:hover {
    background-color: #9ce2d0;
}
.___Panel {
    font-size: 12pt;
}
/* 代码字体 */
.___Panel code,
.___Panel ._code,
.___Panel ._codes {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    white-space: pre-wrap;
}
/* 字符表情 */
.___Panel ._orz {
    font-family: monospace;
    white-space: pre;
    line-height: 100%;
    font-size: 10pt;
}

.___Panel input[type=text] {
    padding: 1px 4px;
    outline: none;
    border: 1px #93c8e2 solid;
    border-radius: 2px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}
.___Panel input::placeholder {
    color: #ccc;
}
.___Panel input._scale {
    padding-top: 4px;
    border: 1px #60acd2 solid;
    background: #ffe url('images/heading.png') 4px 0 repeat-x;
    font-weight: bold;
}
.___Panel input[type=radio],
.___Panel input[type=checkbox] {
    margin-right: 4px;
    vertical-align: middle;
}

.___Panel textarea {
    border: 1px #355c64 solid;
    outline: none;
    padding: 2px 2px 2px 8px;
    flex: 1 1 auto;
    border-radius: 3px 1px 1px 3px;
    font-size: 12pt;
    background: #32575f url('images/txtline.png') repeat local;
    line-height: 30px;
    color: #eee;
    overflow-y: scroll;
    resize: none;
    box-sizing: border-box;
}
.___Panel td > textarea {
    width: 100%;
    height: 100%;
}
.___Panel textarea::placeholder {
    color: #aaa;
    font-style: italic;
}
.___Panel textarea._codes {
    font-size: 12px;
    background: #444 url('images/line20.png') repeat local;
    line-height: 20px;
    border: 1px #666 solid;
}

.___Panel a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px #999 dotted;
}
.___Panel a:hover {
    color: #369;
}
.___Panel ._submit > * {
    display: block;
}
.___Panel button {
    padding: 1px 20px 2px;
    border: 1px #30b9cf solid;
    border-radius: 2px;
    background-color: #9cd9e2;
    font-size: 14px;
    outline: none;
}
.___Panel button:hover {
    border-color: #38a2b7;
    background-color: #9fe0ea;
}

.___Panel input._char {
    width: 30px;
    text-align: center;
}
.___Panel input._chars {
    width: 55px;
    text-align: center;
}
.___Panel input._length {
    width: 80px;
}


/* [ 合并 ]
 ****************************************************************************/

.Tools b,
.Styles > ._icons > b {
    width: 32px;
    height: 32px;
    border: 1px transparent solid;
    border-radius: 4px;
}
.Tools b:hover,
.Styles > ._icons > b:hover {
    border-color: #dbdbdb;
    background-color: #ededed;
}
.Tools b._press,
.Styles > ._icons > b._press {
    border-color: #ccc;
    background-color: #fff;
}


/* [ 工具栏 ]
 ****************************************************************************/

.Tools {
    display: flex;
    height: 44px;
    background-color: #f0efef;
    box-shadow: 0 4px 5px -2px grey;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: inherit;
    padding-left: 10px;

    /* fix: 阴影覆盖含背景内容元素 */
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    z-index: 99;
}
.Tools > div {
    display: flex;
    border-radius: inherit;
}
.Tools b {
    margin: auto 4px;
}

.Tools hr {
    height: 18px;
    border: 1px #d3d3d3 solid;
    border-right-color: #f7f7f7;
}
.Tools ._active > hr {
    margin: auto 6px;
}
.Tools > ._start {
    margin-right: 3px;
}

.Tools > ._end {
    margin-left: auto;
}
.Tools > ._end > b:last-child {
    height: 30px;
    margin-top: 0;
    margin-right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: inherit;
    border-bottom-right-radius: 0;
    padding: 0px 6px 2px 8px;
}
.Tools > ._end > b:last-child:hover {
    border-color: #e4e4e4;
    background-color: #e8e8e8;
}


/* [ 内容区 ]
 ****************************************************************************/
.___Content {
    flex: 1 1 auto;
    /* 工具栏高度 */
    margin-top: 44px;
    /* 底部路径依靠 */
    position: relative;
    /* 内部滚动容器限高 */
    overflow: hidden;
}

.___Content b#cross-h,
.___Content b#cross-v,
.___Content menu,
.___Content > ._path {
    position: absolute;
    /* 内容之上 */
    z-index: 10;
}

/* 临时态指示线 */
.___Content b#cross-h {
    left: 0;
    height: 0;
    width: calc(100% - 17px);
    border-top: 1px #999 dashed;
    /* 动态 */
    top: 40px;
}
.___Content b#cross-v {
    top: 0;
    width: 0;
    height: 100%;
    border-left: 1px #999 dashed;
    /* 动态 */
    left: 40px;
}

/* 底部路径指示 */
.___Content ._path {
    display: flex;
    flex-wrap: wrap-reverse;
    font-size: 10pt;
    width: calc(100% - 17px);
    bottom: 0;
}
.___Content ._path b {
    font-family: monospace, Consolas, 'Courier New';
    min-width: 20px;
    padding: 5px 10px;
    background-color: #444;
    text-align: center;
    cursor: default;
    font-weight: normal;
    border-top: 1px #666 solid;
    border-right: 1px #666 solid;
    color: #ddd;
}
.___Content ._path b:hover {
    color: #fff;
    background-color: #888;
}
.___Content ._path b:last-child {
    font-weight: bold;
    color: #fff;
    background-color: #888;
}

.___Content > ._scroll {
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll !important;
    resize: none;
    position: relative;
}

/* 临时态视觉提示 */
.___Content main._temps {
    opacity: 0.7;
}


/* 单元创建菜单 */
.___Content menu._cells {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    padding: 1px;
    background-color: #e6e6e6;

    /* 测试 */
    top: 20px;
    left: 20px;
}
.___Content menu._cells > li {
    padding: 3px 10px 3px 26px;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.___Content menu._cells code {
    vertical-align: middle;
}
.___Content menu._cells kbd {
    color: #b0b0b0;
}

/* 弹出菜单 */
.___Content menu._cmenu {
    padding: 5px 1px;
    text-shadow: 1px 1px 1px #f9f9f9;
    background-color: #eeeeed;

    /* 测试 */
    top: 20px;
    left: 340px;
}
.___Content menu._cmenu > li {
    padding: 4px 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.___Content menu kbd {
    text-align: right;
}


/* [ 主面板 ]
 ****************************************************************************/

.Slave {
    flex: 0 0 auto;
    min-height: 220px;
    background-color: #f0efef;
    display: flex;
    flex-direction: column;
}

.Slave ._tabs {
    display: flex;
    height: 36px;
    border-top: 1px #5c869c solid;
    background-color: #01839d;
    font-size: 12pt;
    color: #fff;
    padding: 4px 0 0 8px;
    box-sizing: border-box;
    align-items: flex-end;
}
.Slave ._tabs > b {
    min-width: 60px;
    border-radius: 4px 4px 0 0;
    margin: 0 2px;
    padding: 2px 6px 4px;
    cursor: default;
}
.Slave ._tabs > b:hover,
.Slave ._tabs > b._press {
    background-color: #f0efef;
    color: #000;
    font-weight: bold;
}
.Slave ._tabs > b._close {
    min-width: 16px;
    align-self: center;
    padding: 8px 11px;
    margin-left: auto;
    border-radius: 0;
    margin-top: -6px;
    margin-right: 0;
}
.Slave ._tabs > b._close:hover {
    background-color: #127891;
}


/* 共享部分 */
.Slave > form {
    flex: 1 1 0;
    display: flex;
    padding: 10px 12px;
    /* 方便子内容滚动 */
    overflow-y: hidden;
}
.Slave > form > div {
    display: flex;
}
.Slave ._roll {
    flex: 1 1 120px;
    min-width: 120px;
    max-width: 200px;
    margin-right: 14px;
    flex-direction: column;
}
.Slave ._where {
    height: 32px;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 8px 2px 6px;
}
.Slave ._where > label {
    padding: 3px 6px;
    border-radius: 3px;
}
.Slave ._where > label:hover {
    background-color: #e3e3e3;
}
.Slave ._body > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Slave ._body header {
    margin-bottom: 7px;
}
.Slave ._body ._list {
    border: 1px #7dbcdb solid;
    border-radius: 5px 1px 1px 5px;
    background-color: #fff;
    overflow-y: auto;
}
.Slave ._body > aside {
    flex: 1 1 auto;
    min-width: 125px;
    margin-left: 16px;
}
.Slave ._option > * {
    display: block;
    margin-bottom: 5px;
}
.Slave ._submit {
    min-width: 100px;
    /* 底端对齐 */
    margin-top: auto;
}
.Slave ._submit label {
    margin-bottom: 4px;
}

.Slave hr {
    border: 1px #d5d5d5 solid;
    border-bottom-color: #f8f8f8;
    margin: 8px 0;
}


/* [ 内容面板 ]
 ****************************************************************************/
.Inputs > ._body,
.Attrs > ._body,
.Script > ._body {
    flex: 6 6 600px;
}
.Inputs ._empty {
    color: #ccc;
    align-items: center;
}
.Inputs ._empty > p {
    width: 100%;
    text-align: center;
}


/* 表格 */
.Inputs ._main {
    flex: 5 5 420px;
}
.Inputs > ._table header,
/* 插图 */
.Inputs > ._figure header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    align-items: center;
}
.Inputs header > aside {
    display: flex;
    align-items: center;
    min-width: 140px;
}
.Inputs ._table select {
    min-width: 70px;
}

/* 片区 */
.Inputs ._section textarea {
    /*fix: firefox */
    flex: 1 1 50px;
}
.Inputs ._section textarea:last-child {
    margin-top: 7px;
}

/* 线条 */
.Inputs ._lines {
    padding: 5px 15px;
    flex: 1 1 auto;
    outline: none;
}
.Inputs ._lines > b {
    margin: 4px auto;
    border-radius: 16px;
}
.Inputs ._lines > b:hover {
    background-color: #ddd;
}
.Inputs ._lines hr {
    height: 0;
    width: 92%;
    border-width: 10px;
}

/* 空白块 */
.Inputs ._space div[role=space] {
    flex: 1 1 auto;
    color: #ccc;
}

/* 文本字符 */
.Inputs ._chars ._list span {
    display: block;
    padding-bottom: 5px;
}
.Inputs ._chars span > b {
    float: left;
    width: 35px;
    height: 35px;
    margin: 5px 0 0 5px;
    background-color: #f3f3f3;
    border-radius: 3px;
    cursor: default;
}
.Inputs ._chars b:hover {
    background-color: #ddd;
}
.Inputs ._zoomin {
    width: 120px;
    height: 120px;
    border: 1px #ccc solid;
    background-color: #fff !important;
    border-radius: 6px;
    font-size: 90px;
}
.Inputs ._chars ._info {
    color: #999;
    font-size: 10pt;
    margin-left: 4px;
}
.Inputs ._chars ._info i {
    font-style: normal;
}

/* 内联：属性清单 */
.Inputs ._inlines table {
    border-spacing: 10px;
    margin: 5px auto;
    width: 96%;
}
.Inputs ._inlines th {
    text-align: right;
}
.Inputs ._inlines td._preview {
    height: 120px;
    padding: 5px;
    border: 1px #888 solid;
    background-color: #999;
}

/* 共享：优先 */
.Inputs ._body b._press {
    background-color: #84ebce;
}


/* [ 样式 ]
 ****************************************************************************/

.Styles ._icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 15px;
    margin: 3px 16px 3px 12px;
    max-height: 234px;
}
.Styles select._list {
    min-width: 150px;
}

/* 清除按钮 */
.Styles ._erase {
    text-align: center;
    padding: 4px;
    border: 1px #ddd solid;
    border-radius: 6px;
    cursor: pointer;
}
.Styles ._erase > b {
    width: 100%;
    height: 100%;
    border: 1px #ccc dotted;
    background-color: #ffc;
    color: #ddd;
    box-sizing: border-box;
    padding: 1px;
}
.Styles ._erase > b:hover {
    border: 1px #ecc solid;
    color: #999;
}
/* 垂直清除 */
.Styles ._fontview ._erase,
.Styles ._color ._erase {
    writing-mode: vertical-rl;
    width: 28px;
    margin-left: 10px;
}

/* 字形 */
.Styles ._fontview ._list {
    padding: 10px;
    justify-content: start;
}
.Styles div._list > label {
    padding: 5px;
    border-radius: 3px;
}
.Styles div._list > label:hover {
    background-color: #9ce2d0;
}

.Styles div._list small {
    color: #999;
}

/* 对齐 */
.Styles ._align ._v {
    margin-left: 14px;
}
.Styles ._align label {
    color: #82bec9;
    font-style: italic;
    padding-left: 6px;
}

/* 边距 */
.Styles ._where {
    height: 34px;
    background-color: #d1dadc;
    border-radius: 5px 5px 0 0;
    margin-bottom: -3px;
}

/* 颜色 */
.Styles ._cbox {
    width: 240px;
}
.Styles ._g16 {
    height: 16px;
    margin-bottom: 2px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}
.Styles ._c216 {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(36, 1fr);
}
.Styles ._cbox b {
    border: 1px transparent solid;
}
.Styles ._cbox b:hover {
    border-color: #999;
}
.Styles ._color ._submit {
    margin-left: 12px;
    /* 覆盖共享值 */
    display: block;
}
.Styles ._color > aside {
    width: 135px;
    padding: 5px 10px;
    border: 1px #ccc dotted;
    border-radius: 5px;
}
.Styles ._color ._assign {
    margin-bottom: 25px;
}
.Styles ._color ._aim {
    display: flex;
    justify-content: space-around;
}
.Styles ._color ._custom {
    flex: 1 1 auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    max-height: 140px;
}
.Styles ._color ._tips {
    color: #aaa;
    font-size: 8pt;
    text-align: center;
    margin-bottom: 2px;
}
.Styles ._color ._pick {
    flex: 1 1 auto;
    border-radius: 30px;
}
.Styles ._color ._pick > input {
    opacity: 0;
    width: 100%;
    height: 100%;
}


/* [ 特性 ]
 ****************************************************************************/
.Attrs > ._roll {
    min-width: 140px;
}
.Attrs ._name {
    display: grid;
    grid-template-columns: auto 30px;
    height: 26px;
    margin-bottom: 5px;
    margin-top: 1px;
}
.Attrs ._name ._add {
    border: 1px #93c8e2 solid;
    background-color: #35bf58;
    border-radius: 0 3px 3px 0;
    color: #fff;
    font-size: 16px;
    margin-left: -3px;
    outline: none;
}
.Attrs ._name ._add:hover {
    background-color: #0fd440;
}
.Attrs > ._body > ._main {
    flex: 5 5 400px;
}


/* [ 源码 ]
 ****************************************************************************/

.Source ._main {
    flex: 5 5 450px;
}
.Source ._option > button {
    background-color: #fceabf;
    border-color: #ddbb56;
    border-radius: 0 16px;
}
.Source ._option > button:hover {
    background-color: #fff1d1;
}
.Source ._info {
    font-size: 12px;
    border: 1px #e6e6e6 solid;
    background-color: #f3f3f3;
    border-radius: 2px;
    padding: 4px 8px;
    margin-top: 8px;
    min-height: 50px;
    max-height: 80px;
    overflow: hidden;
}
.Source ._info._ok {
    color: #093;
}
.Source ._info._err {
    color: #a00;
    cursor: pointer;
}


/* [ 脚本 ]
 ****************************************************************************/
.Script ._env {
    width: 90px;
    flex-direction: column;
    padding: 5px;
}
.Script ._env > label {
    margin-bottom: 4px;
}
.Script ._env > label:last-child {
    color: #b30;
}
.Script > ._body > ._main {
    flex: 5 5 450px;
}
.Script ._main ._prefix {
    width: 70%;
}
.Script ._icons > b {
    width: 28px;
    height: 28px;
    border-radius: 14px;
}
.Script ._icons > b:hover {
    background-color: #e6e6e6;
}


/* [ 状态栏 ]
 ****************************************************************************/
.Status {
    flex: 0 0 auto;
    display: flex;
    height: 32px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top: 1px #7c9eb0 solid;
    background-color: #eee;
    font-size: 12px;
}
.Status > div {
    border: 1px #c9c9c9 solid;
    margin: 3px 0 3px 4px;
    background-color: #efefdf;
    cursor: default;
    line-height: 22px;
    white-space: nowrap;
    border-radius: 2px;
}

.Status > ._tips {
    min-width: 120px;
    max-width: 220px;
    flex: 1 1 auto;
    padding-left: 5px;
    overflow: hidden;
}

.Status > ._cmdx,
.Status > ._help {
    width: 24px;
    flex: 0 0 auto;
    position: relative;
    cursor: pointer;
    font-size: 16px;
}
.Status > ._cmdx > code,
.Status > ._help > b {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
}
.Status > ._cmdx > code {
    color: #0b6;
    font-weight: bold;
}
.Status #cmd-chars {
    width: 100%;
    position: absolute;
    bottom: 28px;
    display: flex;
    flex-direction: column-reverse;
    border: 1px #bcd solid;
    border-radius: 10px 10px 0 0;
    background-color: #eee;
    padding-top: 8px;
}
.Status #cmd-chars > b {
    border-top: 1px #809cbc solid;
}
.Status #cmd-chars > b:hover {
    background-color: #444;
    color: #eee;
}

.Status > ._cmdline {
    flex: 12 12 500px;
}
.Status > ._cmdline > input {
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    background-color: #ffffe5;
    padding: 0 5px;
    border-radius: inherit;
    float: left;
}

.Status > ._err {
    flex: 1 1 auto;
    border-color: transparent;
    overflow: hidden;
}

.Status > ._help {
    border-color: transparent;
    margin: 3px;
}
.Status > ._help > b {
    color: #c30;
}


/* [ 模态页/框 ]
 ****************************************************************************/
.Modal {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 100;
    border-radius: inherit;
    border: 4px #777 solid;
}



.___Panel.Modal ._dialog {
    border-radius: 3px;
    border: 1px #1A4E84 solid;
    box-shadow: 1px 5px 12px #555;
}
.___Panel.Modal ._dialog ._close {
    margin-top: 6px;
    margin-right: 10px;
}
.___Panel.Modal h5 {
    height: 28px;
    padding: 7px 0 0 14px;
    margin: 0;
    color: #ddd;
    font-weight: normal;
    border: 1px #1A4E84 solid;
    background-color: rgba(22,66,111,0.9);
}
.___Panel.Modal h5 > span {
    margin-left: 6px;
}
.___Panel.Modal h5 + div {
    background-color: #fff;
    padding: 10px;
    height: calc(100% - 37px);
}
.___Panel.Modal ._prop {
    /* -h5,-_btns,-padding */
    height: calc(100% - 136px);
    padding: 5px 8px 20px;
}
.___Panel.Modal ._prop > table {
    margin-top: 5px;
    width: 99%;
    height: auto;
}
.___Panel.Modal input[type=text] {
    padding: 2px 5px;
}
.___Panel.Modal ._prop th {
    width: 20%;
    text-align: right;
    padding: 2px 4px 0 0;
    color: #666;
}
.___Panel.Modal ._prop td {
    width: 74%;
    padding: 2px 0;
}
.___Panel.Modal ._btns {
    height: 75px;
    border-top: 1px solid #aaa;
    background-color: #eee;
    border-radius: 0 0 3px 3px;
}
.___Panel.Modal ._btns span {
    margin: 22px 12px;
}
.___Panel.Modal ._note {
    padding: 5px 10px;
    border: 1px #ccc solid;
    background-color: #f0f0f0;
    border-radius: 3px;
    margin: 0 5px;
    color: #666;
    text-shadow: 0 1px 1px #fff;
}
.___Panel.Modal ._note ._name {
    font-weight: bold;
}
.___Panel.Modal ._button:hover {
    background-color: #fff;
}

.___Panel.Modal ._warn {
    border-bottom: 1px #f93 dotted;
}
.___Panel.Modal li {
    padding: 4px 12px;
    cursor: default;
    color: #222;
}
.___Panel.Modal li:first-child {
    padding-top: 8px;
}
.___Panel.Modal ._page ._xbox {
    background-color: #e8ecf1;
}
.___Panel.Modal ._page ._btns {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.___Panel.Modal ol,
.___Panel.Modal ul {
    background-color: #fff;
    border-radius: 4px;
}
.___Panel.Modal ._code {
    font-size: 12px !important;
    color: #222;
    line-height: 1.3em;
}

/* 脚本清单 */
.___Panel.Modal ._sh {
    height: 100%;
}
.___Panel.Modal ._sh ol {
    padding-left: 70px;
    padding-bottom: 2px;
    overflow-y: auto;
    resize: none;
    height: calc(100% - 38px);
}
.___Panel.Modal ._sh code {
    display: block;
    cursor: pointer;
    color: #036;
}
.___Panel.Modal ._sh li {
    margin: 0 2px;
}
.___Panel.Modal ._sh li:nth-child(even) {
    background-color: #eee;
}
.___Panel.Modal ._sh ._note {
    border-width: 0;
    background-color: transparent;
}
.___Panel.Modal ._search {
    margin-bottom: 8px;
}
.___Panel.Modal ._search ._text {
    padding: 3px 12px;
    border-radius: 12px;
    outline: none;
    width: calc(100% - 70px);
    margin-left: 10px;
}
.___Panel.Modal ._search ._icon {
    width: 48px;
    height: 22px;
    border: 1px transparent solid;
    background: transparent url('images/search.png') no-repeat;
    background-size: 34px;
    margin-top: 2px;
    cursor: pointer;
}

/* 脚本运行结果 */
.___Panel.Modal ._info {
    height: calc(100% - 5px);
}
.___Panel.Modal ._info b {
    /* 预览恢复 */
    font-weight: bold;
}
.___Panel.Modal ._info li._data {
    overflow-y: auto;
    resize: none;
    height: calc(100% - 147px);
    border-top: 3px #ddd double;
    padding-top: 6px;
}
.___Panel.Modal ._info li > b {
    color: #096;
}
.___Panel.Modal ._info div {
    color: #000;
}
.___Panel.Modal ._info ._error {
    color: #000;
    padding: 0 6px;
}
.___Panel.Modal ._info ._warn {
    color: #d00;
    padding: 0 6px;
}

/* 单行文本框 */
.___Panel.Modal ._small ._xbox {
    height: 70px;
    padding: 0 20px;
}
.___Panel.Modal ._small ._xbox input {
    margin-top: 14px;
    padding: 4px;
    width: 99%;
}



/* 菜单
 * 注：后置样式覆盖。
 ****************************************************************************/
menu {
    border-radius: 2px;
    box-shadow: 1px 1px 3px #444;
    font-size: 11pt;
    margin: 0;
    padding: 0;
    cursor: default;
    outline: none;
}

menu > hr {
    margin: 5px;
    border: 1px #c3c3c3 solid;
    border-bottom-color: #f3f3f3;
}
menu > li {
    list-style: none;
    border-radius: inherit;
}
menu > li > b {
    font-weight: normal;
    min-width: 60px;
}

menu li:hover,
menu li:hover * {
    background-color: #444 !important;
    color: #fff !important;
    text-shadow: none;
}

/* 快捷键位 */
menu li > kbd {
    color: #999;
}
