/* irons-x.css 2014.10.30 Articlejs.Style $
 *****************************************************************************
    @name   铁树开花
    @Author zhliner@gmail.com @2019.04.16
 *****************************************************************************/


/* block */
header, section, footer, article, figure, figcaption, hgroup, aside, details {
    display: block;
}

/* 兼容性 */
.Main * {
    line-height: 170%;
}
.Main img,
.Main video {
    display: inline-block;
    margin: 0;
}


/* [ 全局 ]
 ****************************************************************************/

.Main {
    font-size: 11pt;
}

.Main dt {
    margin: 8px 0 2px;
}
.Main dd {
    margin-left: 2em;
}
.Main li {
    margin: 0.8em 0;
}

/* 级联表 */
.Main li > h5 {
    margin: 2px 0;
    display: inline;
}
.Main li > ul,
.Main li > ol {
    padding-left: 22px;
}

/* 列表段落 */
.Main li > p {
    margin: 6px auto;
}


/* [ 固定 ] - 慎改
 ****************************************************************************/

/* 表格边框 */
.Main table {
    border-collapse: collapse;
}
.Main table,
.Main th,
.Main td {
    border: 1px solid #666;
}
/* 无边框 */
.Main table._tb0,
.Main table._tb0 td {
    border-width: 0;
}
/* 普通 */
.Main table._tb1 {
    /* 默认值 */
}
/* 内边框
 * 技巧：外框原宽度 +1px，框色透明
 */
.Main table._tb2 {
    border-width: 2px;
    border-color: transparent;
}
/* 上接边框 */
.Main table._tb3 {
    border-top-width: 2px;
    border-top-color: transparent;
}
/* 外边框 */
.Main table._tb4 td {
    border-width: 0;
}
/* 横（行）边框 */
.Main table._tb5 td {
    border-width: 0 0 1px 0;
}
/* 竖（列）边框 */
.Main table._tb6 td {
    border-width: 0 1px 0 0;
}


/* [ 行块 ]
 ****************************************************************************/

/* 主/页标题 */
h1 {
    color: #555;
    text-shadow: 0 1px 1px #eee;
    text-align: center;
    font-size: 26pt;
}
/* 副标题 */
hgroup > h2 {
    font-size: 14pt;
    font-style: italic;
    font-weight: normal;
    margin-top: -10px;
    margin-bottom: 30px;
    padding: 0 20px;
    color: #888;
    text-align: right;
}


/* 提要
 * --------------------------------------------------------------------------
 * header.abstract/h3, p+
 */
header.abstract {
    border: 1px #eee solid;
    border-radius: 10px;
    background-color: #f7f7f7;
    margin-bottom: 2em;
    padding: 10px 30px;
    box-shadow: #ccc 0 1px 6px;
}
header.abstract > h3 {}
header.abstract p {
    font-size: 11pt;
}


/* 目录
 * --------------------------------------------------------------------------
 * nav.toc/ol.cascade/li/a
 */
nav.toc {
    padding: 5px;
    background-color: #fffff7;
    border: 1px #e3e3e0 solid;
    display: inline-block;
    border-radius: 4px;
    font-size: 10pt;
    box-shadow: 1px 1px 4px #bbb;
}

/* 页面固定 */
nav.toc {
    position: fixed;
    top: 5px;
    left: 20px;
    background-color: rgba(245, 245, 245, 0.7);
    height: 96%;
}

nav.toc>ol.cascade {
    height: calc(100% - 80px);
    overflow-y: auto;
}

nav.toc h4 {
    margin: 5px 2px;
    padding-bottom: 10px;
    font-size: 12pt;
    text-align: center;
    border-bottom: 1px #ddd dotted;
    color: #333;
}

nav.toc h4>a:hover {
    text-decoration: none;
}

nav.toc>ol {
    margin: 2px 0;
    padding: 5px 2px;
    padding-bottom: 11pt;
}

nav.toc li {
    margin: 0;
    line-height: 150%;
}

nav.toc>ol li {
    margin-left: 2em;
}

nav.toc a {
    display: block;
    text-decoration: none;
    color: #039;
    line-height: 150%;
}

nav.toc a:hover {
    text-decoration: underline;
}


/* 多级编号表
 * --------------------------------------------------------------------------
 * ol.cascade/li/h5, ol/...
 */
ol.cascade,
ol.cascade ol {
    list-style-type: none;
    counter-reset: numer;
    padding: 0;
}

ol.cascade h5 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}

ol.cascade li:before {
    position: absolute;
    top: 0;
    left: 0;
    content: counters(numer, '.') '.';
    counter-increment: numer;
    white-space: nowrap;
}

ol.cascade li {
    position: relative;
}

/* 1. */
ol.cascade>li {
    /* 缩进，与序号宽度适配 */
    margin-left: 3.0em;
}

ol.cascade>li:before {
    margin-left: -3.0em;
}

/* 1.2 */
ol.cascade>li>ol>li {
    margin-left: 3.0em;
}

ol.cascade>li>ol>li:before {
    margin-left: -3.0em;
}

/* 1.2.3 */
ol.cascade>li>ol>li>ol>li {
    margin-left: 3.5em;
}

ol.cascade>li>ol>li>ol>li:before {
    margin-left: -3.5em;
}

/* 1.2.3.4 */
ol.cascade>li>ol>li>ol>li>ol li {
    margin-left: 4.2em;
}

ol.cascade>li>ol>li>ol>li>ol li:before {
    margin-left: -4.2em;
}

/* 编号右对齐 */
ol.cascade li:before {
    width: 2.5em;
    padding: 0;
    text-align: right;
}


/* 另参见 */
ul.seealso {}

/* 文献参考 */
ol.references {}


/* [ 通用 ]
 * --------------------------------------------------------------------------
 */

/* 段落 */
p {
    margin: 15px auto;
}

/* 地址 */
.Main address {
    padding: 2px;
}


/* 章节区段末
 * 用逐层递进定位可能的正文区。
 * --------------------------------------------------------------------------
 */

.Main > section {}
.Main > section > section {}
.Main > section > section > section {}
.Main > section > section > section > section {}
.Main > section > section > section > section > section {}

/* 章：header,h2,section,footer
 * ------------------------------------
 */
.Main > h2 {
    font-size: 19pt;
    padding: 4px 14px;
    background-color: #9c0;
    border-bottom: 1px #8b0 solid;
}
.Main h2 ~ section {}

/* 节：header,h3,section,footer
 * ------------------------------------
 */
.Main section > h3 {
    font-size: 17pt;
    padding: 4px;
    border-bottom: 1px #eee solid;
}
.Main h3 ~ section {}

/* 区：header,h4,section,footer
 * ------------------------------------
 */
.Main section > h4 {
    font-size: 14pt;
    padding: 4px;
}
.Main h4 ~ section {}

/* 段：header,h5,section,footer
 * ------------------------------------
 */
.Main section > h5 {
    font-size: 11pt;
    color: #093;
    border-bottom: 1px #3c6 dotted;
}
.Main h5 ~ section {}

/* 末：header,h6,section,footer
 * ------------------------------------
 */
.Main section > h6 {
    font-size: 10pt;
    color: #036;
}
.Main h6 ~ section {}


/* 定义列表
 * --------------------------------------------------------------------------
 */

/* 定义列表 */
.Main dl {}
.Main dl > dt {
    font-weight: bold;
}
.Main dl > dd {
    background-color: #f3f3f3;
    border: 1px #ccc dotted;
    padding: 0 8px;
    border-radius: 3px;
}
.Main dl > dd > p {
    margin: 5px auto;
}


/* 插画
 * --------------------------------------------------------------------------
 * figure/figcaption, p/img, svg
 */
.Main figure {
    padding: 0;
    margin: 0;
}
/* 顶部标题粗体 */
.Main figure > figcaption:first-child {
    font-weight: bold;
}
/* 底部标题居中 */
.Main figure > figcaption:last-child {
    text-align: center;
}
.Main figure > p {
    overflow: auto;
}
/* 插图居中（不影响文本块） */
.Main figure > p > img {
    display: block;
    margin: 0 auto;
    border: 1px #ccc solid;
    padding: 1px;
}


/* 引用块
 * --------------------------------------------------------------------------
 * blockquote/h4, p+
 */
.Main blockquote {
    margin: 0 24px;
    padding-left: 20pt;
    border-left: 8px #e7e7f0 solid;
}
.Main blockquote > h4 {}


/* 批注块
 * --------------------------------------------------------------------------
 * aside/h4, p+
 */
.Main aside {}
.Main aside > h4 {}


/* 详细内容
 * --------------------------------------------------------------------------
 * [details/summary, section/~]
 */
.Main details {}
.Main details > summary {}
.Main details > section {}


/* 导言
 * --------------------------------------------------------------------------
 * header/h4, p+
 */
.Main header {
    padding: 2px;
}


/* 尾注
 * --------------------------------------------------------------------------
 * footer/h4, p+
 */
.Main footer {
    padding: 2px;
}


/* 线条
 * --------------------------------------------------------------------------
 */
.Main hr {
    height: 0;
    margin: 14px 0;
    border-top: 1px #666 solid; /* 默认 */
}

/* 章间隔 */
.Main > hr {
    margin: 50px auto 40px;
    border-top: 1px #e0e0e0 solid;
    box-shadow: #888 0px -10px 12px;
}


/* 表格元件
 * --------------------------------------------------------------------------
 */
.Main caption,
.Main th,
.Main td {
    padding: 2px;
}
.Main caption {
    font-weight: bold;
}


/* [ 内联 ]
 ****************************************************************************/

.Main img {
    margin: 4px 6px;
    vertical-align: top;
    border-radius: 5px;
}
.Main img:hover {
    box-shadow: 1px 1px 4px #bbb;
}


/* 音频/视频/图画 */
.Main audio {
    vertical-align: text-bottom;
}
.Main video {
    vertical-align: text-bottom;
}
.Main picture {}


/* 表情 */
.Main code.orz {
    display: inline-block;
    padding: 0 4px;
    font-family: monospace;
    white-space: pre;
    vertical-align: middle;
    line-height: 100%;
}


/* 代码（总）
 * --------------------------------------------------------------------------
 */

.Main code {
    word-wrap: break-word;
    background-color: #eee;
    margin: 0 2px;
    padding: 1px 5px;
    border-radius: 2px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border: 1px #ddd solid;
}

.Main code[data-lang] {
    border: 1px #e8e8e8 solid;
}

/* 代码块
 * ------------------------------------
 * pre.codeblock/code/b
 */
.Main pre > code {
    display: block;
    padding: 5px 10px;
    font-size: 10pt;
    border-radius: 4px;
    line-height: 1.5em;
    overflow-x: auto;
    box-shadow: #ccc 0px 2px 4px;
}

/* 代码表
 * ------------------------------------
 * ol.codelist/li/code
 * 超长默认换行。
 */
.Main ol.codelist {
    font-size: 10pt;
    padding: 0;
    border: 1px #ddd solid;
    background-color: #eef;
    margin: 0;
    padding-left: 50px;
    color: #888;
    border-radius: 3px;
    overflow-x: auto;
    resize: none;
}
.Main ol.codelist li {
    margin: 0;
    padding: 0;
    border-left: 3px #dde solid;
    line-height: 120%;
}
.Main ol.codelist code {
    margin: 0;
    color: #000;
    white-space: pre;
    word-break: break-all;
    background-color: transparent;
    display: block;
    border-width: 0;
}

/* 高亮着色：通用
 * ------------------------------------
 */
code b {
    font-weight: normal;
}
/* comments */
code b.cmt {
    color: #393;
}

/* string */
code b.str {
    color: #03c;
}

/* keywords */
code b.kws {
    color: #900;
    font-weight: bold;
}

/* tag-name */
code b.tag {
    color: #d03;
    font-weight: bold;
}

/* #id|.clsname|:hover */
code b.slr {
    color: #06d;
}

/* #fff #f0f0f0 */
code b.c16 {
    color: #692d1c;
}

/* attribute */
code b.atn {
    color: #090;
}

/* attribute-value */
code b.atv {
    color: #36c;
}

/* function */
code b.fun {
    color: #f3e;
}

/* data-type */
code b.typ {
    color: #09c;
}

/* css: !important
 * cpp: #include...
 * java: @interface
 * shell: #!/bin/bash
 * js: $
 */
code b.imp {
    color: #e60;
}
code b.imp:first-child {
    font-weight: bold;
}

/* <!DOCTYPE ...> */
code b.doc {
    color: #bb5;
}

/* <![CDATA[..]]> */
code b.cdt {
    color: #960;
}

/* RegExp */
code b.rex {
    color: #e60;
}

/* invalid */
code b.non {
    color: #c00;
}

/* 高亮覆盖
 * ------------------------------------
 */
code[data-lang="css"] b.tag {
    color: #f0b;
    font-weight: normal;
}

code[data-lang="html"] b.imp,
code[data-lang="js"] b.imp {
    color: #e06;
    font-weight: bold;
}
